<template>
    <section>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-heading">
                    {{ $t('event.Categories') }}
                </div>
                <div class="panel-body" v-if="Object.keys(categories).length > 0">

                    <table class="table">
                        <tbody>
                            <tr v-for="(value, name) in categories" :key="name">
                                <th>{{ name }}</th>
                                <td class="text-right">{{ value }}</td>
                                <td class="text-right">{{ percentCategory(value) }}%</td>
                            </tr>
                        </tbody>
                    </table>

                    <categories-pie :categories="categories" height="200px"></categories-pie>
                </div>
                <div class="panel-body" v-else>
                    <p class="text-center">{{ $t('event.NoCategories') }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-heading">
                    {{ $t('event.GuestsStatistics') }}
                </div>
                <div class="panel-body">

                        <table class="table" v-if="guestsStatistics!=null">
                            <tbody>
                                <tr>
                                    <th>{{ $t('guest.GuestsAllEventsImported') }}</th>
                                    <td class="text-right">{{ guestsStatistics.guests_count }}</td>
                                    <td class="text-right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('guest.InvitationsAllEventsSended') }}</th>
                                    <td class="text-right">{{ guestsStatistics.guests_invited_count }}</td>
                                    <td class="text-right">{{ percentWithImported(guestsStatistics.guests_invited_count) }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('guest.GuestsAllEventsSubscribed') }}</th>
                                    <td class="text-right">{{ guestsStatistics.guests_subscribed_count }}</td>
                                    <td class="text-right">{{ percentWithImported(guestsStatistics.guests_subscribed_count) }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('guest.GuestsAllEventsCheckedIn') }}</th>
                                    <td class="text-right">{{ guestsStatistics.guests_checkin_count }}</td>
                                    <td class="text-right">{{ percentWithImported(guestsStatistics.guests_checkin_count) }}</td>
                                </tr>
                                <tr>
                                    <th>{{ $t('guest.GuestsAllEventsDeclined') }}</th>
                                    <td class="text-right">{{ guestsStatistics.guests_declined_count }}</td>
                                    <td class="text-right">{{ percentWithImported(guestsStatistics.guests_declined_count) }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <statistic-guests-bar
                            :checkIn="guestsStatistics.guests_checkin_count"
                            :imported="guestsStatistics.guests_count"
                            :invited="guestsStatistics.guests_invited_count"
                            :subscribed="guestsStatistics.guests_subscribed_count"
                            :declined="guestsStatistics.guests_declined_count"
                            height="168px"></statistic-guests-bar>
                    </div>
                </div>
            </div>
        </div>


    </section>
</template>

<script>
    import EventStatsBar from '../event-show/EventStatsBar'
    import CategoriesPie from './CategoriesPie'

    const EventStatistics = Vue.extend({
        data () {
            return {
                guestsStatistics: null,
                categories: null
            }
        },
        props: [],
        methods: {
            percentWithImported: function(n) {
                if(this.guestsStatistics.guests_count > 0){
                    return Math.round(n / this.guestsStatistics.guests_count * 100) + '%'
                }
                else{
                    return ''
                }
            },
            percentCategory: function(n) {
                return Math.round(n / this.count_event * 100);
            }
        },
        components: {
            'statistic-guests-bar': EventStatsBar,
            'categories-pie': CategoriesPie
        },
        created: function() {
            this.guestsStatistics = JSON.parse($('#json-guests-statistics-infos').html())
            this.categories = JSON.parse($('#json-categories-statistics-infos').html())
            console.log(this.categories)
            this.count_event = 0;
            for(let c in this.categories){
                this.count_event += this.categories[c];
            }
        },
    })
    export default EventStatistics
</script>

<style type="scss" scoped>

</style>
