<template>
  <section id="survey-container" v-if="!noSurvey">
    <alert :transparent-mode="true"></alert>

    <load-box :visible="loading || !surveyLoaded"></load-box>

    <div v-if="survey" v-show="!loading && surveyLoaded">
      <survey :survey="survey"></survey>

      <button class="btn btn-primary btn-block subscribe-form-btn" data-test="subscribe-form-btn"
        @click="onSubmit"
        v-if="!filledSurvey"
        :disabled="companion === null">
          {{ subscribeForm.submit_text }}
      </button>
    </div>
  </section>
</template>

<script>

import * as SurveyVue from 'survey-vue'
import Alert from '../components/Alert'
import LoadBox from '../components/LoadBox'

import EventBus from '../tools/EventBus'
import SubscribeFormService from '../services/SubscribeFormService'
import CompanionService from '../services/CompanionService'

import ErrorParser from '../tools/ErrorParser'
import SurveyJsUtils from '../tools/SurveyJsUtils'
import UrlUtils from '../tools/UrlUtils'

import i18n from '../tools/i18n'

/**
  * Subscription Form Vue implementation for companions
  * Work with SurveyJS
  */
export default {
  name: 'advanced-subscribe-form',
  data () {
    return {
        noSurvey: false,
        loading: true,
        survey: null,
        surveyLoaded: false,
        eventId: null,
        companion: null,
        subscribeForm: null,
        locale: 'fr',
        filledSurvey: false,
        baseFieldsKeys: ['firstname', 'lastname', 'email', 'company'],
    }
  },
  computed: {
    companionHash: function() {
      let hash = this.companion == null ? null : this.companion.access_hash
      if (hash == null) {
        hash = UrlUtils.retrieveMinisiteHash()
      }
      return hash
    },
  },
  mounted () {
    this.eventId = parseInt($('#json-event-id').html())
    this.companion = $('#json-companion-infos').length > 0 ? JSON.parse($('#json-companion-infos').html()) : null
    this.locale = $('#json-language').html()

    // Getting existing surveyjs template
    this.loading = true
    SubscribeFormService.getCompanion(this.eventId, this.companionHash).then((response) => {
      if (response.data.advanced_form_companion_template == null) {
          this.noSurvey = true
          return null // if no form is saved
      }
      this.noSurvey = false
      this.subscribeForm = response.data

      // By default surveyjs thinks default locale is 'en'
      SurveyVue.surveyLocalization.defaultLocale = response.data.advanced_form_companion_template.locale

      SurveyVue.JsonObject.metaData.addProperty("html", "balise:string")

      // Setup surveyJS base properties
      SurveyVue.StylesManager.applyTheme("bootstrap") // Uses bootstrap theme
      this.survey = new SurveyVue.Model(response.data.advanced_form_companion_template) // Setup data

      // Formatting HTML blocs to get titles as wanted
      SurveyJsUtils.translateHtmlBlocks(this.survey, this.locale, JSON.parse(response.data.advanced_form_companion_template))

      this.setFormExistingValues() // Filling form with existing values

      this.survey.onComplete.add((sender, options) => {
        // options.showDataSaving()
        this.saveForm(sender.data)
          .then(r => {
            // options.showDataSavingSuccess()
          })
          .catch(e => {
            console.error(e)
            sender.clear(false) // keep user inputs
            sender.mode = "edit" // let the user edit the content
          })
      })

      this.survey.showNavigationButtons = false
      this.survey.locale = this.locale
      this.survey.showQuestionNumbers = "off"
  
      this.surveyLoaded = true
      this.loading = false
    }).catch((error) => {
      console.log("Error loading form")
      console.error(error)
      EventBus.$emit('SHOW_ERROR', error)
      this.loading = false

      throw error // for sentry loging
    })
  },
  methods: {
    saveForm: function (data, savingCallback) {
      return new Promise((resolve, reject) => {
        this.loading = true
        let extendedFields = {}
        for (let key in data) {
          if (!this.baseFieldsKeys.includes(key)) {
            extendedFields[key] = data[key]
          }
        }

        const companionData = {
          id: this.companion.id,
          firstname: data['firstname'],
          lastname: data['lastname'],
          company: data['company'],
          email: data['email'],
          extended_fields: extendedFields,
          access_hash: this.companion.access_hash
        }

        CompanionService.updateParticipation(this.eventId, companionData).then((response) => {
          this.loading = false
          this.filledSurvey = true
          this.survey.completedHtml = `<h1 data-test="form-completed-message">${i18n.getLocalTranslations().subscribeForm.Confirmed}</h1>`
          resolve(response)
        }).catch((error) => {
          this.loading = false
          console.error(error)
          ErrorParser.throwEventBusError(error)
          reject(error)
        })
      })
    },
    setFormExistingValues: function () {
      if (this.companion === null) {
        return
      }

      for (let baseFieldKey of this.baseFieldsKeys) {
        this.survey.setValue(baseFieldKey, this.companion[baseFieldKey])
      }

      if (this.companion.extended_fields != null) {
        const fields = Object.keys(this.companion.extended_fields)
        for (let field of fields) {
           if (this.survey.getQuestionByName(field)) {
              let defaultValue = this.companion.extended_fields[field]
              if (this.survey.getQuestionByName(field).getType() == "checkbox" && !Array.isArray(defaultValue)) {
                // Making an array if question type needs it
                defaultValue = [defaultValue]
              }
              this.survey.setValue(field, defaultValue)
            }
        }
      }
    },
    onSubmit: function(){
      this.survey.completeLastPage() // SurveyJS form completing managed by this.onFormSave method
    }
  },
  components: {
    'alert': Alert,
    'load-box': LoadBox
  }
}
</script>

<style scoped>

</style>
