<template>
    <section class="subscribe-form" v-if="formExists">
        <alert :transparent-mode="true"></alert>

        <load-box :visible="event == null"></load-box>
        <section v-if="event != null">
            <companion-select v-if="event.companions_limit > 0"
                class="companions-select"
                :maxPlaces="event.companions_limit"
                :emptyPlaces="event.empty_places"
                :places="companions"
                @onSelect="onCompanionSelectedChange">
            </companion-select>

            <companions-tabs-form v-if="event.nominative_companions && companions > 0 && subscribeForm != null"
                ref="companionsTabsForm"
                :places="companions"
                :eventId="event.id"
                :guestId="guestId"
                :guestHash="guestHash"
                :subscribeForm="subscribeForm"
                @onCompanionsInfosChange="onCompanionInfosChange" >
            </companions-tabs-form>

            <sessions-form
                :eventId="event.id"
                :guestId="guestId"
                :guestHash="guestHash"
                :multipleSubscribe="companions > 0"
                :maxPlaces="companions + 1"
                @onSessionsChange="onSessionsSelectedChange">
            </sessions-form>

            <vue-recaptcha v-if="guest === null"
                ref="recaptcha"
                @verify="onCaptchaVerified"
                @expired="onResetCaptcha"
                size="normal"
                :sitekey="captchaSiteKey">
            </vue-recaptcha>
        </section>

        <button class="btn btn-primary btn-block subscribe-form-btn"
            @click="onSubmit"
            :disabled="isEventFull || (captchaToken === null && guest === null)">
            <i v-if="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            <span v-else>{{ submitText }}</span>
        </button>
    </section>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha'

    import Alert from '../components/Alert'
    import LoadBox from '../components/LoadBox'

    import SessionsForm from './components/SessionsForm'
    import CompanionSelect from './components/CompanionSelect'
    import CompanionsTabsForm from './components/CompanionsTabsForm'

    import GuestService from '../services/GuestService'
    import EventService from '../services/EventService'
    import SubscribeFormService from '../services/SubscribeFormService'

    import FormbuilderDom from '../tools/FormbuilderDom'
    import EventBus from '../tools/EventBus'
    import ErrorParser from '../tools/ErrorParser'
    import UrlUtils from '../tools/UrlUtils'

    import ServerConfig from '../config/server'

    /**
     * Subscription Form Vue implementation
     * Work with FormBuilder
     * #subscribe-form-page must be in DOM, filled with formbuilder datas
     */
    const SubscribeForm = Vue.extend({
        data () {
            return {
                eventId: null, // from DOM value
                event: null,
                subscribeForm: null,
                guest: null, // from DOM value
                requiredFields: [], // from DOM value
                allowBaseFieldModification: true, // from DOM value
                isEventFull: false, // from DOM value
                loading: false,
                formExists: false,
                companionsData: null,
                sessionIds: {}, // subscribed sessions Ids with nb places
                companions: 0,
                submitText: "",
                captchaToken: null,
                captchaSiteKey: ServerConfig.reCaptchaSiteKey
            }
        },
        computed: {
            guestId: function() {
                if (this.guest == null) {
                    return null
                }
                else {
                    return this.guest.id
                }
            },
            guestHash: function() {
                let hash = this.guest == null ? null : this.guest.accessHash
                if (hash == null) {
                    hash = UrlUtils.retrieveMinisiteHash()
                }
                return hash
            },
        },
        methods: {
            onCaptchaVerified(token) {
                this.captchaToken = token
            },
            onResetCaptcha() {
                this.captchaToken = null
            },
            resetCaptcha() {
                this.$refs.recaptcha.reset()
                this.captchaToken = null
            },
            onSessionsSelectedChange: function (sessionIds) {
                this.sessionIds = sessionIds
            },
            onCompanionSelectedChange: function ({nbCompanions}) {
                this.companions = nbCompanions
            },
            onCompanionInfosChange: function({companionsData}){
                this.companionsData = companionsData
            },
            onSubmit: function () {
                this.loading = true

                // retrieve inputs
                let data = FormbuilderDom.getInput(this.requiredFields)

                // Companions are injected in the posted data
                data['companions'] = this.companions

                // Passing companionsdata if needed
                if(this.event.nominative_companions && this.companions > 0){
                    data.companionsData = this.companionsData
                }
                else {
                    data.companionsData = null
                }

                // merge data & guest
                if (this.guest != null) {
                    data.extendedFields = Object.assign({}, this.guest.extendedFields, data.extendedFields)
                }

                // validate required fields
                let errors = FormbuilderDom.checkDataRequiredFields(data)

                if (Object.keys(errors).length <= 0) {
                    if (this.guest == null) {
                        // new subscription
                        if(this.event.nominative_companions){
                            if(this.companionDataIsValid()){
                                this.registerGuest(data, this.eventId)
                            }
                        }else{
                            this.registerGuest(data, this.eventId)
                        }
                    }
                    else {
                        // subscribe guest
                        if(this.event.nominative_companions){
                            if(this.companionDataIsValid()){
                                this.subscribeGuest(data, this.guest)
                            }
                        }
                        else{
                            this.subscribeGuest(data, this.guest)
                        }
                    }
                }
                else {
                    EventBus.$emit('SHOW_ERROR', ErrorParser.formatErrorList(errors))
                    this.loading = false
                }
            },
            initForm: function () {

                if(!this.allowBaseFieldModification){
                    FormbuilderDom.setBaseFieldReadOnly()
                }

                // set default values
                if(this.guest != null) {
                    this.companions = this.guest.nbCompanions
                    FormbuilderDom.setDefaultValues(this.guest, this.requiredFields)
                }

                // assures compatibility with old forms
                FormbuilderDom.removeSubmitButton()
            },
            registerGuest: function (data, eventId) {
                this.loading = true
                GuestService.register(data, this.sessionIds, eventId, this.captchaToken).then((response) => {
                    this.resetCaptcha()
                    EventBus.$emit('SHOW_SUCCESS', response.data.message)
                    this.loading = false
                }).catch((error) => {
                    this.resetCaptcha()
                    this.loading = false
                    this.catchError(error)
                })
            },
            subscribeGuest: function (data, guest) {
                this.loading = true
                GuestService.subscribe(data, this.sessionIds, guest.id, guest.event_id, guest.accessHash).then((response) => {
                    EventBus.$emit('SHOW_SUCCESS', response.data.message)
                    this.loading = false
                }).catch((error) => {
                    this.loading = false
                    this.catchError(error)
                })
            },
            companionDataIsValid: function(){
                let errors = []
                for (let companion of this.companionsData) {
                    if(!companion.valid){
                        errors.push(companion)
                    }
                }

                if(errors.length > 0){
                    this.$refs.companionsTabsForm.spreadErrors(errors)
                    this.loading = false
                    return false
                }

                return true
            },
            catchError: function (error) {
                EventBus.$emit('REFRESH_SESSIONS')
                ErrorParser.throwEventBusError(error)
            }
        },
        created: function() {
            // check all is set
            if($('#subscribe-form-page').length === 0) {
                throw "Subscribe form doesn't exists on page"
            }

            // retrieve DOM datas
            this.eventId = parseInt($('#json-event-id').html())
            this.guest = $('#json-guest-infos').length > 0 ? JSON.parse($('#json-guest-infos').html()) : null
            this.companions = this.guest == null ? 0 : this.guest.companions
            this.requiredFields = JSON.parse($('#json-required-fields').html())
            this.allowBaseFieldModification = JSON.parse($('#json-allow-basefield-modification').html()) == '1'
            this.isEventFull = $('.alert-event-full').length > 0
            this.submitText = $('#json-subscribe-form-submit-text').html()

            // Init
            this.initForm()

            EventService.retrieve(this.eventId, this.guestHash).then((response) => {
                this.event = response.data
            }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', error)
            })

            SubscribeFormService.get(this.eventId, this.guestHash).then((response) => {
                this.subscribeForm = response.data
            }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', error)
            })

            this.formExists = FormbuilderDom.checkExists()
        },
        components: {
            'alert': Alert,
            'sessions-form': SessionsForm,
            'companion-select': CompanionSelect,
            'load-box': LoadBox,
            'vue-recaptcha': VueRecaptcha,
            'companions-tabs-form': CompanionsTabsForm
        }
    })
    export default SubscribeForm
</script>

<style scoped>
.subscribe-form-btn{
  margin-top: 10px;
}
</style>
