<template>
  <div id="survey-container" v-if="!noSurvey">
    <alert :transparent-mode="true"></alert>

    <div v-if="survey" v-show="!dataSending">
      <survey :survey="survey"></survey>
    </div>

    <load-box :visible="dataSending || event == null || !surveyLoaded"></load-box>
    <section v-show="!dataSending" v-if="event != null && !filledSurvey && surveyLoaded">
      <companion-select 
        v-if="event.companions_limit > 0"
        class="companions-select"
        :maxPlaces="event.companions_limit"
        :emptyPlaces="event.empty_places"
        :places="companions"
        :eventNominativeCompanion="event.nominative_companions"
        @onSelect="onCompanionSelectedChange">
      </companion-select>

      <companions-tabs-form v-if="event.nominative_companions && companions > 0"
        ref="companionsTabsForm"
        :places="companions"
        :eventId="event.id"
        :guestId="guestId"
        :guestHash="guestHash"
        :subscribeForm="subscribeForm"
        @onCompanionsInfosChange="onCompanionInfosChange">
      </companions-tabs-form>

      <div v-if="hadGroups && event.one_mandatory_category_session && atLeastOneNominativeSessionInGroupSelected == atLeastOneSessionInGroupSelected" 
            class="alert alert-danger margin-tb-5">
        {{$t('sessionForm.mandatory_category_subscription')}}
      </div>

      <nominative-sessions-form v-if="event.nominative_companions"
        :event="event"
        :guest="formGuest"
        :companions="companionsList"
        @selectionChange="onNominativeSessionsSelectionChange">
      </nominative-sessions-form>

      <sessions-form v-else
        :eventId="event.id"
        :guestId="guestId"
        :guestHash="guestHash"
        :multipleSubscribe="companions > 0"
        :maxPlaces="companions + 1">
      </sessions-form>
      
      <template v-if="visibleRecaptcha">
        <vue-recaptcha v-if="guest == null && !(event == null || !surveyLoaded)"
            ref="recaptcha"
            @verify="onCaptchaVerified"
            @expired="onResetCaptcha"
            size="normal"
            :sitekey="captchaSiteKey">
        </vue-recaptcha>
      </template>
      
      <button class="btn btn-primary btn-block subscribe-form-btn" data-test="subscribe-form-btn"
        @click="onSubmit"
        :disabled="isEventFull || (captchaToken == null && visibleRecaptcha && guest == null) || disableValidationAndSubscribeButton">
        <i v-if="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        <span v-else>{{ submitText }}</span>
      </button>
    </section>
  </div>

</template>

<script>

import * as SurveyVue from 'survey-vue'
import VueRecaptcha from 'vue-recaptcha'

import Alert from '../components/Alert'
import LoadBox from '../components/LoadBox'

import NominativeSessionsForm from './components/NominativeSessionsForm'

import SessionsForm from './components/SessionsForm'
import CompanionSelect from './components/CompanionSelect'
import CompanionsTabsForm from './components/CompanionsTabsForm'

import SubscribeFormService from '../services/SubscribeFormService'
import GuestService from '../services/GuestService'
import EventService from '../services/EventService'

import ErrorParser from '../tools/ErrorParser'
import EventBus from '../tools/EventBus'
import i18n from '../tools/i18n'
import ServerConfig from '../config/server'

import SurveyJsUtils from '../tools/SurveyJsUtils'
import UrlUtils from '../tools/UrlUtils'

import { mapGetters, mapMutations, mapState } from 'vuex'

/**
  * Subscription Form Vue implementation
  * Work with SurveyJS
  */
export default {
  name: 'advanced-subscribe-form',
  data () {
    return {
      surveyLoaded: false,
      isEventFull: false, // Are there still free places for the vent (from DOM value)
      event: null,        // The current event and its properties (API called)
      subscribeForm: null,
      survey: null,       // The current survey and its properties (API called)
      loading: false,
      companions: 0,
      companionsData: null,
      filledSurvey: false, // To know if the form was filled and submitted (used to hide sessions section)
      submitText: "",
      captchaToken: null,
      captchaSiteKey: ServerConfig.reCaptchaSiteKey,
      noSurvey: false,
      dataSending: false,
      firstnameForm: null,
      lastnameForm: null,
      baseFieldsKeys: ['firstname', 'lastname', 'company', 'email'],
      locale: null,
      visibleRecaptcha: true,
    }
  },
  computed: {
    companionsList: function() {
      if (this.companionsData == null) {
        return []
      }
      return this.companionsData.slice(0, this.companions)
    },
    guestId: function() {
      if (this.guest == null) {
        return null
      }
      else {
        return this.guest.id
      }
    },
    guestHash: function() {
      let hash = this.guest == null ? null : this.guest.accessHash
      if (hash == null) {
        hash = UrlUtils.retrieveMinisiteHash()
      }
      return hash
    },
    formGuest: function() {
      if(this.guest != null) {
        return this.guest
      }
      else {
        return {
          id: null,
          firstname: this.firstnameForm,
          lastname: this.lastnameForm
        }
      }
    },
    ...mapGetters('sessions', [
      'mandatorySessions',
      'selectedCounter',
      'atLeastOneSelectedPerMandatoryGroup',
      'groups',
      'sessionsIds',
      'nomitativeSessionsSelected',
      'nominativeMandatoryGroupsAreSelected',
      'nominativeSessionIds',
      'eventSessions',
      'atLeastOneSessionInGroupSelected',
      'atLeastOneNominativeSessionInGroupSelected'
    ]),
    disableValidationAndSubscribeButton: function(){
      if(this.eventSessions.length < 1) return false;

      if(this.event.nominative_companions){
        
        if(this.groups.length > 0){
          return this.event.one_mandatory_category_session && 
                 !this.atLeastOneNominativeSessionInGroupSelected ||
                 !this.nominativeMandatoryGroupsAreSelected;
        }

        return this.mandatorySessions && this.nomitativeSessionsSelected < 1;
      } 

      if(this.groups.length > 0){
        return  this.event.one_mandatory_category_session &&
                !this.atLeastOneSessionInGroupSelected ||
                !this.atLeastOneSelectedPerMandatoryGroup;
      }
      
      return this.mandatorySessions && this.selectedCounter < 1;
    },
    hadGroups: function () {
      return this.groups.length > 0;
    },
  },
  mounted () {
    // Getting informations from DOM
    this.companions = this.guest == null ? 0 : this.guest.nbCompanions
    this.isEventFull = $('.alert-event-full').length > 0
    this.submitText = $('#json-subscribe-form-submit-text').html()
    this.locale = $('#json-language').html()

    EventService.retrieve(this.eventId, this.guestHash).then((response) => {
      this.event = response.data // Retrieving event and its data
      this.visibleRecaptcha = this.event.visible_captcha;
      this.setMandatorySessions(this.event.mandatory_sessions);
      this.setMaximumCategoriesSubscriptions(this.event.maximum_categories_subscriptions);
      this.setMaxSubscriptions(this.event.allowed_session_subscription);
      this.locale = response.data.advanced_minisite_mode ? this.locale : null
    }).catch((error) => {
      EventBus.$emit('SHOW_ERROR', error)
    })

    // Getting existing surveyjs template
    SubscribeFormService.get(this.eventId, this.guestHash).then((response) => {

      if(response.data.advancedFormTemplate == null) {
        this.noSurvey = true
        return null // if no form is saved
      }

      this.subscribeForm = response.data

      // Important ! By default surveyjs thinks default locale is 'en'
      SurveyVue.surveyLocalization.defaultLocale = response.data.advancedFormTemplate.locale == null ? 'fr' : response.data.advancedFormTemplate.locale

      SurveyVue.JsonObject.metaData.addProperty("html", "balise:string")

      // Setup surveyJS base properties
      SurveyVue.StylesManager.applyTheme("bootstrap") // Uses bootstrap theme
      this.survey = new SurveyVue.Model(response.data.advancedFormTemplate) // Setup data

      this.survey.onValidateQuestion.add(function(s, options){
        if(options.question.getType() === 'boolean' && options.question.isRequired){
          if(options.value != true){
            options.error = i18n.getLocalTranslations().subscribeForm.PleaseAccept + options.question.title
          }
        }
      })

      // Set default success message
      this.survey.completedHtml = '<h1 data-test="form-completed-message">' + this.$t('subscribeForm.Confirmed') + '</h1>'

      // Formatting HTML blocs to get titles as wanted
      SurveyJsUtils.translateHtmlBlocks(this.survey, this.locale, JSON.parse(response.data.advancedFormTemplate))

      if (this.guest) {
        this.setFormExistingValues() // Filling form with existing values
      }

      if (this.locale != null) {
        this.survey.locale = this.locale
      }

      this.survey.onComplete.add((sender, options) => {
        // options.showDataSaving()        
        this.saveForm(sender.data)
          .then(r => {
            // options.showDataSavingSuccess()
          })
          .catch(e => {
            sender.clear(false) // keep user inputs
            sender.mode = "edit" // let the user edit the content
          })
      })

      this.survey.onValueChanged.add((survey, options) => {
        console.log(options)
        if (options.name == "firstname") { 
          this.firstnameForm = options.value
        }
        else if (options.name == "lastname") {
          this.lastnameForm = options.value
        }
      })

      if (!this.allowBaseFieldModification) {
        this.baseFieldsKeys.forEach(key => {
          let question = this.survey.getQuestionByName(key)
          if (question !== null) {
            question.setPropertyValue('readOnly', true)
          }  
        })
      }

      this.survey.showNavigationButtons = false
      this.survey.showQuestionNumbers = "off"
      this.surveyLoaded = true

    }).catch((error) => {
      console.log("Error loading form")
      console.error(error)
    })
  },
  methods: {
    onCaptchaVerified(token) {
      this.captchaToken = token
    },
    onResetCaptcha() {
      this.captchaToken = null
    },
    resetCaptcha() {
      if (this.$refs.recaptcha != null) { // only if displayed
        this.$refs.recaptcha.reset()  
      }
      this.captchaToken = null
    },
    /**
     * This method either register the guest or subscribe it if he is already sub.
     * The condition is made by checking if the guest object exists.
     */
    saveForm: function (data) {
      
      if (this.guest == null) {
        return this.registerGuest(data, this.eventId) // New subscription
      }
      else {
        return this.subscribeGuest(data, this.guest) // Resubscribe this guest
      }
    },
    /**
     * This method format incoming data to make it easily understandable for the API.
     * Base fields and extendedFields are not managed in the same way.
     * The sent data array must have a certain shape (extendedFields all in the same key)
     *
     */
    formatJsonDataForUpdate: function (data) {
      let formattedData = {}
      let extendedFields = {}

      let extendedFieldKeys = Object.keys(data).filter(key => !this.baseFieldsKeys.includes(key))
      
      extendedFieldKeys.forEach(key => extendedFields[key] = data[key])

      let companionsData = null

      if (this.event.nominative_companions && this.companions > 0) {
        companionsData = [...this.companionsData]
        for (let index in this.nominativeSessionIds.companions) {
          if(companionsData[index])
            companionsData[index].sessions = this.nominativeSessionIds.companions[index]
        }
      }


      return {
        firstname: data['firstname'],
        lastname: data['lastname'],
        company: data['company'],
        email: data['email'],
        extendedFields: extendedFields,
        companions: this.companions,
        language: this.locale,
        companionsData: companionsData
      }
    },
    /**
     * This method register a new guest using GuestService (API)
     * Before sending, the data is formatted through this.formatJsonDataForUpdate()
     */
    registerGuest: function(data, guest){
      return new Promise((resolve, reject) => {
        let formattedData = this.formatJsonDataForUpdate(data)
        this.dataSending = true

        const success = (response) => {
          this.survey.completedHtml = '<h1 data-test="form-completed-message">' + this.$t('subscribeForm.Confirmed') + '</h1><p class="success-message">' + response.data.message + '</p>'
          this.filledSurvey = true
          this.dataSending = false
          this.resetCaptcha()
          resolve(response)
        }
        const fail = (error) => {
          this.filledSurvey = false
          this.dataSending = false
          this.catchError(error)
          reject(error)
        }

        if (this.event.nominative_companions) {
          GuestService.registerNominative(formattedData, this.nominativeSessionIds.guest, 
            this.eventId, this.captchaToken).then((response) => {
            success(response)
          }).catch((error) => {
            fail(error)
          })
        }
        else {
          GuestService.register(formattedData, this.sessionsIds, this.eventId, this.captchaToken).then((response) => {
            success(response)
          }).catch((error) => {
            fail(error)
          })
        }
      })
    },
    /**
     * This method resubscribes a guest who is already subscribed (update subscription)
     * Before sending, the data is formatted through this.formatJsonDataForUpdate()
     */
    subscribeGuest: function(data, guest){
      return new Promise((resolve, reject) => {
        let formattedData = this.formatJsonDataForUpdate(data)
        

        this.dataSending = true

        const success = (response) => {
          this.survey.completedHtml = '<h1 data-test="form-completed-message">' + this.$t('subscribeForm.Confirmed') + '</h1><p>' + response.data.message + '</p>'
          this.filledSurvey = true
          this.dataSending = false
          resolve(response)
        }
        const fail = (error) => {
          this.filledSurvey = false
          this.dataSending = false
          this.catchError(error)
          reject(error)
        }

        if (this.event.nominative_companions) {
           
          GuestService.subscribeNominative(formattedData, this.nominativeSessionIds.guest,
              this.guest.id, this.eventId, this.guest.accessHash).then((response) => {
            success(response)
          }).catch((error) => {
            fail(error)
          })
        }
        else {
          GuestService.subscribe(formattedData, this.sessionsIds, this.guest.id,
              this.eventId, this.guest.accessHash).then((response) => {
            success(response)
          }).catch((error) => {
            fail(error)
          })
        }
      })
    },
    catchError: function (error) {
      console.log(error);
      this.resetCaptcha()
      EventBus.$emit('REFRESH_SESSIONS')
      ErrorParser.throwEventBusError(error)
    },
    /**
     * This method prefills the form with the existing values of the current guest
     * TODO: Could be optimized and simplified
     */
    setFormExistingValues: function(){

      // Filling basefields
      this.baseFieldsKeys.forEach(key => this.survey.setValue(key, this.guest[key]))

      if (this.guest.extendedFields != null) {
        Object.keys(this.guest.extendedFields).forEach((key) => {
          if(this.guest.extendedFields[key]){

            let defaultValue = this.guest.extendedFields[key]

            // This is not cool at all, making it a string before eventually make it an array again...
            defaultValue = Array.isArray(defaultValue) ? defaultValue.join(', ')  : defaultValue

            // If this extended field question is in the form
            if (this.survey.getQuestionByName(key) !== null) {

              // Making an array if question type needs it
              if(this.survey.getQuestionByName(key).getType() === "checkbox"){
                defaultValue = defaultValue.split(', ')
              }

              this.survey.setValue(key, defaultValue)
            }
          }
        })
      }
    },
    companionDataIsValid: function(){
      var errors = []
      if (this.companionsData == null) {
        return true
      }

      if (this.companions > 0) {
        for(let companion of this.companionsData){
          if (!companion.valid) {
            errors.push(companion)
          }
        }
      }

      if (errors.length > 0) {
        if (this.$refs.companionsTabsForm != null) {
          this.$refs.companionsTabsForm.spreadErrors(errors)
        }
        return false
      }

      return true
    },
    /**
     * Submits the this.survey form but validates it before in order to show error messages if needed !
     * The this.survey.doComplete() method would send the form without validating it.
     */
    onSubmit: function(){
      if (this.companionDataIsValid()) {
        this.survey.completeLastPage() // SurveyJS form completing managed by this.onFormSave method
      }
    },
    onNominativeSessionsSelectionChange: function ({guest, companions}) {
      this.nominativeSessionIds.guest = guest
      this.nominativeSessionIds.companions = companions
    },
    onCompanionSelectedChange: function ({nbCompanions}) {
      this.companions = nbCompanions;
      if(!this.event.nominative_companions)
        this.resetSelected();
    },
    onCompanionInfosChange: function({companionsData}){
      this.companionsData = companionsData
    },
    ...mapMutations('sessions', [
      'setMandatorySessions',
      'setMaxSubscriptions',
      'resetSelected',
      'setMaximumCategoriesSubscriptions'
    ])
  },
  props: {
    visibleCaptcha: {
      type: Boolean
    },
    eventId: {
      type: Number,
      required: true
    },
    guest: {
      type: Object,
      required: false,
      default: null
    },
    allowBaseFieldModification: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  components: {
    'alert': Alert,
    'sessions-form': SessionsForm,
    'companion-select': CompanionSelect,
    'load-box': LoadBox,
    'vue-recaptcha': VueRecaptcha,
    'companions-tabs-form': CompanionsTabsForm,
    'nominative-sessions-form': NominativeSessionsForm,
  }
}
</script>

<style scoped>
  .subscribe-form-btn{
    margin-top: 10px;
  }
</style>
