<template>
    <section class="full-height-box">

        <alert
            :errorMessage="errorMessage"
            :successMessage="successMessage">
        </alert>

        <alert
            :errorMessage="selectionErrorMessage">
        </alert>

        <confirm-modal></confirm-modal>

        <guest-email-verification-job-running
            v-if="verificationJobRunning && !selectionMode">
        </guest-email-verification-job-running>

        <load-box :visible="loading"></load-box>

        <guest-email-validity-info-modal 
            :show="showEmailValidityInfoModal"
            @close="hideEmailValidityInfoModal()">
        </guest-email-validity-info-modal>

        <div class="table-responsive guests-table" v-if="!loading">
            <table class="table table-borderless">
                <table-filters></table-filters>
                <table-content></table-content>
            </table>

            <load-box :visible="guestsLoading"></load-box>
            <p v-if="guests.length === 0 && !guestsLoading" 
                class="text-center no-guests-message" 
                data-test="no-guest-text-indication">
                {{ $t('guest.NoGuestToView') }}
            </p>
        </div>

        <pagination v-if="!loading"></pagination>
    </section>
</template>

<script>
    import { mapGetters, mapActions, mapMutations } from 'vuex'

    import ResizeTools from '../resize-tools.js'

    import EventBus from '../tools/EventBus'

    import Alert from '../components/Alert'
    import LoadBox from '../components/LoadBox'

    import GuestEmailVerificationJobRunning from './components/GuestEmailVerificationJobRunning'
    import GuestEmailValidityInfoModal from './components/GuestEmailValidityInfoModal'
    import ConfirmModal from '../components/ConfirmModal'

    import TableFilters from './containers/TableFilters'
    import TableContent from './containers/TableContent'
    import Pagination from './containers/Pagination'

    const AppGuestIndex = Vue.extend({
        data () {
            return {
            }
        },
        computed: {
            ...mapGetters({
                loading: 'guestIndex/loading',
                guests: 'guestIndex/guests',
                showEmailValidityInfoModal: 'guestIndex/showEmailValidityInfoModal',
                verificationJobRunning: 'guestIndex/verificationJobRunning',
                guestsLoading: 'guestIndex/guestsLoading',
                successMessage: 'guestIndex/successMessage',
                errorMessage: 'guestIndex/errorMessage',
                selectionErrorMessage: 'guestsSelection/errorMessage',
            })
        },
        watch: {
            verificationJobRunning: function () {
                setTimeout(() => {
                    ResizeTools.resizeGuestIndexTable()
                }, 500)
            },
            loading: function () {
                setTimeout(() => {
                    ResizeTools.resizeGuestIndexTable()
                }, 500)
            }
        },
        mounted() {
            ResizeTools.addGuestIndexTableHeightListener()
            this.setSurveyFields(this.surveyFields)
            this.setEvent(this.event) // automatically refresh guests

            if (this.selectionMode) {
                this.activateSelectionMode()
                this.setGuestsSelectionEvent(this.event)
            }

            $('#btn-delete-all-guests').off( "click", "**").on('click', this.deleteAll)
            $('#btn-anonymise').off( "click", "**").on('click', () => this.anonymise($("#anonymise-password").val()))
            $('#btn-trigger-warning-modal').off( "click", "**").on('click', this.showWarningModal)
        },
        props: {
            event: {
                type: Object,
                required: true
            },
            surveyFields: {
                type: Array,
                required: true
            },
            selectionMode: {
                type: Boolean,
                default: false
            }
        },
        components: {
            'table-content': TableContent,
            'table-filters': TableFilters,
            'pagination': Pagination,
            'load-box': LoadBox,
            'alert': Alert,
            'guest-email-validity-info-modal': GuestEmailValidityInfoModal,
            'guest-email-verification-job-running': GuestEmailVerificationJobRunning,
            'confirm-modal': ConfirmModal,
        },
        methods: {
            ...mapActions({
                setEvent: 'guestIndex/setEvent',
                setSurveyFields: 'guestIndex/setSurveyFields',
                hideEmailValidityInfoModal: 'guestIndex/hideEmailValidityInfoModal',
                deleteAllGuestsAndCompanions: 'guestIndex/deleteAllGuestsAndCompanions',
                anonymise: 'guestIndex/anonymise',
                setGuestsSelectionEvent: 'guestsSelection/setEvent',
            }),
            ...mapMutations({
                activateSelectionMode: 'guestsSelection/activateSelection',
            }),
            deleteAll: function () {
                EventBus.$emit('SHOW_CONFIRM_MODAL', {
                    title: this.$t('shared.DoYouConfirmDelete'),
                    message: this.$t('guest.DeleteAllConfirmMessage'),
                    btnCancelLabel: this.$t('shared.Cancel'),
                    btnOKLabel: this.$t('shared.Confirm'),
                    callbackOK: () => {
                        this.deleteAllGuestsAndCompanions()
                    },
                    callbackCancel: () => {
                        // nothing
                    }
                })
            },
            showWarningModal: function () {
                const message = $("#warning-modal-content").html()

                EventBus.$emit('SHOW_CONFIRM_MODAL', {
                    title: this.$t('guest.GuestListWarnings'),
                    message: message,
                    btnCancelLabel: this.$t('shared.Cancel'),
                    btnOKLabel: "OK",
                    callbackOK: () => {
                        // nothing
                    },
                    callbackCancel: () => {
                        // nothing
                    }
                })
            },
        }
    })
    export default AppGuestIndex
</script>

<style type="scss" scoped>
  .guests-table{
    overflow: scroll;
  }
  .no-guests-message{
    margin-top: 25px;
  }
</style>
