<template>
    <div>
        <alert :transparent-mode="true"></alert>

        <send-modal
            v-on:cancel="onSendModalCancel"
            :guests="guests"
            :companions="companions"
            :event="event"
            :company="company"
            :mail="mail"
            :show="showSendModal"
            :from-column="mail.from_column"
            :mail-mode="mailMode"
            :join-ics="mail.joinICS"></send-modal>

        <email-tab-control
            v-on:changeTab="onChangeEditMode">
        </email-tab-control>

        <email-edit-tab
            v-show="tabMode==0"
            v-on:configChange="onConfigChange"
            :advancedMode="advancedMode"
            :mailSrc="mail"
            :event="event"
            :showed="tabMode==0">
        </email-edit-tab>

        <email-guests-list-tab
            v-show="tabMode==1"
            :event="event"
            @guestsCheckChange="onChangeGuests"
            @companionsCheckChange="onChangeCompanions">
        </email-guests-list-tab>

        <email-jobs-tab
            v-show="tabMode==2"
            :mail="mail"
            :event="event">
        </email-jobs-tab>

    </div>
</template>

<script>
    import EmailTabControl from './EmailTabControl'
    import EmailGuestsListTab from './EmailGuestsListTab'
    import EmailEditTab from './EmailEditTab'
    import EmailJobsTab from './EmailJobsTab'
    import SendModal from '../SendModal'
    import Alert from '../Alert'
    import EventBus from '../../tools/EventBus'

    const EmailEdit = Vue.extend({
        data () {
            return {
                tabMode: 0,
                guests: [],
                companions: [],
                event: null,
                company: null,
                mail: null,
                showSendModal: false,
                mailMode: null
            }
        },
        created: function() {
            this.event = JSON.parse($('#json-event-infos').html())
            this.company = $('#json-company-infos').length ? JSON.parse($('#json-company-infos').html()) : null
            this.mail = this.email // props to data

            // Switch mail to edited language
            this.mail.title = this.mail.title_i18n
            this.mail.template = this.mail.template_i18n
            this.mail.html = this.mail.html_i18n

            $('#btn-send').off( "click", "**").on('click', this.confirmSendMail)

            EventBus.$on('MAIL_SAVED', (mail) => { // triggered by child elements
                this.mail = mail
            })
        },
        props: ['advanced-mode', 'email'],
        components: {
            'email-tab-control': EmailTabControl,
            'email-edit-tab': EmailEditTab,
            'email-guests-list-tab': EmailGuestsListTab,
            'email-jobs-tab': EmailJobsTab,
            'alert': Alert,
            'send-modal': SendModal
        },
        methods: {
            confirmSendMail: function() {
                this.showSendModal = true
            },
            onChangeEditMode: function(tabName) {
                if(tabName === 'email'){
                    this.tabMode = 0;
                }
                else if(tabName === 'guests'){
                    this.tabMode = 1;
                }
                else if(tabName === 'jobs'){
                    this.tabMode = 2;
                }
            },
            onChangeGuests: function(guests) {
                this.guests = guests
            },
            onChangeCompanions: function(companions) {
                this.companions = companions
            },
            onSendModalCancel: function() {
                this.showSendModal = false
            },
            onConfigChange: function(config) {
                //console.log(config)
                this.mailMode = config.mailMode
                this.mail.joinICS = config.joinICS
                this.mail.from_column = config.fromColumn
                this.mail.joinTicket = config.joinTicket
            }
        }
    })
    export default EmailEdit
</script>

<style type="scss" scoped>

</style>
