<template>
    <section> 
        <sessions-styles-bar
            :label="$t('email.TitleSessions')"
            :colorId="'title-color'"
            :fonts="fonts"
            :fontSize="fontSize"
            v-model="titleStyleJson"
            @title-color="updateValue"
            :jsonProperty="'title'"
            :stylesBar="titleStyles">
            </sessions-styles-bar>

        <hr class="hr-session-styles">

        <sessions-styles-bar
            :label="$t('email.SessionCategory')"
            :colorId="'category-color'"
            :fonts="fonts"
            :fontSize="fontSize"
            v-model="categoryStylesJson"
            @category-color="updateValue"
            :jsonProperty="'category'"
            :stylesBar="categoryStyles">
        </sessions-styles-bar>  
        
        <hr class="hr-session-styles">

        <sessions-styles-bar
            :label="$t('email.Sessions')"
            :colorId="'session-color'"
            :fonts="fonts"
            :fontSize="fontSize"
            v-model="sessionStyleJson"
            @session-color="updateValue"
            :jsonProperty="'sessions'"
            :stylesBar="sessionStyles">
        </sessions-styles-bar>            
    </section>
</template>

<script>
import EventBus from '../../tools/EventBus'
import SessionsStylesBar from './SessionsStylesBar'

const EmailSessionsStyles = Vue.extend({
    data () {
        return {
            sessionStyleJson: null,
            titleStyleJson: null,
            categoryStylesJson: null,
            json: null     
        }
    },
    model: {
        event: 'sessionsStyleUpdated'
    },
    props: [
        'styles',
        'value'
    ],
    methods:{
        updateValue(payload){
            this.json = Object.assign({}, this.json, payload);

            this.$emit('sessionsStyleUpdated', this.json);
        }
    },
    computed: {
        inputStyles(){
            return JSON.parse(this.styles);
        },
        titleStyles(){
            return this.inputStyles != null ? this.inputStyles.title : null;
        },
        categoryStyles(){
            return this.inputStyles != null ? this.inputStyles.category : null;
        },
        sessionStyles(){
            return this.inputStyles != null ? this.inputStyles.sessions : null;
        },
        fonts(){
            return [
                { name:"Goblal font", index: 0, font: "inherit"},
                { name:"Arial", index: 1, font: "Arial, 'Helvetica Neue', Helvetica, sans-serif"},
                { name:"Courier", index: 2, font: "'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace"},
                { name:"Georgia", index: 3, font: "Georgia, Times, 'Times New Roman', serif"},
                { name:"Helvetica", index: 4, font: "'Helvetica Neue', Helvetica, Arial, sans-serif"},
                { name:"Lucida Sans", index: 5, font: "'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Geneva, Verdana, sans-serif"},
                { name:"Tahoma", index: 6, font: "Tahoma, Verdana, Segoe, sans-serif"},
                { name:"Times New Roman", index: 7, font: "TimesNewRoman, 'Times New Roman', Times, Beskerville, Georgia, serif"},
                { name:"Trebuchet MS", index: 8, font: "'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif"},
                { name:"Verdana", index: 9, font: "Verdana, Geneva, sans-serif"},
                { name:"ヒラギノ角ゴ Pro W3", index: 10, font: "ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro,Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif"},
                { name:"メイリオ", index: 11, font: "メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro,Osaka, sans-serif"},
                { name:"Bitter", index: 12, font: "'Bitter', Georgia, Times, 'Times New Roman', serif"},
                { name:"Droid Serif", index: 13, font: "Droid Serif', Georgia, Times, 'Times New Roman', serif"},
                { name:"Lato", index: 14, font: "'Lato', Tahoma, Verdana, Segoe, sans-serif"},
                { name:"Open Sans", index: 15, font: "'Open Sans', Helvetica, Arial, sans-serif"},
                { name:"Roboto", index: 16, font: "'Roboto', Tahoma, Verdana, Segoe, sans-serif"},
                { name:"Source Sans Pro", index: 17, font: "'Source Sans Pro', Tahoma, Verdana, Segoe, sans-serif"},
                { name:"Montserrat", index: 18, font: "'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif"},
                { name:"Ubuntu", index: 19, font: "'Ubuntu', Tahoma, Verdana, Segoe, sans-serif"},
                { name:"Oswald", index: 20, font: "'Oswald', Georgia, Times, serif"},
                { name:"Indie Flower", index: 21, font: "'Indie Flower', Georgia, Times, serif"},
                { name:"Poppins", index: 22, font: "'Poppins', Georgia, Times, serif"},
                { name:"Anton", index: 23, font: "'Anton', Georgia, Times, serif"},
            ]
        },
        fontSize(){
            return [
            { text: '8px', value: '8px' },
            { text: '9px', value: '9px' },
            { text: '10px', value: '10px' },
            { text: '11px', value: '11px' },
            { text: '12px', value: '12px' },
            { text: '13px', value: '13px' },
            { text: '14px', value: '14px' },
            { text: '15px', value: '15px' },
            { text: '16px', value: '16px' },
            { text: '17px', value: '17px' },
            { text: '18px', value: '18px' },
            { text: '19px', value: '19px' },
            { text: '20px', value: '20px' },
            { text: '21px', value: '21px' },
            { text: '22px', value: '22px' },
            { text: '23px', value: '23px' },
            { text: '24px', value: '24px' },
            { text: '26px', value: '26px' },
            { text: '28px', value: '28px' },
            { text: '30px', value: '30px' },
            { text: '34px', value: '34px' },
            { text: '38px', value: '38px' },
            { text: '42px', value: '42px' },
            { text: '46px', value: '46px' },
            { text: '50px', value: '50px' },
            { text: '58px', value: '58px' },
            { text: '64px', value: '64px' },
            { text: '72px', value: '72px' },
            { text: '80px', value: '80px' },
            { text: '88px', value: '88px' },
            { text: '96px', value: '96px' },
            { text: '104px', value: '104px' },
            { text: '112px', value: '112px' },
            ]
        }
    },
    components: {
        'sessions-styles-bar': SessionsStylesBar
    }
})
export default EmailSessionsStyles
</script>

<style>
    .hr-session-styles {
        max-width: 500px;
        margin-top: 0px;
        margin-bottom: 0px;
    }    
</style>
