<template>
    <div>
        <app-guest-index id="email-guests-index"
            :event="event"
            :surveyFields="[]"
            :selectionMode="true">
        </app-guest-index>
    </div>
</template>

<script>

import GuestService from '../../services/GuestService'
import EventBus from '../../tools/EventBus'
import AppGuestIndex from '../../app-guest-index/AppGuestIndex'

import { mapGetters } from 'vuex'

const EmailGuestsList = Vue.extend({
    components: {
        'app-guest-index': AppGuestIndex,
    },
    computed: {
        ...mapGetters({
            companionIds: 'guestsSelection/companionIds',
            guestIds: 'guestsSelection/guestIds',
        })
    },
    watch: {
        companionIds: function(newVal) {
            this.$emit('companionsCheckChange', newVal)
            this.disableSendbutton()
        },
        guestIds: function(newVal) {
            this.$emit('guestsCheckChange', newVal)
            this.disableSendbutton()
        },
    },
    methods: {
        disableSendbutton: function () {
            $("#btn-send").prop("disabled", this.companionIds.concat(this.guestIds).length < 1)
        }
    },
    props: {
        event: {
            type: Object,
            required: true
        }
    }
})
export default EmailGuestsList
</script>

<style type="scss" scoped>
    #email-guests-index {
        margin-top: 10px;
    }
</style>
