<template>
    <div class="btn-group btn-group-justified btn-group-tabs email-tab-control guests-list-remove" role="group">
        <div v-for="tab in tabs" :key="tab.id" class="btn-group">
            <button v-on:click="onTabChange(tab.id)" class="btn btn-default" v-bind:class="{ active: tab.id==currentTab }">{{ tab.title }}</button>
        </div>
    </div>
</template>

<script>
    const EmailTabControl = Vue.extend({
        data () {
            return {
              currentTab: 0,
              tabs: [{
                  id: 0,
                  title: this.$t('email.Email'),
                  tabName: 'email' // For the changeTab emitted function arg
                },{
                  id: 1,
                  title: this.$t('guest.Guests'),
                  tabName: 'guests'
                },{
                  id: 2,
                  title: this.$t('jobs.Jobs'),
                  tabName: 'jobs'
                }
              ]
            }
        },
        methods: {
            onTabChange: function(newTab){
              this.currentTab = newTab
              this.$emit('changeTab', this.tabs[newTab].tabName)
            }
        },
        created: function(){
          this.$emit('changeTab', this.tabs[this.currentTab].tabName) // Default active tab
        }
    })
    export default EmailTabControl
</script>

<style type="scss" scoped>

</style>
