<template>
  <div>
    <h2>{{ $t('jobs.PendingJobs') }}</h2>

    <div v-if="currentJobs && currentJobs.length">
      <job-feedback-bloc v-for="job in currentJobs" :job="job" :key="job.id" :mail="mail"></job-feedback-bloc>
    </div>
    <div v-else>
      <p>{{ $t('jobs.NoPendingJobs') }}</p>
    </div>

    <h2>{{ $t('jobs.PastJobs') }}</h2>
    <div v-if="pastJobs && pastJobs.length">
      <job-feedback-bloc v-for="job in pastJobs" :job="job" :key="job.id" :mail="mail"></job-feedback-bloc>
    </div>
    <div v-else>
      <p>{{ $t('jobs.NoPastJobs') }}</p>
    </div>
  </div>
</template>

<script>

import JobFeedbackService from '../../services/JobFeedbacksService'
import JobFeedbackBloc from './JobFeedbackBloc'

import EventBus from '../../tools/EventBus'

const EmailJobsTab = Vue.extend({
  data () {
    return {
      currentJobs: [],
      pastJobs: []
    }
  },
  mounted() {
    this.fetchData()
  },
  props: ['event', 'mail'],
  components:{
    'job-feedback-bloc': JobFeedbackBloc
  },
  watch: {
    mail: function (val) {
      this.fetchData()
    }
  },
  methods: {
    fetchData: function() {
      // Fetching jobs with api service
      if(!(typeof this.mail.id == 'undefined')){
        JobFeedbackService.retrieveAll(this.event.id, this.mail.id).then(response => {
          this.checkChanges(response.data.running, response.data.finished)
          this.currentJobs = response.data.running
          this.pastJobs = response.data.finished
        })
      }
    },
    checkChanges: function(currentJobs, pastJobs) {
      if (currentJobs.length !== this.currentJobs.length || pastJobs.length !== this.pastJobs.length) {
        EventBus.$emit('REFRESH_GUESTS')
      }
    }
  },
  created: function(){
    setInterval(() => {this.fetchData()}, 2000)
  }
})
export default EmailJobsTab

</script>
