<template>
  <div @keydown.esc="onEscKeyDown()"
    :class="{'mail-edit-fullscreen-mode': fullscreen}">
    <div class="panel panel-default pannel-mail-config">
      <div class="panel-heading heading-config flex-container">
        <div id="titulos" class="left-container">
          <template v-if="collapseConfig || fullscreen">
            {{ $t('email.Object') }}: {{ mail.title }}
          </template>
          <template v-else>
            {{ $t('email.Configuration') }}
          </template>
        </div>
        <div id="botones" class="right-container">
          <button type="button" 
            class="btn btn-primary btn-sm pull-right btn-config-margin"
            v-if="fullscreen"
            @click="onSave()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> {{ $t('email.Save') }}
          </button>

          <button type="button" 
            class="btn btn-danger btn-sm pull-right btn-config-margin"
            v-if="fullscreen">
            <i class="fa fa-ban" aria-hidden="true"></i> {{ $t('email.Cancel') }}
          </button>  

          <button type="button"
            class="btn btn-info btn-sm pull-right btn-config-margin"
            v-if="!fullscreen"
            @click="onHideConfig()">
            <template v-if="collapseConfig">
              <i class="fa fa-angle-down" aria-hidden="true"></i> {{ $t('email.EditConfiguration') }}
            </template>
            <template v-else>
              <i class="fa fa-angle-up" aria-hidden="true"></i> {{ $t('email.HideConfiguration') }}
            </template>
          </button>

          <button type="button"
            class="btn btn-secondary btn-sm pull-right btn-config-margin"
            :class="{'active': fullscreen}"
            @click="onToggleFullScreen()">
              <template v-if="fullscreen">
                <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ $t('email.DesactiveFullScreen') }}
              </template>
              <template v-else>
                <i class="fa fa-arrows-alt" aria-hidden="true"></i> {{ $t('email.ActiveFullScreen') }}
              </template>
          </button>

          <a v-if="this.mail.template!=null"
            v-bind:href="renderLink()" target="_blank"
            class="btn btn-default btn-sm pull-right">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ $t('email.ShowOverview') }}
          </a>

          <button type="button"
            v-if="templateContainsSessions"
            class="btn btn-info btn-sm pull-right btn-config-margin btn-show-emails-session-styles"
            @click="onShowEmailSessionStyles()">
            <template v-if="showEmailSessionStyles">
              <i class="fa fa-angle-up" aria-hidden="true"></i> {{ $t('email.SessionsStyle') }}
            </template>
            <template v-else>
              <i class="fa fa-angle-down" aria-hidden="true"></i> {{ $t('email.SessionsStyle') }}
            </template>
          </button>

        </div>
      </div>

        <email-sessions-styles 
            v-show="templateContainsSessions && showEmailSessionStyles"
            @sessionsStyleUpdated="updateSessionStyle"
            :styles="srcSessionStyles">
        </email-sessions-styles>
        
      <div class="panel-body" v-if="!collapseConfig && !fullscreen">
        <table class="table-form">
          <tr>
            <td>
              <label for="subject">{{ $t('email.Object') }}</label>
            </td>
            <td>
              <input type="text" autocomplete="false" id="subject" class="form-control input-sm" v-model="mail.title" @change="onFormChange" placeholder="Objet">
            </td>
          </tr>

          <tr v-if="this.extendedFields.length > 0">
            <td>
              <label for="subject">{{ $t('email.SenderFromColumn') }}</label>
            </td>
            <td>
              <select id="from_column" v-model="mail.from_column" @change="onFormChange" class="form-control input-sm">
                <option value="null">{{ $t('email.SelectColumn') }}</option>
                <option v-for="option in this.extendedFields" v-bind:value="option" :key="option">
                  {{ option }}
                </option>
              </select>
            </td>
          </tr>

          <tr>
            <td>
              <label for="checkbox-send-with-default-name">{{ $t('email.SendWithSponsorizeEmail') }}</label>
            </td>
            <td>
              <input type="checkbox" class="big-checkbox" id="checkbox-send-with-default-name" v-model="mail.sendWithDefaultMail" @change="onFormChange">
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <hr/>
            </td>
          </tr>

          <tr>
            <td>
              <label for="checkbox-send-with-default-name">{{ $t('email.JoinedFiles') }}</label>
            </td>
            <td>
              <label class="radio-inline">
                <input type="checkbox" id="ics-join" class="big-checkbox" v-model="mail.joinICS" @change="onFormChange"> {{ $t('email.JoinICSInvit') }}
              </label>
              <label class="radio-inline">
                  <input type="checkbox" id="ticket-join" class="big-checkbox" v-model="mail.joinTicket" @change="onFormChange"> {{ $t('email.JoinPDFTicket') }}
              </label>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <beefree
      class="mail-editor"
      v-if="!isLoading"
      :mergeTags="mergeTags"
      :mergeContents="mergeContents"
      :event="event"
      :template="template"
      :specialLinks="specialLinks"
      v-on:saveMail="saveMail"
      @onTemplateChange="onTemplateChange"
      v-on:saveTemplate="saveTemplate"></beefree>
  </div>
</template>

<script>

import BeeFreeService from '../../services/BeeFreeService'

import Beefree from '../Beefree'
import EmailService from '../../services/EmailService'
import GuestService from '../../services/GuestService'
import TemplateService from '../../services/TemplateService'

import EventBus from '../../tools/EventBus'

import EmailSessionsStyles from './EmailSessionsStyles'

import ServerConfig from '../../config/server'
import BeefreeResizer from '../../tools/BeefreeResizer'

const EmailEditTab = Vue.extend({
  data () {
    return {
      fullscreen: false,
      collapseConfig: false,
      showEmailSessionStyles: false,
      mail: null,
      minisite: null,
      extendedFields: [],
      update: false,
      mergeTags: null,
      mergeContents: [{
        name: 'QRCode de contrôle d\'entrée',
        value: '[[qrcode]]'
      },
      {
        name: 'Sessions',
        value: '[[sessions]]'
      }],
      specialLinks: [],
      isLoading: true,
      template: null,
      modificationsSaved: true,
      editorResizer: null,
      sessionStyle: null,
      srcSessionStyles: ""
    }
  },
  props: ['advancedMode', 'showed', 'mailSrc', 'event'],
  watch: {
    showed: function (val) {
      this.editorResizer.resizeBeefree()
    },
    mailSrc: function (val) {
      this.mail = val
    }
  },
  computed: {
    templateContainsSessions(){
       try{
         let srtTemplate = typeof this.template === "string" ? this.template : JSON.stringify(this.template);
         let tmp = srtTemplate.includes("[[sessions]]");
         if(!tmp) this.showEmailSessionStyles = false;         
         return tmp;
       }catch(e){

       }

      return false;
    }
  },
  methods: {
    onFormChange: function () {
      this.modificationsSaved = false
      this.$emit('configChange', {
        fromColumn: this.mail.from_column,
        mailMode: this.mail.sendWithDefaultMail,
        joinICS: this.mail.joinICS,
        joinTicket: this.mail.joinTicket
      })
    },
    saveMail: function (d){
      let data = d.data
      let html = d.html
      this.mail = Object.assign({}, this.mail, {sessionStyle: JSON.stringify(this.sessionStyle)});
      
      if(this.mail.template == null && !this.mail.isConfirm && !this.mail.isEventFullNotification) {

        // Create Mode
        this.mail.template = data // set template
        this.mail.html = html

        EmailService.store(this.mail, this.lang).then((response)=>{
          this.mail = response.data
          EventBus.$emit('MAIL_SAVED', this.mail)
          EventBus.$emit('SHOW_SUCCESS', this.$t('shared.ModificationsSaved'))
          this.modificationsSaved = true

        }).catch((error)=>{
          this.mail.template = null
          if (error.response.status === 422 && error.response.data.title != null) {
            let msg = ""
            for(let e of error.response.data.title) {
              msg += e + "<br>"
            }
            EventBus.$emit('SHOW_ERROR', msg)
          }
          else {
            EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProducedOnEmailSave'))
          }
        })
      }
      else {
        // Edit Mode
        this.mail.template = data // update template
        this.mail.html = html
        EmailService.update(this.mail, this.lang).then((response)=>{

          EventBus.$emit('MAIL_SAVED', response.data)
          EventBus.$emit('SHOW_SUCCESS', this.$t('shared.ModificationsSaved'))

          this.modificationsSaved = true
        }).catch((error)=>{
          if (error.response.status === 422 && error.response.data.title != null) {
            let msg = ""
            for(let e of error.response.data.title) {
              msg += e + "<br>"
            }
            EventBus.$emit('SHOW_ERROR', msg)
          }
          else {
            EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProducedOnEmailSave'))
          }
        })
      }
    },
    saveTemplate: function(data){

      // Call the templateservice for storing the template
      var pname = prompt(this.$t('email.TemplateNameToSave'))

      if(pname == null){
        return;
      }

      var jdata = {
        "template": data,
        "name": pname,
        "template_type": "EMAIL",
        "sessions_styles": JSON.stringify(this.sessionStyle)
      }

      TemplateService.store(jdata, this.event.company_id).then((response)=>{
        EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullySaved'))
      }).catch((error)=>{
        EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
      })
    },
    onSaveAsTemplate: function(){
      EventBus.$emit('ASK_BEEFREE_SAVE_TEMPLATE')
    },
    onUpdateExistingTemplate: function(){
      var template_id = $("#template-update-select").val();
      if($("#template-update-select").val() == 0){
        EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
      }
      else {        
        TemplateService.update({"template": this.template, "sessions_styles": JSON.stringify(this.sessionStyle)},
         this.event.company_id, template_id).then((response)=>{
          EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullySaved'))
        }).catch((error)=> {
          EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
        })
      }
    },
    onSave: function() {
      EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
    },
    onLoadTemplate: function(){
      // Fetch template infos and load it in beefree
      if($("#template-load-select").val() == 0){
        EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
      }
      else {
        TemplateService.get($("#template-load-select").val(), this.event.company_id).then((response) => {
          if (typeof response.data.template === 'string') {

            this.template = JSON.parse(response.data.template)
          }
          else { // assure compatibility with old template saving method
            this.template = response.data.template
          }

          this.srcSessionStyles = response.data.sessions_styles;

          EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullyLoaded'))
        }).catch((error) => {
          EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
        })
      }
    },
    onDeleteTemplate: function(){
      if($("#template-load-select").val() == 0){
        EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
      }
      else {
        TemplateService.delete($("#template-load-select").val(), this.event.company_id).then((response) => {
          EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullyDeleted'))
          location.reload()
        }).catch((error) => {
          EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
        })
      }
    },
    onHideConfig: function() {
      this.collapseConfig = !this.collapseConfig
      setTimeout(()=>{
        this.editorResizer.resizeBeefree()
      }, 200)
    },
    onToggleFullScreen: function() {
      this.fullscreen = !this.fullscreen

      this.editorResizer.fullscreen = this.fullscreen
      setTimeout(() => {
        this.editorResizer.resizeBeefree()
      }, 200)
    },
    onEscKeyDown: function () {
      if(this.fullscreen) {
        this.onToggleFullScreen()
      }
    },
    onShowEmailSessionStyles: function () {
      if(!this.showEmailSessionStyles){
        this.showEmailSessionStyles = true
      }else{
        this.showEmailSessionStyles = false
      }
    },
    renderLink: function() {
      if(this.mail.isConfirm){
        return '/events/' + this.event.id + '/emails/' + this.mail.id + '/' + this.lang + '/render';
      }else{
        return '/events/' + this.event.id + '/emails/' + this.mail.id + '/render';
      }
    },
    onTemplateChange(template){
      this.template = template;
    },
    updateSessionStyle(style){
      this.sessionStyle = style;
    }
  },
  mounted: function() {
    this.editorResizer = new BeefreeResizer(this.fullscreen)
  },
  created: function() {
    
    this.mail = this.mailSrc
    this.srcSessionStyles = this.mail.sessions_style;

    // Verify not to forget to save
    $(window).bind('beforeunload', (e) => {
      if(!this.modificationsSaved){
        var dialogText = this.$t('shared.AreYouSurExitNotSaved');
        e.returnValue = dialogText;
        return dialogText;
      }
    });

    // Pushing special links in function of mini site advancedMode edition
    if (!this.advancedMode || $('#json-minisite-infos').length == 0) {
      this.specialLinks.push({
        type: 'Mini-site',
        label: 'Formulaire d\'inscription',
        link: '[[subscribe#url]]'
      },{
        type: 'Sondage',
        label: 'Participation au sondage',
        link: '[[survey#url]]'
      })
    }
    else {
      this.minisite = JSON.parse($('#json-minisite-infos').html());

      this.specialLinks.push({
        type: 'Mini-site',
        label: 'Site de l\'événement',
        link: '[[minisite#url]]'
      })

      if (this.minisite.default_subscribe_form_link != null) { // null if survey page doesn't exists
        this.specialLinks.push({
          type: 'Mini-site',
          label: 'Page d\'inscription',
          link: '[[subscribe#url]]'
        })
      }

      if (this.minisite.default_survey_form_link != null && this.mail.type != 'COMPANIONS_CONFIRMATION') { // null if survey page doesn't exists
        this.specialLinks.push({
          type: 'Mini-site',
          label: 'Participation au sondage',
          link: '[[survey#url]]'
        })
      }
    }

    if(this.mail.type != 'COMPANIONS_CONFIRMATION'){
      this.specialLinks.push({
        type: 'Mini-site',
        label: 'Déclinaison d\'invitation',
        link: '[[decline#url]]'
      })
    }

    // Get JSON from DOM
    this.lang = $('#json-lang').html();
    let template = JSON.stringify(window.seedTemplateMailInfos);

    if(this.mail.isConfirm && typeof template == 'undefined'){
      // Getting other language content here
      var availableLangs = ['fr', 'en', 'de'].filter(item => item !== this.lang && this.mail['template_' + item] != null)

      if(availableLangs.length > 0){
        // Objectively takes content from first lang with content
        template = JSON.stringify(window['seedTemplateMailInfos_' + availableLangs[0]]);

        EventBus.$emit('SHOW_SUCCESS', this.$t('email.ContentRecovered', {lang: availableLangs[0]}))
      }
    }

    if(template != '') {
      this.mail.template = template
      this.template = this.mail.template
    }

    // By default we are not in update mode
    this.update = false

    // If there is an id we switch to update mode
    if(this.mail.id){
      this.update = true
    }
    else {
      this.mail.from_column = null
    }

    GuestService.retrieveAttributes(this.event.id).then((response) => {
      let attributes = response.data

      this.extendedFields = attributes.slice(3);

      this.mergeTags = [];
      for(let attr of attributes){
        this.mergeTags.push({
          name: attr,
          value: '[[' + attr + ']]'
        })
      }
      this.mergeTags.push({
        name: 'Bloc conditionel',
        value: '[[IF CHAMPS == \'VALEUR\' THEN \'AFFICHE\']]'
      })

      this.isLoading = false //show beefree
    }).catch((error) => {
      console.error(error)
      EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
    });

    $('#btn-save').off( "click", "**").on('click', this.onSave)
    $('#btn-save-template').on('click', this.onSaveAsTemplate)
    $('#btn-update-existing-template').on('click', this.onUpdateExistingTemplate)
    $('#btn-load-template').on('click', this.onLoadTemplate)
    $('#btn-delete-template').on('click', this.onDeleteTemplate)

    EventBus.$on('BEE_TEMPLATE_CHANGE', this.onTemplateChange);

    this.onFormChange()
},
components: {
  'beefree': Beefree,
  'email-sessions-styles': EmailSessionsStyles
}

})
export default EmailEditTab
</script>

<style type="scss" scoped>
  .pannel-mail-config{
    margin-bottom: 0;
    border-radius: 0;
    margin-top: 10px;
  }
  .table-form{
    width: 100%;
  }
  .table-form .input-sm {
    margin-bottom: 5px;
  }

  .mail-edit-fullscreen-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .mail-edit-fullscreen-mode .pannel-mail-config {
    margin-top: 0;
  }

  .btn-config-margin{
    margin-left: 5px;
  }

  .btn-show-emails-session-styles{
    margin-right: 10px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: DodgerBlue; */
  }

  .left-container {
    width: 45%;
    align-self: flex-start;
    max-width: 300px;
  }

  .right-container {
    width: 50%;
    align-content: flex-end;
    min-width: 585px;
  }
</style>
