<template>

  <div class="panel panel-default panel-job">

      <div class="panel-body panel-job-body">
        <div class="left-job-part text-center" v-if="!waitingServer" :class="{
          'bg-success': isSuccessJob,
          'bg-danger': isErrorJob,
          'bg-warning': isWarningJob
        }">
          <i :class="{
            'fa fa-3x fa-fw': true,
            'fa-circle-o-notch fa-spin': isPendingJob,
            'text-success fa-check': isSuccessJob,
            'text-danger fa-times': isErrorJob,
            'text-warning fa-warning': isWarningJob
          }"></i><br/>
          <div class="job-id"><strong>{{ $t('jobs.Job') }} #{{job.id}}</strong></div>
          <!-- <span v-if="job.resended" class="job-update"><small>{{ job.resended }}</small></span><br/> -->
          <span class="job-update"><small>{{ $t('jobs.Started') }} : {{ formatDate(job.created_at) }}</small></span><br/>
          <span class="job-update" v-if="isPendingJob"><small>{{ $t('jobs.Updated') }} : {{ formatDate(job.updated_at) }}</small></span>
          <span class="job-update" v-else><small>{{ $t('jobs.Finished') }} : {{  formatDate(job.updated_at) }}</small></span>
        </div>
        <div class="left-job-part text-center" v-else :class="{
          'bg-success': isSuccessJob,
          'bg-danger': isErrorJob,
          'bg-warning': isWarningJob
        }">
          <load-box :visible="waitingServer"></load-box>
        </div>

        <div class="right-job-part">
          <p class="ratio-job-mails">{{ job.nb_mails_sent }}/{{ job.nb_guests }} <span class="sended-mail">{{ $tc('jobs.SentMails', job.nb_guests) }}</span></p>

          <template v-if="job.hasShipment">
            <template v-if="!isResended">
              <button v-if="isErrorJob || isWarningJob" class="btn btn-success" @click="sendFailed" :disabled="waitingServer">{{ $t('jobs.ResendFailed') }}</button>
            </template>
            <template v-else>
              <span class="label label-info">{{ $t('jobs.Resended') }}{{job.resended}}</span>
            </template>
            <button class="btn btn-primary" @click="exportToXls" :disabled="waitingServer">{{ $t('jobs.ExportXLS') }}</button>
          </template>

          <div class="sub-job-infos">
            <p class="labels-job">
              <span class="label label-success">
                {{ job.nb_guests }} {{ $tc('jobs.Recipients', job.nb_guests) }}
              </span>
              <span class="label label-success" :class="{
                  'label-warning': job.nb_mails_sent != job.nb_guests
                }">
                {{ job.nb_mails_sent }} {{ $tc('jobs.SentMails', job.nb_mails_sent) }}
              </span>
              <span class="label label-success" :class="{
                  'label-warning': job.nb_ignored_mails > 0
                }">
                {{ job.nb_ignored_mails }} {{ $tc('jobs.IgnoredMails', job.nb_ignored_mails) }}
              </span>
            </p>
          </div>
          <div class="progress" v-if="job.finished==0">
            <div class="progress-bar progress-bar-info" role="progressbar" :aria-valuenow="divide(job.nb_mails_sent, job.nb_ignored_mails, job.nb_guests)" aria-valuemin="0" aria-valuemax="100" :style="{width: '' + divide(job.nb_mails_sent,  job.nb_ignored_mails, job.nb_guests) + '%'}" >
              <div>{{ divide(job.nb_mails_sent, job.nb_ignored_mails, job.nb_guests) + '%' }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
          <p class="labels-job">
            <span class="label label-primary">{{ $t('jobs.ExecutedBy') }}: user #{{ job.user_id }}</span>
            <span class="label label-primary">{{ $t('jobs.Server') }} : {{ job.mail_host }}</span>
            <span class="label label-primary" v-show="job.join_ics==1">{{ $t('jobs.IncludedICS') }}</span>
            <span class="label label-primary" v-show="job.from_column!=null">{{ $t('jobs.CustomFromColumn') }}: {{ job.from_column }}</span>
            <span class="label label-primary">{{ $t('jobs.FromName') }} : {{ job.mail_from_name == null ? $t('jobs.DefaultValue') : job.mail_from_name }}</span>
            <span class="label label-primary">{{ $t('jobs.FromAddress') }} : {{ job.mail_from_address == null ? $t('jobs.DefaultEmail') : job.mail_from_address  }}</span>
          </p>
      </div>
  </div>

</template>

<script>

import moment from 'moment'
import EmailService from '../../services/EmailService'
import JobFeedbackService from '../../services/JobFeedbacksService'
import LoadBox from '../LoadBox'

const JobFeedbackBloc = Vue.extend({
  props: ['job', 'mail'],
  data(){
    return {
      waitingServer: false,
    }
  },
  methods:{
    divide: function(n1, n2, n3) {
      return Math.round(((n1 + n2)/ n3) * 100)
    },
    formatDate: function(date) {
      let d = moment(date + ' Z', 'YYYY-MM-DD HH:mm:ss Z')
      return d.format('DD.MM.YYYY HH:mm')
    },
    sendFailed(){
      this.waitingServer = true;
      EmailService.resend(this.job.id, this.mail, this.mail.fromColumn, this.mail.sendWithDefaultMail, this.mail.joinICS)
      .then(response => {
        this.waitingServer = false;
        //console.log("Resend job finished.");        
      })
      .catch(error => {
        this.waitingServer = false;
        console.error(error)
      }
      );
    },
    exportToXls(){
      this.waitingServer = true;
      JobFeedbackService.exportToXls(this.mail.id, this.job.id)
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'report.xls');
          document.body.appendChild(link);
          link.click();
          this.waitingServer = false;
        })
        .catch(error => {
          this.waitingServer = false;
          console.error(error)
        });
    }
  },
  computed: {
    sendSuccessPercent: function() {
      return Math.round((this.job.nb_mails_sent / this.job.nb_guests) * 100)
    },
    isPendingJob: function() {
      return this.job.finished==0
    },
    isSuccessJob: function() {
      return this.job.error == 0 && this.job.nb_mails_sent == this.job.nb_guests && this.job.finished==1
    },
    isWarningJob: function() {
      return this.job.error == 0 && this.job.nb_mails_sent != this.job.nb_guests && this.job.finished==1
    },
    isErrorJob: function() {
      return this.job.error == 1 && this.job.finished==1
    },
    isResended: function(){
      return this.job.resended ? this.job.resended : false
    }
  },
  components:{
    'job-feedback-bloc': JobFeedbackBloc,
    'load-box': LoadBox
  }
})
export default JobFeedbackBloc
</script>

<style type="scss" scoped>

.sended-mail{
  font-size: .8em;
  font-weight: 300;
}

.panel-job-body{
  position: relative;
  min-height: 160px;
}
.left-job-part{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  border-right: 1px solid #ccc;
  margin-right: 30px;

  width: 250px;
}
.right-job-part{
  padding-left: 270px;
  display: inline-block;
  width: 100%;
}

.ratio-job-mails{
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: 10px;
}

.job-id{
  margin-top: 15px;
}

.labels-job{
  font-size: 16px;
  padding: 0;
  margin: 0 0 2px 0;
}

.labels-job .label{
  margin: 0 4px 0 0;
}
</style>
