<template>
    <section>
        <div class=flex-container-session-bar>
            <div class="left-container-session-bar">
                <label class="label-session-styles" 
                for="FieldsetSessionStyles">{{ label }}</label>
            </div>
            <div class="right-container-session-bar">
                <fieldset id="FieldsetSessionStyles" class="sessions-bar-styles flex-container">

                    <select class="font-styles" name="sessions-font" id="" v-model="selectedFont"  @change="updateValue">
                        <option v-for="(font, i) in fonts" :key="i" :value="i">
                            <span v-bind:style="{fontFamily:font.font}">{{font.name}}</span>
                        </option>
                    </select>

                    <input type="text" :id="colorId" :ref="colorId" class="colorpicker font-styles" :value="color">

                    <select class="font-styles" v-model="fontSizeSelected" @change="updateValue">
                        <option disabled value="null">Font Size</option>
                        <option v-for="(size, i) in fontSize" :key="size.value" :value="i">
                        {{ size.text }}
                        </option>
                    </select>

                    <button class="button-styles" :class="{'pressed-buttons': isBoldPressed}" title="Bold Text" 
                        @click="boldOn"><b>B</b></button>
                    <button class="button-styles" :class="{'pressed-buttons': isItalicPressed}" title="Italicize Text" 
                        @click="italicsOn"><i>I</i></button>
                    <button class="button-styles" :class="{'pressed-buttons': isUnderlinePressed}" title="Underlined Text" 
                        @click="underlineOn"><u>U</u></button>

                    <button class="button-styles" v-bind:class="{'pressed-buttons': isAlignLeftPressed}" title="Align Text Left" 
                        @click="align('left')"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                    <button class="button-styles" v-bind:class="{'pressed-buttons': isAlignCenterPressed}" title="Align Text Center" 
                        @click="align('center')"><i class="fa fa-align-center" aria-hidden="true"></i></button>
                    <button class="button-styles" v-bind:class="{'pressed-buttons': isAlignRightPressed}" title="Align Text Right" 
                        @click="align('right')"><i class="fa fa-align-right" aria-hidden="true"></i></button>
                    <button class="button-styles" v-bind:class="{'pressed-buttons': isJustifyPressed}" title="Align Text Justify" 
                        @click="align('justify')"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
                </fieldset>
            </div>
        </div>
            
    </section>
</template>

<script>
import EventBus from '../../tools/EventBus'
/**
 * 
 */
const EmailSessionsStyles = Vue.extend({
    data () {
        return {
            color: "",
            selectedFont: 0,
            fontSizeSelected: 4,
            isBoldPressed: false,
            isItalicPressed: false,
            isUnderlinePressed: false,
            textAlignStyle: null,
            json: null,
        }
    },
    model: {
        event: this.colorId
    },
    updated(){
        //Used for colorpicker
        $(this.$refs[this.colorId]).off().on('change', this.setColor);
    },
    mounted () {
        $(this.$refs[this.colorId]).off().on('change', this.setColor);
        this.updateValue();
    },
    props: [
        'stylesBar',
        'fonts',
        'fontSize',
        'label',
        'colorId',
        'jsonProperty'
    ],
    methods: {
        setColor: function(color){
            this.color = color.target.value;
            this.updateValue();
        },
        boldOn: function() {
            this.isBoldPressed = !this.isBoldPressed;
            this.updateValue();
        },
        italicsOn: function() {
            this.isItalicPressed = !this.isItalicPressed;
            this.updateValue();
        },
        underlineOn: function() {
            this.isUnderlinePressed = !this.isUnderlinePressed;
            this.updateValue();
        },
        align(position){
            if(this.textAlignStyle === position)
                this.textAlignStyle = null;
            else
                this.textAlignStyle = position;
            this.updateValue();
        },
        updateValue(){
            this.json = {};
            if(this.color != null) this.json['color'] = this.color;
            if(this.isBoldPressed) this.json['font-weight'] = 'bold';
            if(this.isItalicPressed) this.json['font-style'] = 'italic';
            if(this.isUnderlinePressed) this.json['text-decoration'] = 'underline';
            if(this.selectedFont != null && this.selectedFont > -1) 
                this.json['font-family'] = this.fonts[this.selectedFont].font;
            if(this.fontSizeSelected != null && this.fontSizeSelected > -1) 
                this.json['font-size'] =  this.fontSize[this.fontSizeSelected].value;
            if(this.textAlignStyle != null) this.json['text-align'] = this.textAlignStyle;

            this.$emit(this.colorId, {[this.jsonProperty]: this.json});
        },
        setDefaultValues(){
            this.color = "";
            this.selectedFont = 0;
			this.fontSizeSelected = 4;
			this.isBoldPressed = false;
			this.isItalicPressed = false;
			this.isUnderlinePressed = false;
			this.textAlignStyle = null;
        }
    },
    computed: {
        isAlignLeftPressed(){
            return this.textAlignStyle === 'left';
        },
        isAlignCenterPressed(){
            return this.textAlignStyle === 'center';
        },
        isAlignRightPressed(){
            return this.textAlignStyle === 'right';
        },
        isJustifyPressed(){
            return this.textAlignStyle === 'justify';
        },
    },
    watch: {
        stylesBar: {
            handler:function(val, old){
                if(val && val != old){
                    this.textAlignStyle = this.stylesBar["text-align"] ?  this.stylesBar["text-align"] : null;
                    this.color = this.stylesBar["color"] ? this.stylesBar["color"] : null;
                    this.isBoldPressed = this.stylesBar["font-weight"] === "bold";
                    this.isItalicPressed = this.stylesBar["font-style"] === "italic";
                    this.isUnderlinePressed = this.stylesBar["text-decoration"] === "underline";
                    this.selectedFont = this.stylesBar["font-family"] ? 
                        this.fonts.findIndex(f => this.stylesBar["font-family"] === f.font) : null;
                    this.fontSizeSelected = this.stylesBar["font-size"] ? 
                        this.fontSize.findIndex(f => this.stylesBar["font-size"] === f.value) : null;
                    
                    let tmpcolor = this.color ? this.color : "#000";
                    $(this.$refs[this.colorId]).spectrum("set", tmpcolor);
                } else if(val == null){
                    this.setDefaultValues();
                }

                this.updateValue();
            },
            immediate: true,
        }
    }
})
export default EmailSessionsStyles
</script>

<style>
    .sessions-bar-styles {
      margin: 2px 10px 15px;
      width: 90%;
      max-width: 613px;
      max-height: 36px;
      background-color: #323739;
      border: 0 solid #252829;
    }

    .button-styles {
      width: 40px;
      text-align: center;
      padding: 4px 3px;
      line-height: 1.5em;
      background-color: #444a4c;
      border: 0 solid #252829;
      color: #fff;
    }

    .font-styles {
      background-color: #444a4c;
      border: 0 solid #252829;
      color: #fff;
      padding: 5px 3px;
    }

    .pressed-buttons {
      background-color: #2c3031;
      border-color: #252829;
    }

    .label-session-styles {
        background-color: white;
        border: 0 white;
        padding-right: 5px;
        border-top-width: thick;
        border-top-style: inherit;
        border-bottom-width: thick;
        border-bottom-style: inherit;
        margin-bottom: 0px;
        width: 95px;
    }

    .flex-container-session-bar {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        margin-top: 10px;
    }

    .left-container-session-bar {
        /* width: 30%; */
        /* align-self: flex-start; */
        text-align: right;
    }

    .right-container-session-bar {
        width: 60%;
        align-content: flex-end;
        min-width: 740px;
    }

    .spectrum-colorpicker-container{
        background-color: #323739;
        border: 0 solid #252829;
        color: #fff;
        border-left: none;
    }

    .spectrum-colorpicker-container .sp-picker-container{
        border-left: none;
    }

    .spectrum-colorpicker-container .sp-input{
        color: #fff;
    }

    .spectrum-colorpicker-container .sp-choose{
        background-color: #323739;
        border: 0 solid #252829;
        color: #fff;
        text-shadow: none;
        background-image: -webkit-linear-gradient(top, #444a4c, #323739);
        background-image: -moz-linear-gradient(top, #444a4c, #323739);
        background-image: -ms-linear-gradient(top, #444a4c, #323739);
        background-image: -o-linear-gradient(top, #444a4c, #323739);
        background-image: linear-gradient(to bottom, #444a4c, #323739);
    }

    .spectrum-colorpicker-container .sp-choose:hover{
        background-color: #595f61;
        border: 0 solid #252829;
        color: #fff;
        text-shadow: none;
        background-image: -webkit-linear-gradient(top, #444a4c, #595f61);
        background-image: -moz-linear-gradient(top, #444a4c, #595f61);
        background-image: -ms-linear-gradient(top, #444a4c, #595f61);
        background-image: -o-linear-gradient(top, #444a4c, #595f61);
        background-image: linear-gradient(to bottom, #444a4c, #595f61);
    }

    .spectrum-colorpicker-replacer{
        background-color: #444a4c;
        border: 0 solid #252829;
        outline: none;
        color: #fff;
    }

    .spectrum-colorpicker-replacer .sp-preview{
        border: 0 solid #ffffff;
    }
    
  </style>
