<template>
  <section>
    <alert></alert>

    <div class="btn-group btn-group-justified" role="group" v-show="!advanced_mode">
      <div class="btn-group">
        <button v-on:click="onTabForm" class="btn btn-default" v-bind:class="{ active: showForm }">{{ $t('surveyForm.Form') }}</button>
      </div>
      <div class="btn-group">
        <button v-on:click="onTabStruct" class="btn btn-default" v-bind:class="{ active: !showForm }">{{ $t('surveyForm.Layout') }}</button>
      </div>
    </div>

    <load-box :visible="isLoading"></load-box>

    <section v-if="!isLoading">

        <a v-if="this.accessHash != ''"
            :disabled="event.survey_form_url == null"
            :href="event.survey_form_url"
            target="_blank" class="btn btn-default btn-overview">
            {{ $t('surveyForm.ShowOverview') }}
        </a>

        <survey-form-parameters class="survey-form-parameters"
            v-if="this.surveyForm != null"
            :surveyMode="true"
            :surveyModeAdvanced="this.event.advanced_subscription_form_mode"
            :subscribeForm="surveyForm"
            :langs="event.langs"
            v-on:onChange="onParametersChange">
        </survey-form-parameters>

        <div v-show="showForm" v-if="this.event.advanced_subscription_form_mode == 1 && surveyForm != null">
        <survey-js-editor
            mode="survey"
            :event="this.event"
            v-on:save="saveSurveyJs"></survey-js-editor>
        </div>

        <!-- BASE FORM BUILDER (BeeFree) DEPENDING ON EVENT CONFIGURATION -->
        <div v-if="this.event.advanced_subscription_form_mode == 0">
        <edit-form v-show="showForm" v-if="surveyForm != null"
            :formTemplate="surveyForm.formTemplate"
            :inputSets="formInputSets"
            :disableFields="formDisableFields"
            :defaultFields="formDefaultFields"
            v-on:formbuilderSave="saveFormBuilder"></edit-form>
        </div>

        <form-edit-struct v-show="!showForm" v-if="event != null && surveyForm != null"
            :event="event"
            :template="surveyForm.template"
            :mergeContents="mergeContents"
            v-on:beefreeSave="saveBeefree">
        </form-edit-struct>

    </section>

  </section>
</template>

<script>
    import Alert from '../Alert'
    import SurveyFormService from '../../services/SurveyFormService'

    import SubscribeSurveyFormParameters from '../SubscribeSurveyFormParameters'

    import EditForm from '../EditForm'
    import FormEditStruct from '../FormEditStruct'
    import SurveyEditor from '../SurveyJsEditor'
    import LoadBox from '../LoadBox'

    import EventBus from '../../tools/EventBus'

    const SurveyFormEdit = Vue.extend({
        data () {
            return {
                editMail: true,
                surveyForm: null,
                isLoading: true,
                showForm: true,
                event: null,
                accessHash: null,
                saveCallback: 0,
                advanced_mode: 0,
                mergeContents: [{
                    name: this.$t('surveyForm.SurveyForm'),
                    value: '[[eventSurveyForm]]'
                }],
                formInputSets: [{
                    label: this.$t('surveyForm.ValidationButton'),
                    name: 'validate', // optional - one will be generated from the label if name not supplied
                    showHeader: false, // optional - Use the label as the header for this set of inputs
                    fields: [
                        {
                            className: "form-control btn-primary",
                            label: this.$t('shared.Validate'),
                            name: "submit",
                            type: "button",
                            subtype: "submit"
                        }
                    ]
                }],
                formDisableFields: ['file', 'button', 'autocomplete'],
                formDefaultFields: [
                    {
                        label: "Question 1",
                        name: "question1",
                        type: "radio-group",
                        values: [{
                            label: 'Réponse 1',
                            value: 'reponse1'
                        }, {
                            label: 'Réponse 2',
                            value: 'reponse2'
                        }]
                    },
                    {
                        label: "Question 2",
                        name: "question2",
                        type: "checkbox-group",
                        values: [{
                            label: 'Réponse 1',
                            value: 'reponse1'
                        }, {
                            label: 'Réponse 2',
                            value: 'reponse2'
                        },{
                            label: 'Réponse 3',
                            value: 'reponse3'
                        }]
                    },
                    {
                        className: "form-control btn-primary",
                        label: "Valider",
                        name: "submit",
                        type: "button",
                        subtype: "submit"
                    }
                ]
            }
        },
        components: {
            'alert': Alert,
            'edit-form': EditForm,
            'form-edit-struct': FormEditStruct,
            'survey-form-parameters': SubscribeSurveyFormParameters,
            'survey-js-editor': SurveyEditor,
            'load-box': LoadBox
        },
        props: ['advanced_mode'],
        methods: {
            onParametersChange: function(parameters) {
                console.log(parameters)
                this.surveyForm = Object.assign(this.surveyForm, parameters)
            },
            onCancel: function() {
                if(confirm(this.$t('shared.DoYouReallyWantToQuit'))){
                    window.location.href = '/events/' + this.event.id + '/surveyForm/results'
                }
            },
            onSave: function() {
                EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
                EventBus.$emit('ASK_FORMBUILDER_SAVE')
                EventBus.$emit('ASK_SURVEY_JS_SAVE')
            },
            saveBeefree: function(d) { // triggered by beefree
                console.log(d)
                this.surveyForm.html = d.html
                this.surveyForm.template = d.data
                this.save()
            },
            saveFormBuilder: function(d) { // triggered by formbuilder
                console.log(d)
                this.surveyForm.formHtml = d.html
                this.surveyForm.formTemplate = d.data
                this.save()
            },
            saveSurveyJs: function(form) { // triggered by surveyJS
                console.log("saveSurveyJs")
                console.log(form)
                this.surveyForm.advancedFormHtml = form.advancedFormHtml
                this.surveyForm.advancedFormTemplate = form.advancedFormTemplate
                this.save()
            },
            save: function() {
                this.saveCallback ++
                let nbNecessarySave =  this.event.advanced_minisite_mode ? 1 : 2;
                if(this.saveCallback >= nbNecessarySave) {
                    console.log(this.surveyForm)
                    console.log("save")
                    this.isLoading = true

                    SurveyFormService.update(this.surveyForm).then((response) => {
                        this.surveyForm = response.data
                        this.isLoading = false
                        EventBus.$emit('SHOW_SUCCESS', this.$t('shared.ModificationsSaved'))
                    }).catch((error) => {
                        EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                        this.isLoading = false
                    })
                    this.saveCallback = 0
                }
            },
            onTabForm: function() {
                this.showForm = true
            },
            onTabStruct: function () {
                this.showForm = false
            }
        },
        created: function() {
            $('#btn-cancel').off( "click", "**").on('click', this.onCancel)
            $('#btn-save').off( "click", "**").on('click', this.onSave)

            this.event = JSON.parse($('#json-event-infos').html())
            this.accessHash = $('#json-accesshash-infos').html()

            SurveyFormService.show(this.event.id).then((response) => {
                this.surveyForm = response.data
                this.isLoading = false
            }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                this.isLoading = false
            })
        }
    })
    export default SurveyFormEdit
</script>

<style type="scss" scoped>
    .load-box{
        margin-top: 20px;
    }
    .btn-overview{
        margin-bottom: 10px;
    }
    .survey-form-parameters{
        margin-bottom: 0px;
    }
</style>
