<template>
    <transition name="fade">
        <div  v-if="visible" class="alert-unobsctructive-box">
            <div class="alert alert-unobstructive"
                v-if="!isMessageArray"
                v-bind:class="{ 'alert-danger': dangerMode, 'alert-success': !dangerMode }"
                v-html="message">
            </div>
            <div class="alert alert-unobstructive"
                v-else
                v-bind:class="{ 'alert-danger': dangerMode, 'alert-success': !dangerMode }">
                <p v-for="m in message" :key="m">{{ m }}</p>
            </div>
        </div>
    </transition>
</template>

<script>
    import EventBus from '../tools/EventBus'

    const Alert = Vue.extend({
        data () {
            return {
                message: '',
                dangerMode: false,
                visible: false
            }
        },
        props: {
            'errorMessage': {
                required: false,
                type: String
            },
            'successMessage': {
                required: false,
                type: String
            }
        },
        watch: {
            errorMessage: function(newVal) {
                if (newVal === null) {
                    return
                }
                this.dangerMode = true
                this.message = newVal
                this.showAlert()
            },
            successMessage: function(newVal) {
                if (newVal === null) {
                    return
                }
                this.dangerMode = false
                this.message = newVal
                this.showAlert()
            } 
        },
        computed: {
            isMessageArray: function() {
                return (this.message instanceof Array)
            }
        },
        methods: {
            showAlert: function() {
                this.visible = true

                setTimeout(()=>{
                    this.visible = false
                }, 8000)
            }
        },
        created: function() {
            EventBus.$on('SHOW_ERROR', (errorTxt) => {
                this.dangerMode = true
                this.message = errorTxt
                this.showAlert()
            })

            EventBus.$on('SHOW_SUCCESS', (successMessage) => {
                this.dangerMode = false
                this.message = successMessage
                this.showAlert()
            })
        }
    })
    export default Alert
</script>

<style type="scss" scoped>
    .alert-unobsctructive-box{
        position: fixed;
        top: 5px;
        left: 0;
        width: 100%;
        z-index: 10020;
        padding: 0 10px;
    }
    .alert-unobstructive{
        text-align: center !important;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
