<template>
    <div id="mail-edition-container"></div>
</template>

<script>
import BeeFreeService from '../services/BeeFreeService'
import EventBus from '../tools/EventBus'
import i18n from '../tools/i18n'

const template = {
    "page": {
        "title": "Eventwize template",
        "description": "template",
        "template": {
            "name": "template-base",
            "type": "basic",
            "version": "0.0.1"
        },
        "body": {
            "type": "mailup-bee-page-proprerties",
            "container": {
                "style": {
                    "background-color": "#FFFFFF"
                }
            },
            "content": {
                "style": {
                    "font-family": "Arial, 'Helvetica Neue', Helvetica, sans-serif",
                    "color": "#000000"
                },
                "computedStyle": {
                    "linkColor": "#0068A5",
                    "messageBackgroundColor": "transparent",
                    "messageWidth": "500px"
                }
            }
        },
        "rows": [
            {
                "type": "one-column-empty",
                "container": {
                    "style": {
                        "background-color": "transparent"
                    }
                },
                "content": {
                    "style": {
                        "background-color": "transparent",
                        "color": "#000000",
                        "width": "500px"
                    }
                },
                "columns": [
                    {
                        "grid-columns": 12,
                        "modules": [
                            {
                                "type": "mailup-bee-newsletter-modules-empty",
                                "descriptor": {}
                            }
                        ],
                        "style": {
                            "background-color": "transparent",
                            "padding-top": "5px",
                            "padding-right": "0px",
                            "padding-bottom": "5px",
                            "padding-left": "0px",
                            "border-top": "0px dotted transparent",
                            "border-right": "0px dotted transparent",
                            "border-bottom": "0px dotted transparent",
                            "border-left": "0px dotted transparent"
                        }
                    }
                ]
            }
        ]
    }
}

const Beefree = Vue.extend({
    data () {
        return {
            beeConfig: null,
            beeInstance: null
        }
    },
    props: ['mergeTags', 'mergeContents', 'event', 'template', 'specialLinks'],
    watch: {
        template: function (val) {     
            this.beeInstance.load(val)
            this.beeInstance.start(val)
        },
    },
    methods: {
        initBeeFree: function(data) {            
            // Main configuration of bee plugin
            this.beeConfig = {
                uid: 'company-'+this.event.company_id,            // uid received from ajax request
                container: 'mail-edition-container',  // div containing the bee plugin
                language: i18n.getIternationalLocale(),                    // Interface language
                mergeTags: this.mergeTags,                 // Tags such as event name
                mergeContents: this.mergeContents,         // HTML blocs such as inscription form
                specialLinks: this.specialLinks,
                preventClose: true,
                editorFonts: {
                    showDefaultFonts: true,
                    customFonts:[{
                        name: "Oswald",
                        fontFamily: "'Oswald', Georgia, Times, serif",
                        url: "https://fonts.googleapis.com/css?family=Oswald",},
                        {
                            name:"Indie Flower",
                            fontFamily: "'Indie Flower', Georgia, Times, serif",
                            url: "https://fonts.googleapis.com/css?family=Indie+Flower",
                        },
                        {
                            name:"Poppins",
                            fontFamily: "'Poppins', Georgia, Times, serif",
                            url: "https://fonts.googleapis.com/css?family=Poppins",
                        },
                        {
                            name:"Anton",
                            fontFamily: "'Anton', Georgia, Times, serif",
                            url: "https://fonts.googleapis.com/css?family=Anton",
                        },
                    ]
                },
                onSave: (jsonFile, htmlFile) => {
                    this.saveMail(jsonFile, htmlFile) // Method called on clique sur enregistrer
                },
                onSaveAsTemplate: (jsonFile) => {
                    this.saveTemplate(jsonFile)
                },
                onChange: (jsonFile, response) => {
                    EventBus.$emit('BEE_TEMPLATE_CHANGE', jsonFile);
                }
            }

            BeePlugin.create(data, this.beeConfig, (beePluginInstance) => {
                this.beeInstance = beePluginInstance
                if(this.template != null) {
                    let t = JSON.parse(this.template)
                    if(t.page == null){
                        this.beeInstance.load(template)
                        this.beeInstance.start(template)
                    }
                    else{
                        this.beeInstance.load(t)
                        this.beeInstance.start(t)
                    }
                }
                else {
                    this.beeInstance.load(template)
                    this.beeInstance.start(template)
                }
            })
        },
        saveMail: function (data, html){
            this.$emit('saveMail', {'data': data, 'html': html})
        },
        saveTemplate: function(data){
            this.$emit('saveTemplate', data)
        },
        onSave: function() {
            if(this.beeInstance != null){
                this.beeInstance.save()
            }
            else{
                EventBus.$emit('SHOW_ERROR', this.$t('shared.WaitLoadingEnd'))
            }
        },
        onSaveAsTemplate: function() {
            if(this.beeInstance != null){                
                this.beeInstance.saveAsTemplate()
            }
            else{
                EventBus.$emit('SHOW_ERROR', this.$t('shared.WaitLoadingEnd'))
            }
        }
    },
    created: function() {        
        BeeFreeService.auth().then((data) => {
            this.initBeeFree(data)
        }).catch((err) => {
            console.error(err)
            EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
        })

        EventBus.$on('ASK_BEEFREE_SAVE_MAIL', () => {
            this.onSave()
        })

        EventBus.$on('ASK_BEEFREE_SAVE_TEMPLATE', () => {
            this.onSaveAsTemplate()
        })

    }
})
export default Beefree
</script>

<style type="scss">
#mail-edition-container{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #515151;
    border: solid 1px #e6e5e5;
    transition: all .1s linear;
}
</style>
