<template>
    <transition name="fade">
        <div class="custom-modal" v-if="show">
            <div class="modal-box" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="onClose">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="favoritesModalLabel">
                                {{ title }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p v-html="message"></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" @click="onValid">{{ btnOKLabel }}</button>
                            <button class="btn btn-secondary" @click="onCancel">{{ btnCancelLabel }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>

import EventBus from '../tools/EventBus'

/**
 * How to use me:
 *       EventBus.$emit('SHOW_CONFIRM_MODAL', {
 *               title: this.$t('shared.DoYouConfirmDelete'),
 *               message: this.$t('guest.DeleteAllConfirmMessage'), // You can pass html here
 *               btnCancelLabel: this.$t('shared.Cancel'),
 *               btnOKLabel: this.$t('shared.Confirm'),
 *               callbackOK: () => {
 *                   console.log('OK')
 *               }, 
 *               callbackCancel: () => {
 *                   console.log('CANCEL')
 *               }
 *           })
 * 
 * Don't forget to add <confirm-modal> to the root component
 */
const ConfirmModal = Vue.extend({
    data () {
        return {
            show: false,
            callbackOK: null,
            callbackCancel: null,
            title: null,
            btnCancelLabel: null,
            btnOKLabel: null,
            message: null
        }
    },
    mounted () {
        EventBus.$on('SHOW_CONFIRM_MODAL', ({title, message, btnOKLabel, btnCancelLabel, callbackOK, callbackCancel}) => {
            this.callbackOK = callbackOK
            this.callbackCancel = callbackCancel
            this.title = title
            this.message = message
            this.btnCancelLabel = btnCancelLabel
            this.btnOKLabel = btnOKLabel
            this.show = true
        })
    },
    methods: {
        onClose: function () {
            this.callbackCancel()
            this.reset()
        },
        onValid: function () {
            this.callbackOK()
            this.reset()
        },
        onCancel: function () {
            this.callbackCancel()
            this.reset()
        },
        reset: function () {
            this.callbackOK = null
            this.callbackCancel = null
            this.title = null
            this.message = null
            this.btnCancelLabel = null
            this.btnOKLabel = null
            this.show = false;
        }
      }

  })
  export default ConfirmModal
</script>

<style type="scss" scoped>
</style>
