<template>
    <section>
        <formbuilder v-on:saveData="onSaveData"
            :formData="formTemplate"
            :inputSets="inputSets"
            :disableFields="disableFields"
            :defaultFields="defaultFields"
            :selectableFields="selectableFields"
        ></formbuilder>
    </section>
</template>

<script>
    import EventBus from '../tools/EventBus'
    import Formbuilder from './Formbuilder'

    const EditForm = Vue.extend({
        data () {
            return {
            }
        },
        props: ['formTemplate', 'inputSets', 'disableFields', 'defaultFields', 'selectableFields'],
        methods: {
            onSaveData: function(formData) {
                this.$emit('formbuilderSave', formData);
            }
        },
        components: {
            'formbuilder': Formbuilder
        }
    })
    export default EditForm
</script>

<style type="scss" scoped>

</style>
