<template>
    <div class="fb-box row">
        <div id="fb-editor" v-bind:class="{ 'col-md-10': selectableFields != null }"></div>

        <div v-if="selectableFields != null" class="col-md-2 btn-group-vertical custom-fields">
            <button v-for="field in selectableFields" :key="field" type="button" class="btn btn-default" v-on:click="onAddField(field)">{{ field }}</button>
        </div>

        <div class="modal modal-selection-vue" role="dialog" v-if="fieldAddName != null">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ $t('subscribeForm.SelectType') }}</h4>
                </div>
                <div class="modal-body">
                    <div class="btn-group-vertical btn-group-block">
                        <button v-for="typeField in fieldTypes" :key="typeField.type" type="button" class="btn btn-default btn-block" v-on:click="addField(fieldAddName, typeField.type)">{{ typeField.name }}</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" v-on:click="onPopupClose()">{{ $t('shared.Close') }}</button>
                </div>
                </div>

            </div>
        </div>
        <div class="modal-bg" v-if="fieldAddName != null">&nbsp;</div>
    </div>
</template>

<script>
    //import formBuilder from 'formBuilder' //imported in bootstrap file
    //import formRender from 'formBuilder'
    import * as sortable from 'jquery-ui-sortable'
    import EventBus from '../tools/EventBus'
    import FormBuilderI18n from '../tools/i18n-formbuilder'
    import i18n from '../tools/i18n'

    const Formbuilder = Vue.extend({
        data () {
            return {
                formB: null,
                fieldAddName: null,
                fieldTypes: [{
                        type: 'text',
                        name: this.$t('subscribeForm.fieldsTypes.text')
                    },{
                        type: 'textarea',
                        name: this.$t('subscribeForm.fieldsTypes.textarea')
                    },{
                        type: 'number',
                        name: this.$t('subscribeForm.fieldsTypes.number')
                    },{
                        type: 'date',
                        name: this.$t('subscribeForm.fieldsTypes.date')
                    },{
                        type: 'select',
                        name: this.$t('subscribeForm.fieldsTypes.select')
                    },{
                        type: 'checkbox',
                        name: this.$t('subscribeForm.fieldsTypes.checkbox')
                    },{
                        type: 'radio-group',
                        name: this.$t('subscribeForm.fieldsTypes.radio')
                    }
                ]
            }
        },
        props: ['formData', 'inputSets', 'disableFields', 'defaultFields', 'selectableFields'],
        methods: {
            addField: function(name, type) {
                let classN = 'form-control'
                if(type === 'radio-group') {
                    classN = ''
                }
                
                let field = {
                    type: type,
                    label: name,
                    name: name,
                    className: classN
                }
                this.formB.actions.addField(field)
                this.fieldAddName = null
            },
            onAddField: function(fieldName) {
                this.fieldAddName = fieldName
            },
            onPopupClose: function() {
                this.fieldAddName = null
            },
            sanitizeText: function(t) {
                return t.replace(/(&lt;([^&gt;]+)&gt;|<([^>]+)>)/ig, "");
            }
        },
        created: function() {
            jQuery(($) => {
                let editor = document.getElementById('fb-editor')

                let options = {
                    i18n: {
                        locale: i18n.getIternationalLocale(),
                        preloaded: {
                            'fr-FR': FormBuilderI18n.fr,
                            'de-DE': FormBuilderI18n.de
                        }
                    },
                    disabledAttrs: ['access'],
                    formData: this.formData,
                    disableFields: this.disableFields,
                    showActionButtons: false,
                    inputSets: this.inputSets,
                    defaultFields: this.defaultFields
                }
                this.formB = $(editor).formBuilder(options)
            })
            
            EventBus.$on('ASK_FORMBUILDER_SAVE', () => {
                let formData = this.sanitizeText(this.formB.formData)
                let formRenderOpts = {
                    dataType: 'json',
                    formData
                }

                let renderContainer = $('<form/>')
                renderContainer.formRender(formRenderOpts)

                this.$emit('saveData', { data: formData, html: renderContainer.html() })
            })
        }
    })
    export default Formbuilder
</script>

<style type="scss" scoped>
    .fb-box{
        background-color: #e6e6e6;
        margin-top: 20px;
    }
    .custom-fields{
        padding: 5px 5px 0 5px;
    }
    #fb-editor {
        padding: 5px 5px;
        background-color: #515151;
    }
    .modal-selection-vue{
        z-index: 1001;
        display: block !important;
    }
    .modal-bg{
        z-index: 1000;
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .btn-group-block{
        width: 100%;
    }
</style>
