<template>
    <section>
        <beefree 
            :event="event" 
            :template="template"
            :mergeContents="mergeContents"
            v-on:saveMail="saveMail"
            v-on:saveTemplate="saveTemplate">
        </beefree>
    </section>
</template>

<script>
    import EventBus from '../tools/EventBus'
    import Beefree from './Beefree'
    import TemplateService from '../services/TemplateService'

    const FormEditStruct = Vue.extend({
        props: ['template', 'event', 'mergeContents'],
        methods: {
            saveMail: function(data) {
                this.$emit('beefreeSave', data);
            },
            saveTemplate: function(data){

                // Call the templateservice for storing the template
                let pname = prompt(this.$t('email.TemplateNameToSave'))

                if(pname == null){
                    return;
                }

                let jdata = {
                    "template": data,
                    "name": pname,
                    "template_type": "MINISITE"
                }              

                TemplateService.store(jdata, this.event.company_id).then((response)=>{                    
                    EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullySaved'))
                }).catch((error)=>{                    
                    EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                })
            },
        },
        components: {
            'beefree': Beefree
        },
        created: function() {

        },
    })
    export default FormEditStruct
</script>

<style type="scss" scoped>

</style>
