<template>
    <div v-if="visible" class="load-box">
        <p class="text-center">
            <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </p>
    </div>
</template>

<script>
    const LoadBox = Vue.extend({
        props: ['visible']
    })
    export default LoadBox
</script>

<style type="scss" scoped>
    .load-box {
        margin: 30px 0;
    }
</style>