<template>
    <div v-if="visible" class="modal-load">
        <p class="modal-load-content">
            <i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </p>
    </div>
</template>

<script>
    import EventBus from '../tools/EventBus'

    const ModalLoad = Vue.extend({
        data () {
            return {
                visible: false
            }
        },
        created: function() {
            EventBus.$on('SHOW_MODAL_LOAD', () => {
                console.log('SHOW_MODAL_LOAD');
                this.visible = true
            });

            EventBus.$on('HIDE_MODAL_LOAD', () => {
                console.log('HIDE_MODAL_LOAD');
                this.visible = false
            });
        }
    })
    export default ModalLoad
</script>

<style type="scss" scoped>
    .modal-load {
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }
    .modal-load-content {
        text-align: center;
        margin-top: 100px;
    }
</style>