<template>
    <div>
        <div class="input-group" v-for="lang in langs" :key="lang">
            <span class="input-group-addon"><span class="lang-info">{{ lang }}</span></span>
            <input type="text" class="form-control" 
                :name="'submit_text_' + lang"
                v-model="localValues[lang]"
                v-on:change="onChange()">
        </div>
    </div>
</template>

<script>

const LocalizableTextInput = Vue.extend({
    data () {
        return {
            localValues: {},
            langs: []
        }
    },
    props: [
        'label',
        'name',
        'values'
    ],
    watch: {
        values: function(NValues) {
            let nLangs = []
            for(let key in NValues) {
                this.$set(this.localValues, key, NValues[key])
                nLangs.push(key)
            }
            this.langs = nLangs
        }
    },
    methods: {
        onChange: function() {
            this.$emit('onChange', this.localValues)
        }
    },
    created: function() {
        let nLangs = []
        for(let key in this.values) {
            console.log(key)
            this.$set(this.localValues, key, this.values[key])
            nLangs.push(key)
        }
        this.langs = nLangs
    }
})
export default LocalizableTextInput

</script>

<style type="scss" scoped>

.input-group{
    margin-top: 5px;
}

.lang-info{
    display: inline-block;
    width: 50px;
}
</style>
