<template>
    <div class="custom-modal" v-if="show">
        <div class="modal-box" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="onClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="favoritesModalLabel">
                            {{ $t('email.ConfirmMailSend') }}
                        </h4>
                    </div>
                    <div class="modal-body" id="send-modal-body">
                        <div v-if="errorMessage != null">
                            <div class='alert alert-danger'>{{ errorMessage }}</div>
                        </div>

                        <div id="send-messages">
                            <div v-if="company != undefined && company.smtp_from_name" class="alert alert-info">
                                <p v-html="$t('email.YouHaveSpecifiedSpecialConfig')"></p>
                                <p>
                                    {{ $t('email.SendMailIs') }}<strong>{{ this.company.smtp_from_mail_address }}</strong>
                                </p>
                            </div>
                            <div v-else class="alert alert-info">
                                <p><b>{{ $t('shared.Information') }}</b> {{ $t('email.YouHaventSpecifiedSMTP') }}</p>
                            </div>
                        </div>

                        <div v-if="fromColumn == null || fromColumn === 'null'" class="alert alert-info">
                            <p><b>{{ $t('shared.Information') }}</b> {{ $t('email.YouHaventSpecifiedFromColumn') }}</p>
                        </div>

                        <p>{{ $t('email.YouWillSendThisMailTo', { nbPeople: countToSend }) }}</p>

                        <div id="before-send-message"></div>
                        <p>
                            {{ $t('shared.DoYouConfirmThisAction') }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <input type="password"
                            id="confirm-password"
                            class="form-control"
                            :placeholder="$t('shared.YourPassword')"
                            required 
                            v-model="passwordConfirm"/>
                        <br/>

                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            v-on:click="onClose">{{ $t('shared.Close') }}
                        </button>&nbsp;
                        <span class="pull-right">
                            <button type="button" id="final-send-btn" class="btn btn-danger" v-on:click="sendEmails" v-if="!(sending || sended)">
                                {{ $t('email.Send') }}
                            </button>
                            <button type="button" class="btn btn-secondary" disabled="disabled" v-if="sending">
                                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </button>
                            <button type="button" id="final-send-btn" class="btn btn-success" disabled="disabled" v-if="sended">
                                <i class='fa fa-check'></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import EmailService from '../services/EmailService'
import EventBus from '../tools/EventBus'

const SendModal = Vue.extend({
    props: [
        'guests',
        'companions',
        'event',
        'company',
        'mail',
        'show',
        'from-column',
        'mail-mode',
        'join-ics'
    ],
    data () {
        return {
            sended: false,
            sending: false,
            errorMessage: null,
            passwordConfirm: null
        }
    },
    computed: {
        countToSend: function() {
            return this.guests.length + this.companions.length
        }
    },
    watch: {
        show: function (val) {
            this.sended = false
            this.passwordConfirm = null
            this.errorMessage = null
        }
    },
    methods: {
        onClose: function() {
            this.errorMessage = null
            this.passwordConfirm = null
            this.$emit('cancel');
        },
        sendEmails: function() {
            // Get mail infos

            if (this.passwordConfirm == "" || this.passwordConfirm == null) {
                this.errorMessage = this.$t('shared.VerifyYourPassword');
            }
            else {
                 // mail not saved
                if (this.mail.id == undefined) {

                    if (this.sending) { // second attemp
                        this.errorMessage = this.$t('email.PleaseSaveEmailBefore');
                        this.sending = false
                    }
                    else {
                        // Save email
                        EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
                        this.sending = true
                        setTimeout(() => {
                            this.sendEmails();
                        }, 2500)
                    }
                }
                else {
                    // Send emails to checked recipients
                    this.sending = true
                    this.errorMessage = null
                    const fromColumn = (this.fromColumn == undefined || this.fromColumn === 'null') ? null : this.fromColumn
                    EmailService.send(this.mail, this.guests, this.companions, 
                            fromColumn, this.passwordConfirm, this.mailMode, this.joinIcs).then(response => {
                        this.errorMessage = null
                        this.sending = false
                        this.sended = true

                        setTimeout(()=> {
                            this.onClose() // Auto close after 1 sec
                        }, 1000)
                    }).catch(error => {
                        this.sending = false
                        this.sended = false
                        
                        if (error.response != null && error.response.status == 401) {
                            this.errorMessage = this.$t('shared.VerifyYourPassword')
                        }
                        else if (error.response != null && error.response.status == 429) {
                            this.errorMessage = this.$t('email.SendingInProcess')
                        }
                        else {
                            this.errorMessage = this.$t('shared.ErrorHasProduced')
                        }
                    })
                }
            }
        }
      }

  })
  export default SendModal
  </script>

  <style type="scss" scoped>
  </style>
