<template>
    <div class="panel panel-default">
      <div class="panel-heading heading-config">
        {{ $t('subscribeForm.Configuration') }}
        <button type="button"
          class="btn btn-info btn-sm pull-right btn-hide-config"
          @click="collapseConfig = !collapseConfig">
          <template v-if="collapseConfig">
            <i class="fa fa-angle-down" aria-hidden="true"></i> {{ $t('email.EditConfiguration') }}
          </template>
          <template v-else>
            <i class="fa fa-angle-up" aria-hidden="true"></i> {{ $t('email.HideConfiguration') }}
          </template>
        </button>
      </div>
      <div class="panel-body" v-if="!collapseConfig">

        <h4>{{ $t('subscribeForm.SubscriptionSettings') }}</h4>

        <div class="checkbox" v-if="!surveyMode">
          <label>
            <input type="checkbox" name="allow_base_fields_modification"
                v-model="allow_basefields_modification"
                v-on:change="onChange"> {{ $t('subscribeForm.AuthorizeStandardFieldsUpdate') }}
          </label>
        </div>

        <section class="checkbox-group">
            <p class="checkbox-group-title">{{ $t('subscribeForm.RequiredCompanionDatas') }}</p>
            <label>
                <input type="checkbox" name="companion_lastname_required"
                    v-model="companion_lastname_required"
                    v-on:change="onChange"> {{ $t('subscribeForm.CompanionLastname') }}
            </label><br/>
            <label>
                <input type="checkbox" name="companion_firstname_required"
                    v-model="companion_firstname_required"
                    v-on:change="onChange"> {{ $t('subscribeForm.CompanionFirstname') }}
            </label><br/>
            <label>
                <input type="checkbox" name="companion_company_required"
                    v-model="companion_company_required"
                    v-on:change="onChange"> {{ $t('subscribeForm.CompanionCompany') }}
            </label>
        </section>

        <h4>{{ $t('subscribeForm.DisplaySettings') }}</h4>

        <div class="form-group">
          <label for="label_color">{{ $t('subscribeForm.LabelColor') }}</label>
          <select  class="form-control" id="label_color" name="label_color" 
            v-model="label_color"
            v-on:change="onChange">
            <option value="0">{{ $t('subscribeForm.colors.grey') }}</option>
            <option value="1">{{ $t('subscribeForm.colors.white') }}</option>
            <option value="2">{{ $t('subscribeForm.colors.black') }}</option>
          </select>
        </div>

        <div class="form-group" v-if="!surveyMode || surveyModeAdvanced">
            <label>{{ $t('subscribeForm.SubmitText') }}</label>
            <localizable-text-input
                :langs="langs"
                :name="'submit_text'"
                v-on:onChange="onSubmitTextChange"
                :values="submitTextI18n"></localizable-text-input>
        </div>

        <div class="row" v-if="!surveyMode || surveyModeAdvanced">
            <div class="col-xs-6">
                <label>{{ $t('subscribeForm.SubmitTextColor') }}</label>
                <color-picker :disableAlpha="true"
                    v-model="submitColorText"
                    @input="onChange">
                </color-picker>
            </div>
            <div class="col-xs-6">
                <label>{{ $t('subscribeForm.SubmitBackgroundColor') }}</label>
                <color-picker :disableAlpha="true"
                    v-model="submitColorBg"
                    @input="onChange">
                </color-picker>
            </div>
        </div>
      </div>
    </div>
</template>

<script>

import LocalizableTextInput from './LocalizableTextInput'
import { Chrome } from 'vue-color' // color picker

const SubscribeSurveyFormParameters = Vue.extend({
    data () {
        return {
            allow_basefields_modification: 0,
            companion_lastname_required: true,
            companion_firstname_required: true,
            companion_company_required: true,
            label_color: 2,
            collapseConfig: true,
            submitTextI18n: {},
            submitColorBg: null,
            submitColorText: null
        }
    },
    props: {
        'subscribeForm': {
            required: true,
            type: Object
        },
        'langs': {
            required: true,
            type: Array
        },
        'surveyMode': {
            required: false,
            default: false
        },
        'surveyModeAdvanced': {
            required: false,
            default: false
        }
    },
    computed: {
        submitTextValues: function() {
            let values = {}
            for(let lang of this.langs) {
                values['submit_text_' + lang] = this.submitTextI18n[lang]
            }
            return values
        },
        getSubmitColorBg: function() {
            if (this.submitColorBg != null && this.submitColorBg.hex != null) {
                return this.submitColorBg.hex;
            }
            else {
                return this.submitColorBg;
            }
        },
        getSubmitColorText: function() {
             if (this.submitColorText != null && this.submitColorText.hex != null) {
                return this.submitColorText.hex;
            }
            else {
                return this.submitColorText;
            }
        }
    },
    watch: {
        subscribeForm: function(NSubscribeForm) {
            this.allow_basefields_modification = NSubscribeForm.allow_basefields_modification
            this.companion_lastname_required = NSubscribeForm.companion_lastname_required
            this.companion_firstname_required = NSubscribeForm.companion_firstname_required
            this.companion_company_required = NSubscribeForm.companion_company_required
            this.label_color = NSubscribeForm.label_color
            this.submitColorBg = NSubscribeForm.submit_color_bg
            this.submitColorText = NSubscribeForm.submit_color_text

            for(let lang of this.langs) {
                this.submitTextI18n[lang] = NSubscribeForm['submit_text_' + lang]
            }
        }
    },
    methods: {
        onChange: function() {
            this.$emit('onChange', Object.assign({
                allow_basefields_modification: this.allow_basefields_modification,
                companion_lastname_required: this.companion_lastname_required,
                companion_firstname_required: this.companion_firstname_required,
                companion_company_required: this.companion_company_required,
                label_color: this.label_color,
                submit_color_bg: this.getSubmitColorBg,
                submit_color_text:  this.getSubmitColorText
            }, this.submitTextValues))
        },
        onSubmitTextChange: function(values) {
            this.submitTextI18n = values
            this.onChange()
        }
    },
    created: function() {
        this.allow_basefields_modification = this.subscribeForm.allow_basefields_modification
        this.companion_lastname_required = this.subscribeForm.companion_lastname_required
        this.companion_firstname_required = this.subscribeForm.companion_firstname_required
        this.companion_company_required = this.subscribeForm.companion_company_required
        this.label_color = this.subscribeForm.label_color
        this.submitColorBg = this.subscribeForm.submit_color_bg
        this.submitColorText = this.subscribeForm.submit_color_text

        for(let lang of this.langs) {
            this.submitTextI18n[lang] = this.subscribeForm['submit_text_' + lang]
        }       
    },
    components: {
        'localizable-text-input': LocalizableTextInput,
        'color-picker': Chrome
    }
})
export default SubscribeSurveyFormParameters

</script>

<style type="scss" scoped>

</style>
