<template>
  <section>
    <div :id="surveyJsContainerId"></div>
    <div class="modal modal-selection-vue" role="dialog" v-if="extendedFieldAddName != null">
      <div class="modal-dialog">

        <!-- Modal content for extended field input type choice -->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ $t('subscribeForm.SelectType') }}</h4>
          </div>
          <div class="modal-body">
            <div class="btn-group-vertical btn-group-block">
              <button v-for="typeField in fieldTypes" :data-test="'extended-field-' + typeField.type + '-choice'" :key="typeField.type" type="button" class="btn btn-default btn-block" v-on:click="addExtendedField(extendedFieldAddName, typeField.type)">{{ typeField.name }}</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" v-on:click="onPopupClose()">{{ $t('shared.Close') }}</button>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-bg" v-if="extendedFieldAddName != null">&nbsp;</div>
  </section>
</template>

<script>
import * as Survey from "survey-knockout"
import * as SurveyEditor from "surveyjs-editor"
/* import * as SurveyVue from "survey-vue" */

import "surveyjs-editor/surveyeditor.css"

import SubscribeFormService from "../services/SubscribeFormService"
import SurveyFormService from "../services/SurveyFormService"
import EventService from "../services/EventService"

import i18n from "../tools/i18n"
import EventBus from "../tools/EventBus"

// Loading default possible forms content for all possible locales
import baseSubFieldsEn from "../config/survey-js/basesubfields_default_en.json" // Default JSON for subscription editor if current is empty
import baseSubFieldsFr from "../config/survey-js/basesubfields_default_fr.json" // Default JSON for subscription editor if current is empty
import baseSubFieldsDe from "../config/survey-js/basesubfields_default_de.json" // Default JSON for subscription editor if current is empty

import baseSubFieldsCompanionEn from "../config/survey-js/basesubfields_companion_default_en.json" // Default JSON for subscription editor if current is empty
import baseSubFieldsCompanionFr from "../config/survey-js/basesubfields_companion_default_fr.json" // Default JSON for subscription editor if current is empty
import baseSubFieldsCompanionDe from "../config/survey-js/basesubfields_companion_default_de.json" // Default JSON for subscription editor if current is empty

import baseSurFieldsEn from "../config/survey-js/basesurfields_default_en.json" // Default JSON for subscription editor if current is empty
import baseSurFieldsFr from "../config/survey-js/basesurfields_default_fr.json" // Default JSON for subscription editor if current is empty
import baseSurFieldsDe from "../config/survey-js/basesurfields_default_de.json" // Default JSON for subscription editor if current is empty


const baseSubFields = {
  "en": baseSubFieldsEn,
  "fr": baseSubFieldsFr,
  "de": baseSubFieldsDe
}

const baseSubFieldsCompanions = {
  "en": baseSubFieldsCompanionEn,
  "fr": baseSubFieldsCompanionFr,
  "de": baseSubFieldsCompanionDe
}

const baseSurFields = {
  "en": baseSurFieldsEn,
  "fr": baseSurFieldsFr,
  "de": baseSurFieldsDe
}


export default {
  name: "survey-js-editor",
  data() {
    return {
      baseSubFields: baseSubFields[i18n.getLocale()],
      baseSubFieldsCompanions: baseSubFieldsCompanions[i18n.getLocale()],
      baseSurFields: baseSurFields[i18n.getLocale()],
      form: null, // The form JSON
      extendedFields: null, // List of extended fields to deal with
      extendedFieldAddName: null, // The on his way to be added extended field name. Opens modal of field type selection when not null !
      questionChoiceTypes: ["checkbox", "radiogroup", "dropdown"], // Necessary for extended field question adding logic
      questionTextTypes: ["number", "date", "email"], // Necessary for extended field question adding logic
      fieldTypes: [
        {
          // Used in the extended field field type choice modal
          type: "text",
          name: this.$t("subscribeForm.fieldsTypes.text")
        },
        {
          type: "number",
          name: this.$t("subscribeForm.fieldsTypes.number")
        },
        {
          type: "date",
          name: this.$t("subscribeForm.fieldsTypes.date")
        },
        {
          type: "dropdown",
          name: this.$t("subscribeForm.fieldsTypes.select")
        },
        {
          type: "checkbox",
          name: this.$t("subscribeForm.fieldsTypes.checkbox")
        },
        {
          type: "radiogroup",
          name: this.$t("subscribeForm.fieldsTypes.radio")
        }
      ],
      editorOptions: {
        // Those are the surveyJS Options, see official doc for more informations
        showEmbededSurveyTab: false,
        showTestSurveyTab: false,
        showTranslationTab: true,
        showOptions: false,
        showJSONEditorTab: false, // Could be interesting for admins / devs for debugging purposes
        showPropertyGrid: false,
        showPagesToolbox: false,
        designerHeight: "auto",
        useTabsInElementEditor: true,
        haveCommercialLicense: true,
        saveSurveyFunc: this.onFormSave,
        questionTypes: [
          "text",
          "checkbox",
          "radiogroup",
          "dropdown",
          "boolean",
          "comment"
        ]
      },
      customFrStrings: {
        "qt": {
          "radiogroup": "Liste à choix unique"
        }
      }
    }
  },
  props: {
    event: {
      required: true
    },
    mode: {
      required: true
    },
    companionForm: {
      required: false,
      default: false
    }
  },
  mounted() {
    this.initSurveyEditor() // Initialize SurveyEditor with method bindings

    this.setupExtendedFields() // Add extendedfields to SurveyEditor toolbox (if some exists)

    if (this.mode == "subscription") {
      this.getSubscribeForm() // Get subscribe form (if exists) use default form if empty
    } else {
      this.getSurveyForm() // Get survey form (if existS) use default form if empty
    }

    this.initSurvey() // Customizes Survey object to simplify usability (remove tabs and fields)
  },
  computed: {
    surveyJsContainerId: function() {
      return this.companionForm ? 'survey-js-container-companion' : 'survey-js-container'
    }
  },
  methods: {
    /**
     * Used to save either the subscription form OR the survey form depending on the mode of the editor.
     * Emit save event, saving is delegated to parent components
     *
     *  @jsonForm: the new surveyjs form template to save as subscription or survey form
     */
    onFormSave: function(jsonForm) {
      if (this.companionForm && this.mode == "subscription") {
        this.form.advanced_form_companion_template = jsonForm
      }
      else {
        this.form.advancedFormTemplate = jsonForm
      }
      this.$emit("save", this.form)
    },
    /**
     * Simply get the current subscription form for this event using API.
     * If it does not exist yet, we fill the editor with defined default form contained in this.baseSubFields
     *
     */
    getSubscribeForm: function() {
      let errorEmit = (error) => {
        EventBus.$emit("SHOW_ERROR", this.$t("shared.ErrorHasProduced"))
      }

      if (this.companionForm) {
         SubscribeFormService.getCompanion(this.event.id, null, false)
          .then(response => {
            this.form = response.data
            let formTemplate = this.form.advanced_form_companion_template
            let baseFields = this.baseSubFieldsCompanions
            this.editor.text = formTemplate != null
                ? formTemplate
                : JSON.stringify(baseFields)
          })
          .catch(errorEmit)
      }
      else {
        SubscribeFormService.get(this.event.id, null, false)
          .then(response => {
            this.form = response.data
            let formTemplate = this.companionForm ? this.form.advanced_form_companion_template : this.form.advancedFormTemplate
            let baseFields =  this.companionForm ? this.baseSubFieldsCompanions : this.baseSubFields
            this.editor.text =
              formTemplate != null
                ? formTemplate
                : JSON.stringify(baseFields)
          })
          .catch(errorEmit)
      }
    },
    /**
     * Simply get the current survey form for this event using API.
     * If it does not exist yet, we fill the editor with defined default form contained in this.baseSurFields
     *
     */
    getSurveyForm() {
      SurveyFormService.get(this.event.id)
        .then(response => {
          this.form = response.data
          let formTemplate = this.form.advancedFormTemplate
          this.editor.text = formTemplate != null ? formTemplate : JSON.stringify(this.baseSurFields)
        })
        .catch(error => {
          console.log(error)
          EventBus.$emit("SHOW_ERROR", this.$t("shared.ErrorHasProduced"))
        })
    },
    /**
     * This methods adds extended fields (if there are some) in the left panel under a new category.
     * The concept of doing this is to add a new field in the toolbox for each existing extended field.
     * When one of those fields is selected, it triggers the type choice modal if the id contains extendedfields (see this.onQuestionAdded)
     *
     *  See : this.onQuestionAdded, this.addExtendedField, this.onPopupClose
     */
    setupExtendedFields: function() {
      // Add extended fields to toolbox

      EventService.extendedFields(this.event.id)
        .then(response => {
          if (response.data.length > 0) {
            // Maybe there are no extended fields

            this.extendedFields = response.data

            // Adding extendedfields to toolbox
            this.extendedFields.forEach(field => {
              this.editor.toolbox.addItem({
                name: "ext" + field,
                isCopied: false,
                iconName: "icon-default",
                title: field,
                id: "extendedfield_" + field, // Used to get the fieldname in the onQuestionAdded method (tricky) !
                category: i18n.getLocalTranslations().subscribeForm.ExtendedFields,
                extendedField: true,
                json: {
                  type: "text",
                  title: "extendedfield_" + field
                }
              })
            })
          }
        })
        .catch(error => {
          EventBus.$emit("SHOW_ERROR", error)
        })
    },
    /**
     * Subroutine triggered on the this.editor.onQuestionAdded event in order to trigger the modal of
     * extended field type choice if needed. If incoming question is from the extended fields category,
     * the question is deleted and we setup the this.extendedFieldAddName in order to display the type choice modal.
     *
     * This is basically a hack of surveyjs in order to keep the previous extended field adding concept within the editor.
     *
     *  @options: contains the added question object and its properties
     *  See : this.setupExtendedFields(), this.addExtendedField(), this.onPopupClose()
     */
    onQuestionAdded: function(sender, options) {
      // Triggers specific logic if the added question is from extended field
      if (options.question.title.startsWith("extendedfield_")) {
        // Tricky test (see setupExtendedFields)
        this.editor.deleteElement(options.question) // We directly delete the (wrong type added) question
        this.extendedFieldAddName = options.question.title.split("_")[1] // setup extendedFieldAddName triggers type choice modal
      } else if (options.question.getType() == "html") {
        options.question.name = "text_" + options.question.visibleIndex // Default naming text blocs
      }
    },
    /**
     * Inject the incoming existing extended field into the current editor template.
     *
     *  @extendedFieldAddName: The new added field name. Contained in the previsouly set this.extendedFieldAddName (from this.onQuestionAdded)
     *  @type: The new added field type. Depends on the chosen type in field dialog modal.
     *  See : this.setupExtendedFields(), this.onQuestionAdded(), this.onPopupClose()
     */
    addExtendedField: function(extendedFieldAddName, type) {
      var elements = JSON.parse(this.editor.text).pages[0].elements // Getting current elements

      // Pushing element with default choices if needed
      if (this.questionChoiceTypes.includes(type)) {
        elements.push({
          type: type,
          name: extendedFieldAddName,
          title: extendedFieldAddName,
          choices: ["item1", "item2", "item3"]
        }) // Adding new extended field question
      } else if (this.questionTextTypes.includes(type)) {
        elements.push({
          type: "text",
          inputType: type,
          name: extendedFieldAddName,
          title: extendedFieldAddName
        }) // Adding new extended field question
      } else {
        elements.push({
          type: type,
          name: extendedFieldAddName,
          title: extendedFieldAddName
        }) // Adding new extended field question
      }

      var newContent = JSON.parse(this.editor.text)
      newContent.pages[0].elements = elements // Generating new form content with new question
      this.editor.text = JSON.stringify(newContent) // Updating content
      this.extendedFieldAddName = null // Var set to null to hide modal
    },
    /**
     * Important method in order to make the dialog modal disappear.
     * Dialog modal is closed when the this.extendedFieldAddName is null.
     *
     */
    onPopupClose: function() {
      this.extendedFieldAddName = null
    },
    initSurveyEditor: function() {

      // Initializing surveyJS editor and necessary callbacks
      let defaultThemeColorsEditor = SurveyEditor.StylesManager.ThemeColors["default"]
      defaultThemeColorsEditor["$primary-color"] = "#0D2C3D" // from _variables.scss
      defaultThemeColorsEditor["$secondary-color"] = "#0D2C3D" // from _variables.scss

      SurveyEditor.StylesManager.applyTheme("bootstrap") // Uses bootstrap classes for form
      SurveyEditor.editorLocalization.currentLocale = i18n.locale // Set language
      //SurveyEditor.editorLocalization.defaultLocale = i18n.locale // Set language

      // FR & DE custom single strings adaptations in a way to not lose rest of surveyjs translation
      SurveyEditor.editorLocalization.locales["fr"]["qt"]["radiogroup"] = "Liste à choix unique"
      SurveyEditor.editorLocalization.locales["fr"]["qt"]["boolean"] = "Case unique"
      SurveyEditor.editorLocalization.locales["fr"]["qt"]["comment"] = "Zone de texte"
      SurveyEditor.editorLocalization.locales["fr"]["p"]["html"] = "Contenu"
      SurveyEditor.editorLocalization.locales["fr"]["ed"]["translation"] = "Traductions"
      SurveyEditor.editorLocalization.locales["fr"]["ed"]["translationShowAllStrings"] = "Afficher tous les champs"
      SurveyEditor.editorLocalization.locales["de"]["ed"]["translationShowAllStrings"] = "Alle Felder anzeigen"
      SurveyEditor.editorLocalization.locales["de"]["p"]["html"] = "Text"

      SurveyEditor.removeAdorners(["select-choices"]) // Hides the dropdown questions quickview of choices

      SurveyEditor.SurveyQuestionEditorDefinition.definition[
        "question"
      ].properties = [
        {
          name: "name",
          title: i18n.getLocalTranslations().subscribeForm.ColumnName
        },
        {
          name: "title",
          title: i18n.getLocalTranslations().subscribeForm.Title
        },
        {
          name: "balise",
          title: i18n.getLocalTranslations().subscribeForm.ContentType
        },
        {
          name: "description",
          title: i18n.getLocalTranslations().subscribeForm.Description
        },
        {
          name: "visible",
          category: "checks"
        },
        {
          name: "isRequired",
          category: "checks"
        },
        {
          name: "startWithNewLine",
          category: "checks"
        }
      ]


      SurveyEditor.SurveyQuestionEditorDefinition.definition[
        "html"
      ].properties = [
        {
          name: "html",
          title: i18n.getLocalTranslations().subscribeForm.TextBloc
        }
      ]

      SurveyEditor.SurveyQuestionEditorDefinition.definition["html"].tabs = []

      // If it is a simple minisite, we hide the translation tab
      if(!this.event.advanced_minisite_mode){
        this.editorOptions.showTranslationTab = false
      }

      this.editor = new SurveyEditor.SurveyEditor(
        this.surveyJsContainerId,
        this.editorOptions
      ) // Init editor with options

      // Adding "Custom" HTML text bloc type
      this.editor.toolbox.addItem({
        name: "textbloc",
        isCopied: false,
        iconName: "icon-text",
        title: i18n.getLocalTranslations().subscribeForm.TextBloc,
        category: i18n.getLocalTranslations().subscribeForm.Layout,
        json: {
          type: "html"
        }
      })


      this.editor.onQuestionAdded.add(this.onQuestionAdded) // Callback when a question is added

      // Prevent users from creating multiple options with the same values and using special chars in names
      this.editor.onPropertyValidationCustomError.add((editor, options) => {

        // Clean value for name
        if (options.propertyName == "name") {
          var regEx = RegExp('^[A-Za-z0-9-_]+$')
          if (regEx.test(options.value)) {
            return
          }
          else {
            options.error = i18n.getLocalTranslations().subscribeForm.NoSpecialChars
          }
        }

        // Clean values of choices in list
        if (!this.questionChoiceTypes.includes(options.obj.getType())) return
        if (options.propertyName != "choices") return

        var cleanNewValues = options.value.map(function(item){
          return item.itemValue
        })

        cleanNewValues.forEach(function(itemValue){
          if (cleanNewValues.filter(item => item == itemValue).length > 1) {
            options.error = i18n.getLocalTranslations().subscribeForm.TwiceSameValueInChoices + ' (' + itemValue + ')'
            return
          }
        })
      })

      // Manually removing page properties fields because does not work through the metaData.removeProperty method
      this.editor.onCanShowProperty.add((sender, options) => {
        // Hiding page related unused properties
        if (options.obj.getType() == "page") {
          if (
            options.property.name == "description" ||
            options.property.name == "title"
          ) {
            options.property.visibleValue = false
          }
        }
        // Hiding HTML name and startnewline unnecessary properties
        else if (options.obj.getType() == "html") {
          if (
            options.property.name == "name" ||
            options.property.name == "startWithNewLine"
          ) {
            options.canShow = false
          }
        }
        // Blocking basefields name input
        else if (options.obj.getType() == "text") {
          var q = JSON.parse(JSON.stringify(options.obj))
          if (options.property.name == "inputType") {
            options.property.choicesValue = [
              "text",
              "date",
              "datetime",
              "number"
            ] // Defining wanted text input type values
          }
          // Hiding properties of main fields
          if (
            (options.property.name == "name" ||
              options.property.name == "inputType" ||
              options.property.name == "isRequired" ||
              options.property.name == "visible") &&
            (q.name == "firstname" || q.name == "lastname" || q.name == "email")
          ) {
            options.canShow = false
          }
        }
      })

      /* Used to hide "the quick actions" such as delete, edit, duplicate, etc on base questions */
      this.editor.onElementAllowOperations.add((sender, options) => {

          const qstion = JSON.parse(JSON.stringify(options.obj))
          if((qstion.name == "firstname" || qstion.name == "lastname" || qstion.name == "email")){
            if (options.obj.getType() == "text") {
              options.allowDelete = false
              options.allowAddToToolbox = false
              options.allowChangeRequired = false
              options.allowChangeType = false
              options.allowCopy = false
            }
          }
          if(this.questionChoiceTypes.includes(options.obj.getType())){
            options.allowChangeType = false
        }
      })

      // Removing the "survey settings" button (too advanced properties for end user)
      var surveySettingsAction = this.editor
        .toolbarItems()
        .filter(function(item) {
          return item.id === "svd-survey-settings"
        })[0]

      this.editor.toolbarItems.remove(surveySettingsAction)

      EventBus.$on("ASK_SURVEY_JS_SAVE", () => {
        this.editor.showDesigner() // This is necessary to trigger onModified event after only translation edition !
        this.onFormSave(this.editor.text)
      })
    },
    initSurvey: function() {
      // Initializing supported languages and current locale
      Survey.surveyLocalization.supportedLocales = ["en", "de", "fr"]
      Survey.surveyLocalization.defaultLocale = "fr"

      // Removing unused properties from SurveyJS
      // https://surveyjs.io/Examples/Builder/?id=removeproperties

      // Removing TABS
      Survey.JsonObject.metaData.removeProperty("question", "enableIf")
      Survey.JsonObject.metaData.removeProperty("selectbase", "choicesByUrl")

      // Removing FIELDS from survey
      Survey.JsonObject.metaData.removeProperty("survey", "title")
      Survey.JsonObject.metaData.removeProperty("survey", "pagePrevText")
      Survey.JsonObject.metaData.removeProperty("survey", "pageNextText")
      Survey.JsonObject.metaData.removeProperty("survey", "completeText")
      Survey.JsonObject.metaData.removeProperty("survey", "startSurveyText")
      Survey.JsonObject.metaData.removeProperty("survey", "requiredText")
      Survey.JsonObject.metaData.removeProperty("survey", "questionTitleTemplate")
      Survey.JsonObject.metaData.removeProperty("survey", "loadingHtml")
      Survey.JsonObject.metaData.removeProperty("survey", "completedHtml")
      Survey.JsonObject.metaData.removeProperty("survey", "completedBeforeHtml")

      // Removing FIELDS from general questions
      Survey.JsonObject.metaData.removeProperty("question", "requiredErrorText")
      Survey.JsonObject.metaData.removeProperty("question", "commentText")
      Survey.JsonObject.metaData.removeProperty("question", "validators")

      Survey.JsonObject.metaData.removeProperty("selectBase", "otherText")
      Survey.JsonObject.metaData.removeProperty("selectBase", "otherErrorText")
      Survey.JsonObject.metaData.removeProperty("checkbox", "noneText")
      Survey.JsonObject.metaData.removeProperty("checkbox", "selectAllText")

      // Adding balise field to html input
      Survey.JsonObject.metaData.addProperty("html", {
        name: "balise:string",
        choices: [
          {"text": i18n.getLocalTranslations().subscribeForm.Title1, "value": "h1"},
          {"text": i18n.getLocalTranslations().subscribeForm.Title2, "value": "h2"},
          {"text": i18n.getLocalTranslations().subscribeForm.Title3, "value": "h3"},
          {"text": i18n.getLocalTranslations().subscribeForm.Paragraph, "value": "p"}
        ],
        default: "p"
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.modal-selection-vue {
  z-index: 1001;
  display: block !important;
}
.modal-bg {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-group-block {
  width: 100%;
}
</style>
