<template>
    <section v-if="ready">
        <no-camera-lock></no-camera-lock>

        <section class="checkin-header">
            <event-select></event-select>
            <session-select></session-select>
        </section>

        <scan-status-badge></scan-status-badge>

        <div class="scanner-zone">
            <guest-qr-code-scanner v-if="readyToScan"></guest-qr-code-scanner>
        </div>
        <footer class="checkin-footer">
            <div class="checkin-footer-content">
                <guest-checkin-toast></guest-checkin-toast>
                <guest-checkin-loading-toast></guest-checkin-loading-toast>

                <guest-last-checkin></guest-last-checkin>

                <guest-un-freeze-scanning></guest-un-freeze-scanning>
                <guest-cancel-last-checkin></guest-cancel-last-checkin>
            </div>
        </footer>

        <event-select-modal></event-select-modal>
        <session-select-modal></session-select-modal>
        <confirm-modal></confirm-modal>
    </section>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import EventSelect from './containers/EventSelect'
    import SessionSelect from './containers/SessionSelect'
    import EventSelectModal from './containers/EventSelectModal'
    import SessionSelectModal from './containers/SessionSelectModal'
    import GuestQrCodeScanner from './containers/GuestQrCodeScanner'
    import GuestCheckinToast from './containers/GuestCheckinToast'
    import GuestCheckinLoadingToast from './containers/GuestCheckinLoadingToast'
    import GuestLastCheckin from './containers/GuestLastCheckin'
    import GuestCancelLastCheckin from './containers/GuestCancelLastCheckin'
    import GuestUnFreezeScanning from './containers/GuestUnFreezeScanning'
    import NoCameraLock from './containers/NoCameraLock'
    import ScanStatusBadge from './containers/ScanStatusBadge'

    import ConfirmModal from '../components/ConfirmModal'

    const App = Vue.extend({
        data () {
            return {
            }
        },
        computed: {
            ...mapGetters({
                event: 'checkin/event',
                ready: 'checkin/ready',
                readyToScan: 'checkin/readyToScan'
            })
        },
        mounted() {
            if (this.defaultEvent != null) {
                this.selectCheckinEvent(this.defaultEvent)
            }
            this.selectCheckinUser(this.user)
        },
        props: {
            user: {
                type: Object,
                required: true
            },
            defaultEvent: {
                type: Object,
                default: null,
                required: false
            }
        },
        components: {
            'event-select': EventSelect,
            'session-select': SessionSelect,
            'event-select-modal': EventSelectModal,
            'session-select-modal': SessionSelectModal,
            'guest-qr-code-scanner': GuestQrCodeScanner,
            'guest-checkin-toast': GuestCheckinToast,
            'guest-checkin-loading-toast': GuestCheckinLoadingToast,
            'guest-last-checkin': GuestLastCheckin,
            'guest-cancel-last-checkin': GuestCancelLastCheckin,
            'guest-un-freeze-scanning': GuestUnFreezeScanning,
            'confirm-modal': ConfirmModal,
            'no-camera-lock': NoCameraLock,
            'scan-status-badge': ScanStatusBadge
        },
        methods: {
            ...mapActions({
                selectCheckinEvent: 'checkin/selectEvent',
                selectCheckinUser: 'checkin/selectUser',
            })
        }
    })
    export default App
</script>

<style type="scss" scoped>

    .checkin-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        border-top: #ababab 1px solid;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .checkin-footer-content{
        position: relative;
    }

    .scanner-zone{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .checkin-header{
        opacity: 0.9;
    }

</style>
