<template>
    <div class="table-responsive">
      <table class="table table-condensed">
          <tbody>
            <tr>
              <th scope="row">{{ $t('checkin.GuestQuickInfosTable.name') }}</th>
              <td>{{ data.firstname }} {{ data.lastname }}</td>
            </tr>
            <tr>
              <th scope="row">{{ $t('checkin.GuestQuickInfosTable.type') }}</th>
              <td v-if="type === 'guest'">
                {{ $t('checkin.GuestQuickInfosTable.typeGuest') }} (+{{data.nbCompanions}})
              </td>
              <td v-else>
                {{ $t('checkin.GuestQuickInfosTable.typeCompanion') }} ({{ $t('checkin.GuestQuickInfosTable.of') }} {{data.guest.firstname}} {{data.guest.lastname}})
              </td>
            </tr>
            <tr v-if="data.sessions != null">
              <th scope="row">{{ $t('checkin.GuestQuickInfosTable.sessions') }}</th>
              <td>
                <span class="label label-primary label-session" v-for="session in data.sessions" :key="session.id">
                  {{ session.name }}
                </span>
              </td>
            </tr>
            <tr v-if="data.doorAllreadyCheckin || !data.invited || !data.subscribed || data.declined">
              <td colspan="2">
                <div v-if="data.doorAllreadyCheckin" class="unvalid-message">
                  <i class="fa fa-times"></i> {{ $t('checkin.GuestQuickInfosTable.warning.allreadyCheckin') }}
                </div>
                <div v-if="!data.invited && type === 'guest'">
                  <i class="fa fa-warning"></i> {{ $t('checkin.GuestQuickInfosTable.warning.notInvited') }}
                </div>
                <div v-if="!data.subscribed && type === 'guest'">
                  <i class="fa fa-warning"></i> {{ $t('checkin.GuestQuickInfosTable.warning.notSubscribed') }}
                </div>
                <div v-if="data.declined && type === 'guest'">
                  <i class="fa fa-warning"></i> {{ $t('checkin.GuestQuickInfosTable.warning.declined') }}
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
</template>

<script>
    const GuestQuickInfosTable = Vue.extend({
        props: {
            data: {
                type: Object,
                required: true
            },
            type: {
                type: String, // companion or guest
                required: true
            }
        }
    })
    export default GuestQuickInfosTable
</script>

<style type="scss" scoped>
.unvalid-message{
  color: red;
  font-weight: bold;
}
.label-session{
  margin-right: 5px;
}
</style>
