<template>
    <transition name="fade">
        <div class="custom-modal" v-if="show">
            
            <div class="modal-box" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="onCancel">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="favoritesModalLabel">
                                {{ title }}
                            </h4>
                        </div>
                        <div class="modal-body">
                            <load-box :visible="loading"></load-box>
                            <div class="list-group" v-if="!loading">
                                <button type="button" class="list-group-item" 
                                    v-for="item in items" :key="item.id"
                                    @click="onSelect(item)">
                                    {{ item[itemDisplayAttribut] }}
                                </button>
                            </div>
                            <p class="text-center" v-if="!loading && items.length === 0">
                                {{ $t('checkin.ItemChooseModal.NoItem') }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" @click="onCancel">{{ $t('shared.Cancel') }}</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </transition>
</template>

<script>
    import LoadBox from '../../components/LoadBox.vue'

    const ItemChooseModal = Vue.extend({
        props: {
            show: {
                type: Boolean,
                required: false,
                default: false
            },
            title: {
                type: String,
                required: true
            },
            items: {
                type: Array, // items must have 'id' value (and 'name' if itemDisplayAttribut is not provided)
                required: false,
                default: function () { return [] }
            },
            itemDisplayAttribut: {
                type: String,
                required: false,
                default: 'name'
            },
            loading: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        methods: {
            onCancel: function() {
                this.$emit('cancel')
            },
            onSelect: function(item) {
                this.$emit('select', item)
            }
        },
        components: {
            'load-box': LoadBox
        }
    })
    export default ItemChooseModal
</script>

<style type="scss" scoped>
    .list-group{
        margin: 0;
    }
    .list-group-item{
        padding: 15px 15px;
    }
    .list-group-item .btn{
        margin-top: -4px;
    }
</style>
