<template>
    <div>
        <ul class="list-group" v-bind:class="{ 'disabled': disabled }">
             <li class="list-group-item">
                <button v-if="editable" class="btn btn-primary btn-sm pull-right" @click="onEdit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                {{ label }}
            </li>
        </ul>
    </div>
</template>

<script>
    const SingleItemSelector = Vue.extend({
        props: {
            label: {
                type: String,
                required: true
            },
            editable: {
                type: Boolean,
                required: false,
                default: true
            },
            disabled: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        methods: {
            onEdit: function() {
                if (this.disabled) {
                    return
                }
                this.$emit('edit')
            }
        }
    })
    export default SingleItemSelector
</script>

<style type="scss" scoped>
    .list-group.disabled .btn{
        opacity: 0.2;
    }
    .list-group{
        margin: 0;
    }
    .list-group-item{
        padding: 15px 15px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }
    .list-group-item .btn{
        margin-top: -4px;
    }
</style>
