<template>
  <transition name="fade">
    <div v-if="message" class="toast alert-unobsctructive-box">
        <div :class="'alert alert-unobstructive alert-' + type">
          {{ message }}
        </div>
    </div>
  </transition>
</template>

<script>
    const Toast = Vue.extend({
        props: {
            type: {
                type: String,
                required: false,
                default: 'success'
            },
            message: {
                type: String,
                required: false,
                default: null
            }
        }
    })
    export default Toast
</script>

<style type="scss" scoped>
</style>
