<template>
  <section>
    <load-modal></load-modal>
    <alert></alert>

    <div class="alert alert-danger" v-if="errorMessages.length > 0">
       <p v-for="m in errorMessages" :key="m">{{ m }}</p>
    </div>

    <div class="text-center">
      <i v-if="isLoading" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>

    <section v-if="!isLoading">
      <div id="primary-fields">
        {{ $t('guest.ObligatoryFields') }}
        <draggable id="draggable-container" v-model="attributes" v-bind="{group:'label'}" :move="onElementMoveToLabel">
          <span class="label label-primary" 
            v-for="attr in attributes" :key="attr"
            :id="attr + '-field'">
            {{ attr }}
          </span>

        </draggable>
      </div>
      <div v-if="extendedFields != null" class="draggable-container" id="extended-fields">
        {{ $t('guest.ExtendedFields') }}
        <draggable id="draggable-container" v-model="extendedFields" v-bind="{group:'label'}" :move="onElementMoveToLabel">
          <template v-for="attr in extendedFields">
            <span class="label label-primary draggable-label" :key="attr">
              {{ attr }}
            </span>
          </template>
        </draggable>
      </div>

      <hr/>

      <div class="alert alert-info" v-if="rowsImport.length === 0">
        <p class="text-center">
          {{ $t('guest.NoDataFoundInXLSFile') }}
        </p>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th v-for="row in rowsImport" :key="row.name">
                <draggable
                  v-if="!isIgnored(row.name)"
                  v-model="row.label"
                  v-bind="{group:'label'}"
                  class="draggable-zone"
                  :id="row.name + '-col'"
                  :move="onElementMoveToLabel">
                  <span class="label label-success" 
                    v-for="label in row.label" :key="label"
                    :id="label + '-field'">
                    {{ label }}
                  </span>
                </draggable>

                <div class="head-col-title">
                  <button v-if="!isIgnored(row.name)" class="btn btn-danger btn-xs btn-col-title-action" v-on:click="ignoreField(row.name)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                  <button v-else class="btn btn-success btn-xs btn-col-title-action" v-on:click="addField(row.name)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <span v-bind:class="{ ignored: isIgnored(row.name) }">{{ row.name }}</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="guestImport in guestsImport" :key="guestImport.name">
              <td v-for="guestImportLineElement in guestImportLine(guestImport)" :key="guestImportLineElement">
                {{ guestImportLineElement }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="alert alert-info alert-info-endpage" v-if="countOtherLines > 0">
        <p class="text-center">{{ countOtherLines }} {{ $tc('guest.otherLinesHidden', countOtherLines) }}</p>
      </div>
    </section>
  </section>
</template>

<script>
import GuestService from '../../services/GuestService'
import draggable from 'vuedraggable'
import EventBus from '../../tools/EventBus'
import Alert from '../Alert'
import LoadModal from '../LoadModal'

const guestsShowed =  10;

const GuestIndex = Vue.extend({
  data () {
    return {
      rowsImport: [],
      attributes: [],
      extendedFields: [],
      ignoredFields: [],
      isLoading: false,
      errorMessages: []
    }
  },
  props: {
      guests: {
        type: Array,
        required: true
      },
      rows: {
        type: Array,
        required: true
      },
      event: {
        type: Object,
        required: true
      }
  },
  computed: {
    countOtherLines: function () {
      return this.guests.length - this.guestsImport.length
    },
    guestsImport: function () {
      return this.guests.slice(0, guestsShowed)
    }
  },
  methods: {
    ignoreField: function(field) {
      if(this.getRowImport(field).label.length <= 0) {
        this.ignoredFields.push(field)
      }
      else{
        EventBus.$emit('SHOW_ERROR', this.$t('guest.CannotDeleteUsedColumn'))
      }

    },
    addField: function(field){
      this.ignoredFields.splice(this.ignoredFields.indexOf(field), 1)
    },
    getRowImport: function(name) {
      for(let row of this.rowsImport) {
        if(row.name === name) {
          return row
        }
      }
      return null
    },
    isIgnored: function(field) {
      return this.ignoredFields.indexOf(field) > -1
    },
    guestImportLine: function(guestImport) {
      let line = []
      for(let row of this.rowsImport){
        line.push(guestImport[row.name])
      }
      return line
    },
    onElementMoveToLabel: function(event){
      return event.to.childElementCount < 1 || event.to.id === "draggable-container"
    },
    /**
     * Translate codded multiple error message (from guests import) to readable single message.
     * Multiple lines possibles.
     */
    importMultipleErrorsToMessage: function (errors) {
        let categoriesError = {
          'email': {
            'email': [],
            'empty': [],
            'length': []
          },
          'firstname': {
            'email': [],
            'empty': [],
            'length': []
          },
          'lastname': {
            'email': [],
            'empty': [],
            'length': []
          },
          'language': {
            'language': [],
            'badFormat': []
          }
        }

        for (let e of errors) {
          let line = parseInt(e.split('.')[0]) + 2 // possible values: 2 to x (remove header column)
          let field = (e.split('_')[0]).split('.')[1] // email, firstname, lastname
          let code = e.split('_')[1] // email, empty, length
          categoriesError[field][code].push(line)
        }

        let messages = []
        for (let categorie in categoriesError) {
          for (let code in categoriesError[categorie]) {
            let lines = categoriesError[categorie][code]
            if (lines.length > 0) {
              messages.push(this.$tc('guest.importCodes.' + code, lines.length) +
                " " + this.$tc('guest.importSnippets.toLine', lines.length) + " " + lines.join(', '))
            }
          }
        }

        return messages
    },
    onValid: function() {
      if(!$.inArray('email', this.attributes) == -1) { // TODO: This is terrible
        //console.log($.inArray('email', this.attributes) == -1)
        //console.log(this.attributes)
        EventBus.$emit('SHOW_ERROR', this.$t('shared.PleaseUseAllRequiredFields'))
      }
      else {
        let mappingLabelByName = {}
        for(let col of this.rowsImport){
          mappingLabelByName[col.name] = col.label[0]
        }

        EventBus.$emit('SHOW_MODAL_LOAD')

        GuestService.import(mappingLabelByName, this.guests, this.ignoredFields, this.event.id).then((response) => {
          // Test response code to know if duplicates or not
          if (response.status === 201) {
            window.location.href = `/events/${this.event.id}/guests/duplicates`
          }
          else{
            window.location.href = `/events/${this.event.id}/guests`
          }
          EventBus.$emit('HIDE_MODAL_LOAD')
        }).catch((error) => {
          console.log(error)
          if (error.response != null && error.response.status === 422) {
            let errors = []
            for (let errorMsgKey in error.response.data) {
              for (let errorMessage of error.response.data[errorMsgKey]) {
                errors.push(errorMessage)
              }
            }
            if (errors[0].match(/[0-9]*.[a-z]*_\w*/)) {
              this.errorMessages = this.importMultipleErrorsToMessage(errors)
            }
            else {
              EventBus.$emit('SHOW_ERROR', errors[0])
            }
          }
          else {
            EventBus.$emit('SHOW_ERROR', this.$t('shared.InsertError'))
          }
          EventBus.$emit('HIDE_MODAL_LOAD')
        })
      }
    }
  },
  created: function() {
    for (let row of this.rows) {
      this.rowsImport.push({ name: row, label: [] })
    }

    this.extendedFields = this.event.extendedFileds

    $('#btn-valid').on('click', this.onValid)

    this.isLoading = true
    GuestService.retrieveMinimumAttributes(this.event.id).then((response) => {
      this.attributes = response.data
      this.isLoading = false
    }).catch((error) => {
      EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
    })
  },
  components: {
    draggable,
    Alert,
    LoadModal
  }

})
export default GuestIndex
</script>

<style type="scss" scoped>

.draggable-zone{
  border-style: dashed;
  border-color: #a6a6a6;
  border-width: 1px !important;
  min-height: 42px;
  padding: 5px;
}

#draggable-container{
  border-style: dashed;
  border-color: #a6a6a6;
  border-width: 1px !important;
  min-height: 33px;
  padding: 5px;
}

.label{
  margin: 2px 2px;
  padding: 5px;
  font-size: 1em;
  cursor: move;
  display:inline-block;
}

.head-col-title{
  margin-top: 7px;
  white-space: nowrap;
  margin-right: 30px;
  position: relative;
}
.btn-col-title-action{
  position: absolute;
  right: -30px;
}

.ignored{
  text-decoration: line-through;
  color: red;
}

.draggable-container{
  margin-top: 10px;
}

.alert-info-endpage{
  margin-top: 10px;
}
</style>
