<template>
  <div>

  </div>
</template>

<script>
import GuestService from '../../services/GuestService'
import EventBus from '../../tools/EventBus'
import Alert from '../Alert'
import LoadModal from '../LoadModal'


const GuestDuplicate = Vue.extend({
  data () {
    return {
    }
  },
  methods: {
  },
  created: function() {
    $("[id^=btn-trigger-modal-solve-]").on('click', function(e){

      var elems = this.id.split("-")
      var event_id = elems[elems.length - 2]
      var guest_id = elems[elems.length - 1]

      // Trigger modal
      $('#modalConfirmDuplicate').modal('show')

      // Change modal values
      $("#btn-solve-conflict").on('click', function(e){

        GuestService.solveConflict(event_id, guest_id).then((response) => {
          console.log($("#conflict-table-" + event_id + "-" + guest_id).closest('.conflict-bloc'))
          $("#conflict-table-" + event_id + "-" + guest_id).closest('.conflict-bloc').hide(230)

          // Redirect if all conflicts are resolved
          setTimeout(() => {
            let remainingElements = $(".conflict-bloc:visible").length;
            if (remainingElements <= 0) {
              $(location).attr('href', window.location.href.replace('/duplicates',''))
            }
          }, 1000)
        }).catch((error) => {
          console.error(error)
          alert("Une erreur s'est produite.")
        });

      })

    })

    // Unbinding the event on modal close to avoid multiple deletions
    $('#modalConfirmDuplicate').on('hidden.bs.modal', function (e) {
      console.log("unbind event")
      $("#btn-solve-conflict").unbind( "click" )
    })
  },
  components: {
    Alert,
    LoadModal
  }
})
export default GuestDuplicate
</script>
