<template>
    <section>
        <subscribe-form-parameters class="subscribe-form-parameters"
            v-if="this.subscribeForm != null"
            :surveyMode="false"
            :subscribeForm="subscribeForm"
            :langs="event.langs"
            v-on:onChange="onParametersChange">
        </subscribe-form-parameters>

        <subscribe-form-editor
            :event="event"
            :subscribeForm="subscribeForm"
            @save="saveForm">
        </subscribe-form-editor>
    </section>
</template>

<script>
import SubscribeFormService from '../../services/SubscribeFormService'

import SurveyEditor from '../SurveyJsEditor'
import SubscribeSurveyFormParameters from '../SubscribeSurveyFormParameters'

import SubscribeFormEditor from './SubscribeFormEditor'

/**
 * To save use:
 *          EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
 *          EventBus.$emit('ASK_FORMBUILDER_SAVE')
 *          EventBus.$emit('ASK_SURVEY_JS_SAVE')
 * 
 * the component will emit (save) event when it's ready
 */
const AdvancedMinisiteSubscribeFormEdit = Vue.extend({
    data () {
        return {
        }
    },
    computed: {
        selectableFields: function() {
            let base = ['firstname', 'lastname', 'email'];
            return base.concat(this.event.extendedFileds)
        }
        },
    props: [
        'subscribeForm',
        'event'
    ],
    components: {
        'subscribe-form-editor' : SubscribeFormEditor,
        'subscribe-form-parameters': SubscribeSurveyFormParameters,
    },
    methods: {
        onParametersChange: function(parameters) {
            console.log(parameters)
            this.subscribeForm = Object.assign(this.subscribeForm, parameters)
        },
        saveForm: function(form){
            this.subscribeForm = Object.assign(this.subscribeForm, form)
            this.save()
        },
        save: function() {
            this.$emit('save', this.subscribeForm)
        }
    }
})
export default AdvancedMinisiteSubscribeFormEdit
</script>

<style type="scss" scoped>
    .btn-overview {
        margin-bottom: 10px;
    }
    .subscribe-form-parameters{
        margin-bottom: 0px;
    }
</style>
