<template>
    <section>
        <a :disabled="event.subscribe_form_url == null"
            :href="event.subscribe_form_url"
            target="_blank" class="btn btn-default btn-overview">{{ $t('surveyForm.ShowOverview') }}</a>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group">
                <button v-on:click="onTabForm" class="btn btn-default" v-bind:class="{ active: showForm }">{{ $t('surveyForm.Form') }}</button>
            </div>
            <div class="btn-group">
                <button v-on:click="onTabStruct" class="btn btn-default" v-bind:class="{ active: !showForm }">{{ $t('surveyForm.Layout') }}</button>
            </div>
        </div>

        <subscribe-form-parameters class="subscribe-form-parameters"
            v-if="this.subscribeForm != null"
            :surveyMode="false"
            :subscribeForm="subscribeForm"
            :langs="event.langs"
            v-on:onChange="onParametersChange">
        </subscribe-form-parameters>

        <subscribe-form-editor
            v-show="showForm"
            :event="event"
            :subscribeForm="subscribeForm"
            @save="saveForm">
        </subscribe-form-editor>

        <templates-collapsible-panel
            v-show="!showForm"
            :templates="templates"
            @deleteTemplate="onDeleteTemplate"
            @updateExistingTemplate="onUpdateExistingTemplate"
            @loadTemplate="onLoadTemplate"
        ></templates-collapsible-panel>

        <form-edit-struct v-show="!showForm"
            :event="event"
            :template="subscribeForm.template"
            :mergeContents="mergeContents"
            v-on:beefreeSave="saveBeefree">
        </form-edit-struct>
    </section>
</template>

<script>

import EditForm from '../EditForm'
import FormEditStruct from '../FormEditStruct'

import EventBus from '../../tools/EventBus'

import SurveyEditor from '../SurveyJsEditor'
import SubscribeSurveyFormParameters from '../SubscribeSurveyFormParameters'

import SubscribeFormEditor from './SubscribeFormEditor'
import TemplateService from '../../services/TemplateService'

import TemplatesCollapsiblePanel from './TemplatesCollapsiblePanel'
/**
 * To save use:
 *          EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
 *          EventBus.$emit('ASK_FORMBUILDER_SAVE')
 *          EventBus.$emit('ASK_SURVEY_JS_SAVE')
 * 
 * the component will emit (save) event when it's ready
 * 
 */
const SimpleMinisiteSubscribeFormEdit = Vue.extend({
    data () {
        return {
            showForm: true,
            mergeContents: [{
                    name: this.$t('subscribeForm.SubscribeForm'),
                    value: '[[eventSubscrForm]]'
            }],
            updatedTemplate: {}
        }
    },
    props: [
        'subscribeForm',
        'event',
        'templates'
    ],
    components: {
        'edit-form': EditForm,
        'form-edit-struct': FormEditStruct,
        'subscribe-form-editor': SubscribeFormEditor,
        'subscribe-form-parameters': SubscribeSurveyFormParameters,
        'templates-collapsible-panel': TemplatesCollapsiblePanel
    },
    mounted(){
        EventBus.$on('BEE_TEMPLATE_CHANGE', this.onTemplateChange);
    },
    methods: {
        onParametersChange: function(parameters) {
            this.subscribeForm = Object.assign(this.subscribeForm, parameters)
        },
        saveBeefree: function(d) { // triggered by beefree
            this.subscribeForm.html = d.html
            this.subscribeForm.template = d.data
            this.save()
        },
        saveForm: function(form){
            this.subscribeForm = Object.assign(this.subscribeForm, form)
            this.save()
        },
        save: function() {
            this.subscribeForm.template = this.currentTemplate;
            this.$emit('save', this.subscribeForm);
        },
        onTabForm: function() {
            this.showForm = true
            EventBus.$emit('HIDE_TEMP_BUTTON')
        },
        onTabStruct: function () {
            this.showForm = false
            EventBus.$emit('SHOW_TEMP_BUTTON')
        },
        onLoadTemplate: function(template_id){
            // Fetch template infos and load it in beefree
            if(template_id == 0){
                EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
            }
            else {
                
                TemplateService.get(template_id, this.event.company_id).then((response) => {
                    if (typeof response.data.template === 'string') {

                        this.subscribeForm.template = JSON.parse(response.data.template)
                    }
                    else { // assure compatibility with old template saving method
                        this.subscribeForm.template = response.data.template
                    }

                    this.updatedTemplate = this.subscribeForm.template;

                EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullyLoaded'))
                }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                })
            }
        },
        onTemplateChange(newTemplate){            
            this.updatedTemplate = newTemplate;
        },
        onUpdateExistingTemplate(template_id){
            if(template_id == 0){
                EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
            }
            else {
                let tmp = this.currentTemplate;
                
                TemplateService.update({"template": tmp}, this.event.company_id, template_id).then((response)=>{
                EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullySaved'))
                }).catch((error)=> {
                EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                })
            }
        },
        onDeleteTemplate: function(template_id){
            if(template_id == 0){
                EventBus.$emit('SHOW_ERROR', this.$t('email.PleaseSelectModel'))
            }
            else {
                TemplateService.delete(template_id, this.event.company_id).then((response) => {
                EventBus.$emit('SHOW_SUCCESS', this.$t('email.TemplateSuccessfullyDeleted'))
                location.reload()
                }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
                })
            }
        },
    },
    computed: {
        selectableFields: function() {
            let base = ['firstname', 'lastname', 'email'];
            return base.concat(this.event.extendedFileds)
        },
        currentTemplate(){
            if(!this.updatedTemplate) return "";

            if(typeof this.updatedTemplate !== "string") return JSON.stringify(this.updatedTemplate);

            return this.updatedTemplate;
        }
    },
    watch: {
        subscribeForm: function(value, oldValue){
            if(value !== oldValue) this.updatedTemplate = value.template;
        }
    }
})
export default SimpleMinisiteSubscribeFormEdit
</script>

<style type="scss" scoped>
    .btn-overview {
        margin-bottom: 10px;
    }
    .subscribe-form-parameters{
        margin-bottom: 0px;
    }
</style>
