<template>
    <section>
        <div class="btn-group-tabs btn-group btn-group-justified" role="group" 
            v-if="event.nominative_companions">
            <div class="btn-group">
                <button class="btn btn-default"
                    v-on:click="onTabGuest" 
                    v-bind:class="{ active: showGuestForm }">
                        {{ $t('surveyForm.GuestForm') }}
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-default" 
                    v-on:click="onTabCompanion"
                    v-bind:class="{ active: !showGuestForm }">
                        {{ $t('surveyForm.CompanionForm') }}
                </button>
            </div>
        </div>

        <section v-show="showGuestForm">
            <div class="form-edit-actions text-right">
                <a class="btn btn-info btn-overview btn-sm"
                    :disabled="event.subscribe_form_url == null"
                    :href="event.subscribe_form_url"
                    target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> {{ $t('surveyForm.ShowOverview') }}</a>
            </div>

            <!-- The new editor surveyjs for simple minisites -->
            <survey-js-editor v-if="event.advanced_subscription_form_mode == 1"
                mode="subscription"
                :event="event"
                v-on:save="saveSurveyJs">
            </survey-js-editor>

            <!-- The ancien editor for old events with advanced_subscription_form_mode == 0 -->
            <!-- !! This is the old form editor, to remove when not used in any event -->
            <edit-form v-if="subscribeForm != null && event.advanced_subscription_form_mode == 0"
                :formTemplate="subscribeForm.formTemplate"
                :inputSets="formInputSets"
                :disableFields="formDisableFields"
                :selectableFields="selectableFields"
                v-on:formbuilderSave="saveFormBuilder">
            </edit-form>
        </section>
        <section v-show="!showGuestForm">
            <div class="form-edit-actions text-right">
                <a class="btn btn-info btn-overview btn-sm"
                    :disabled="event.companion_subscribe_form_url == null"
                    :href="event.companion_subscribe_form_url"
                    target="_blank"><i class="fa fa-eye" aria-hidden="true"></i> {{ $t('surveyForm.ShowOverview') }}</a>
            </div>
                
            <survey-js-editor
                mode="subscription"
                :companionForm="true"
                :event="event"
                v-on:save="saveCompanionSurveyJs">
            </survey-js-editor>
        </section>

    </section>
</template>

<script>

import EditForm from '../EditForm'
import SurveyEditor from '../SurveyJsEditor'

/**
 * To save use:
 *          EventBus.$emit('ASK_FORMBUILDER_SAVE')
 *          EventBus.$emit('ASK_SURVEY_JS_SAVE')
 * 
 * the component will emit (save) event when it's ready
 * 
 */
const SubscribeFormEditor = Vue.extend({
    data () {
        return {
            showGuestForm: true,
            mergeContents: [{
                name: this.$t('subscribeForm.SubscribeForm'),
                value: '[[eventSubscrForm]]'
            },{
                name: this.$t('beefree.LittleMap'),
                value: '[[littleMap]]'
            },{
                name: this.$t('beefree.MiddleMap'),
                value: '[[map]]'
            },{
                name: this.$t('beefree.BigMap'),
                value: '[[bigMap]]'
            }],
            formInputSets: [{
                label: this.$t('subscribeForm.UserInformation'),
                name: 'user-details', // optional - one will be generated from the label if name not supplied
                showHeader: false, // optional - Use the label as the header for this set of inputs
                fields: [
                {
                    className: "form-control",
                    label: this.$t('guest.Firstname'),
                    placeholder: this.$t('guest.FirsnamePlaceHolder'),
                    name: "firstname",
                    required: true,
                    type: "text"
                },
                {
                    className: "form-control",
                    label: this.$t('guest.Lastname'),
                    placeholder: this.$t('guest.LastnamePlaceHolder'),
                    name: "lastname",
                    required: true,
                    type: "text"
                },
                {
                    className: "form-control",
                    label: this.$t('guest.Company'),
                    placeholder: this.$t('guest.CompanyPlaceHolder'),
                    name: "lastname",
                    required: true,
                    type: "text"
                },
                {
                    className: "form-control",
                    label: this.$t('guest.Email'),
                    placeholder: this.$t('guest.EmailPlaceHolder'),
                    name: "email",
                    required: true,
                    type: "text",
                    subtype: "email"
                }
                ]
            }],
            formDisableFields: ['file', 'button', 'autocomplete']
        }
    },
    props: [
        'subscribeForm',
        'event'
    ],
    components: {
        'edit-form': EditForm,
        'survey-js-editor': SurveyEditor
    },
    methods: {
        saveFormBuilder: function(d) { // triggered by formbuilder
            this.subscribeForm.formHtml = d.html
            this.subscribeForm.formTemplate = d.data
            this.save()
        },
        saveSurveyJs: function(form){
            this.subscribeForm.advancedFormTemplate = form.advancedFormTemplate
            this.save()
        },
        saveCompanionSurveyJs: function(form){
            this.subscribeForm.advanced_form_companion_template = form.advanced_form_companion_template
            this.save()
        },
        save: function() {
            this.$emit('save', this.subscribeForm);
        },
        onTabGuest: function() {
            this.showGuestForm = true
        },
        onTabCompanion: function () {
            this.showGuestForm = false
        }
    },
    computed: {
        selectableFields: function() {
            let base = ['firstname', 'lastname', 'email'];
            return base.concat(this.event.extendedFileds)
        }
    }
})
export default SubscribeFormEditor
</script>

<style type="scss" scoped>
    .btn-group-tabs{
        margin-top: 15px;
    }
    .form-edit-actions{
        margin-top: 15px;
    }
</style>
