<template>
  <section>
    <alert></alert>

    <load-box :visible="isLoading"></load-box>

    <section v-show="!isLoading">

      <simple-minisite-subscribe-form-edit v-if="this.event.advanced_minisite_mode == 0"
        @save="save"
        :subscribeForm="subscribeForm"
        :templates="templates"
        :event="event">
      </simple-minisite-subscribe-form-edit>

      <advanced-minisite-subscribe-form-edit v-else
        @save="save"
        :subscribeForm="subscribeForm"
        :event="event">
      </advanced-minisite-subscribe-form-edit>

    </section>
 
  </section>
</template>

<script>
import SubscribeFormService from '../../services/SubscribeFormService'

import Alert from '../Alert'
import LoadBox from '../LoadBox'

import EventBus from '../../tools/EventBus'

import SubscribeSurveyFormParameters from '../SubscribeSurveyFormParameters'

import SimpleMinisiteSubscribeFormEdit from './SimpleMinisiteSubscribeFormEdit'
import AdvancedMinisiteSubscribeFormEdit from './AdvancedMinisiteSubscribeFormEdit'

/**
 * Main component for subscribe form editing
 * Choose between Advanced or Simple minisite editor mode
 */
const SubscribeFormEdit = Vue.extend({
  data () {
    return {
      subscribeForm: null,
      isLoading: true,
      showForm: true,
      event: null,
      saveCallback: 0,
    }
  },
  mounted () {
    EventBus.$on('CANCEL_MINISITE', this.onCancel)
    EventBus.$on('SAVE_MINISITE', this.onSave)
  },
  props: ['advanced_mode', 'templates'],
  components: {
    'alert': Alert,
    'subscribe-form-parameters': SubscribeSurveyFormParameters,
    'load-box': LoadBox,
    'advanced-minisite-subscribe-form-edit': AdvancedMinisiteSubscribeFormEdit,
    'simple-minisite-subscribe-form-edit': SimpleMinisiteSubscribeFormEdit
  },
  methods: {
    onCancel: function() {
      if(confirm($t('shared.DoYouReallyWantToQuit'))){
        window.location.href = `/events/${this.event.id}/guests`
      }
    },
    onSave: function() {
      EventBus.$emit('ASK_BEEFREE_SAVE_MAIL')
      EventBus.$emit('ASK_FORMBUILDER_SAVE')
      EventBus.$emit('ASK_SURVEY_JS_SAVE')
    },
    save: function(newSubscribeForm) {
      this.subscribeForm = newSubscribeForm

      this.saveCallback ++
      let nbNecessarySave = this.event.advanced_minisite_mode ? 1 : 2

      if (this.event.nominative_companions) {
        nbNecessarySave = nbNecessarySave + 1 // For second SurveyJS form (companion)
      }

      if(this.saveCallback >= nbNecessarySave) {
        this.isLoading = true

        SubscribeFormService.update(this.subscribeForm).then((response) => {
          this.subscribeForm = response.data
          this.isLoading = false
          EventBus.$emit('SHOW_SUCCESS', this.$t('shared.ModificationsSaved'))
        }).catch((error) => {
          EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
          this.isLoading = false
        })
        this.saveCallback = 0
      }
    }
  },
  onSaveAsTemplate: function(){
      EventBus.$emit('ASK_BEEFREE_SAVE_TEMPLATE')
  },
  created: function() {    
    $('#btn-cancel').off( "click", "**").on('click', this.onCancel)
    $('#btn-save').off( "click", "**").on('click', this.onSave);

    this.event = JSON.parse($('#json-event-infos').html())

    SubscribeFormService.show(this.event.id).then((response) => {
      this.subscribeForm = response.data;

      this.isLoading = false
      
    }).catch((error) => {
      EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
      this.isLoading = false
    })
  }
})
export default SubscribeFormEdit
</script>

<style type="scss" scoped>
  .load-box {
    margin-top: 20px;
  }
  .btn-overview {
    margin-bottom: 10px;
  }
  .subscribe-form-parameters{
    margin-bottom: 0px;
  }
</style>
