<template>
     <section>
        <div class="panel-collapsible">
                <div class="panel-config-collapsible-minisite-templates">
                    <h1><i class="fa fa-clone" aria-hidden="true"></i> {{ $t('simpleMinisite.templates') }}</h1>

                    <button class="btn btn-outline pull-right btn-collapsible-close btn-sm"><i class="fa fa-fw fa-times"></i></button>

                    <button class="btn btn-success btn-sm" v-on:click="saveTemplate">
                        <i class="fa fa-fw fa-plus"></i>&nbsp;{{ $t('simpleMinisite.saveTemplate') }}
                    </button>

                    <template v-if="templates.length > 0">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalUpdateTemplate">
                        <i class="fa fa-fw fa-pencil"></i>&nbsp;{{ $t('simpleMinisite.updateExistingTemplate') }}
                    </button>

                    <div class="form-inline edit-inline-template-form">
                        <select id="template-load-select" v-model="selectedTemplateId" class="form-horizontal form-validate form-control">
                        <option value="0">{{ $t('simpleMinisite.chooseTemplate') }}</option>
                        <option v-for="template in templates" :key="template.id" :value="template.id">{{ template.name }}</option>
                        </select>

                        <button class="btn btn-warning btn-sm" id="btn-load-template" @click="loadTemplate">
                        {{ $t('simpleMinisite.loadTemplate') }}
                        </button>

                        <button class="btn btn-danger btn-sm" id="btn-delete-template" @click="deleteTemplate">
                            {{ $t('simpleMinisite.deleteTemplate') }}
                        </button>
                    </div>
                    </template>
                </div>
            </div>

        <!-- Template update modal -->
          <div class="modal fade" tabindex="-1" role="dialog" id="modalUpdateTemplate" aria-labelledby="modalUpdateTemplate">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <p><strong>{{ $t('simpleMinisite.template.headline') }}</strong></p>

                  <div class="alert alert-info">
                    <p>{{ $t('simpleMinisite.template.info') }}</p>
                  </div>

                  <select id="template-load-select" v-model="updateTemplateId" class="form-horizontal form-validate form-control">
                    <option value="0">{{ $t('simpleMinisite.chooseTemplate') }}</option>
                    <option v-for="template in templates" :key="template.id" :value="template.id">{{ template.name }}</option>

                 </select>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{ $t('simpleMinisite.template.cancel') }}</button>
                  <button type="button" class="btn btn-primary" @click="updateExistingTemplate">{{ $t('simpleMinisite.template.update') }}</button>
                </div>
              </div>
            </div>
          </div>

    </section>
</template>

<script>
import EventBus from '../../tools/EventBus'

const TemplatesCollapsiblePanel = Vue.extend({
    data () {
        return {
          selectedTemplateId: 0,
          updateTemplateId: 0
        }
    },
    props: [
        'templates'
    ],
    methods: {
       loadTemplate(){
           this.$emit('loadTemplate', this.selectedTemplateId);
       },
       deleteTemplate(){
           this.$emit('deleteTemplate', this.selectedTemplateId);
       },
       updateExistingTemplate(){
           this.$emit('updateExistingTemplate', this.updateTemplateId);
       },
        saveTemplate: function() {
            EventBus.$emit('ASK_BEEFREE_SAVE_TEMPLATE')
        },
    }
});

export default TemplatesCollapsiblePanel;
</script>

<style>

</style>