<template>
    <section>
        <button v-show="showForm" class="btn btn-warning btn-sm btn-right-divid btn-collapse-panel" data-test="template-button">
            <i class="fa fa-clone" aria-hidden="true"></i> {{ $t('simpleMinisite.templates') }}
        </button>

        <button v-on:click="cancelMinisite" class="btn btn-danger btn-sm">
                {{ $t('simpleMinisite.cancel') }}
        </button>

        <button v-on:click="saveMinisite" class="btn btn-primary btn-sm">
              {{ $t('simpleMinisite.save') }}
        </button>
    </section>

</template>

<script>
import EventBus from '../../tools/EventBus'

const TemplateButton = Vue.extend({
    data () {
        return {
            showForm: false
        }
    },
    mounted () {
        EventBus.$on('HIDE_TEMP_BUTTON', this.hideButton)
        EventBus.$on('SHOW_TEMP_BUTTON', this.showButton)
    },
    props: [     
    ],
    methods: {
        cancelMinisite: function() {
            EventBus.$emit('CANCEL_MINISITE')
        },
        saveMinisite: function() {
            EventBus.$emit('SAVE_MINISITE')
        },
        hideButton: function() {
            this.showForm = false
        },
        showButton: function() {
            this.showForm = true
        }
    },
    computed: {
    }
})
export default TemplateButton
</script>
