<template>
    <div id="guests-pagination">
        <paginate
            :force-page="currentPage-1"
            :page-count="paginationInfos.lastPage"
            :prev-text="$t('shared.Prev')"
            :next-text="$t('shared.Next')"
            :container-class="'pagination'"
            :click-handler="onPageChange">
        </paginate>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import Paginate from 'vuejs-paginate'

    const Pagination = Vue.extend({
        computed: {
            ...mapGetters({
                paginationInfos: 'guestIndex/paginationInfos',
                perPage: 'guestIndex/perPage',
                currentPage: 'guestIndex/currentPage',
                loading: 'guestIndex/guestsLoading'
            })
        },
        methods: {
            ...mapActions({
                changeGuestsPage: 'guestIndex/changeGuestsPage'
            }),
            onPageChange: function (page) {
               this.changeGuestsPage(page)
            }
        },
        components: {
            'paginate': Paginate
        }
    })
    export default Pagination
</script>

<style type="scss" scoped>
  #guests-pagination {
    text-align: center;
  }
</style>
