<template>
    <tbody>
        <guest-table-row
            v-if="!loading"
            v-for="guest in guests" :key="guest.id"
            :guest="guest"
            :event="event"
            :nominativeCompanions="nominativeCompanions"
            :extendedFields="extendedFields"
            :surveyFields="surveyFields"
            :sessions="sessions"
            :loading="isGuestLoading(guest)"
            :verificationJobRunning="verificationJobRunning"
            :selectionMode="guestsSelectionActive"
            :selected="isGuestSelected(guest)"
            :selectionLoading="guestsSelectionLoading"
            @change="onGuestChange"
            @delete="onGuestDelete(guest)"
            @askEmailValidity="showEmailValidityInfoModal"
            @selectionChange="onGuestSelectionChange">
        </guest-table-row>
    </tbody>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import LoadBox from '../../components/LoadBox'
    import GuestTableRow from '../components/GuestTableRow'

    const TableContent = Vue.extend({
        computed: {
            ...mapGetters({
                event: 'guestIndex/event',
                guests: 'guestIndex/guests',
                loading: 'guestIndex/guestsLoading',
                extendedFields: 'guestIndex/extendedFields',
                nominativeCompanions: 'guestIndex/nominativeCompanions',
                loadingGuests: 'guestIndex/loadingGuests',
                loadingCompanions: 'guestIndex/loadingCompanions',
                sessions: 'guestIndex/sessions',
                surveyFields: 'guestIndex/surveyFields',
                verificationJobRunning: 'guestIndex/verificationJobRunning',
                guestsSelectionActive: 'guestsSelection/selectionActive',
                guestsSelectionLoading: 'guestsSelection/filtersSelectionLoading',
                selectedGuestIds: 'guestsSelection/guestIds',
                selectedCompanionIds: 'guestsSelection/companionIds',
            })
        },
        components: {
            'load-box': LoadBox,
            'guest-table-row': GuestTableRow
        },
        methods: {
            ...mapActions({
                updateGuest: 'guestIndex/updateGuest',
                updateCompanion: 'guestIndex/updateCompanion',
                deleteGuest: 'guestIndex/deleteGuest',
                deleteCompanion: 'guestIndex/deleteCompanion',
                showEmailValidityInfoModal: 'guestIndex/showEmailValidityInfoModal',
                selectGuestOrCompanion: 'guestsSelection/selectGuestOrCompanion',
                unSelectGuestOrCompanion: 'guestsSelection/unSelectGuestOrCompanion'
            }),
            isGuestLoading: function(guest) {
                if (guest.guest_id == null) {
                    return this.loadingGuests.find(x => guest.id === x) != null
                }
                else {
                    return this.loadingCompanions.find(x => guest.id === x) != null
                }
            },
            onGuestChange: function(changedGuest) {
                if (changedGuest.guest_id == null) {
                    this.updateGuest(changedGuest)
                }
                else {
                    this.updateCompanion(changedGuest)
                }
            },
            onGuestDelete: function(guest) {
                if (guest.guest_id == null) {
                    this.deleteGuest(guest)
                }
                else {
                    this.deleteCompanion(guest)
                }
            },
            onGuestSelectionChange: function({guest, selected}) {
                if (selected) {
                    this.selectGuestOrCompanion(guest)
                }
                else {
                    this.unSelectGuestOrCompanion(guest)
                }
            },
            isGuestSelected: function(guest) {
                if (!this.guestsSelectionActive) {
                    return null
                }

                if (guest.guest_id === null || guest.guest_id === undefined) {
                    // he is a guest
                    return this.selectedGuestIds.find(id => id === guest.id) !== undefined
                }
                else {
                    // he is a companion
                    return this.selectedCompanionIds.find(id => id === guest.id) !== undefined
                }
            }
        }
    })
    export default TableContent
</script>

<style type="scss" scoped>
</style>
