<template>
    <guest-table-filters
        :extendedFields="extendedFields"
        :surveyFields="surveyFields"
        :filters="filters"
        :nominativeCompanions="nominativeCompanions"
        :sessions="sessions"
        :selectionMode="guestsSelectionActive"
        :selectAllLoading="filtersSelectionLoading"
        @change="filterGuests"
        @askEmailValidity="showEmailValidityInfoModal()"
        @removeExtendedField="onRemoveExtendedField"
        @selectAllGuests="onSelectAllGuests"
        @unSelectAllGuests="onUnSelectAllGuests">
    </guest-table-filters>
</template>

<script>
    import GuestTableFilters from '../components/GuestTableFilters'

    import EventBus from '../../tools/EventBus'

    import { mapGetters, mapActions } from 'vuex'

    const TableFilters = Vue.extend({
        computed: {
            ...mapGetters({
                loading: 'guestIndex/guestsLoading',
                extendedFields: 'guestIndex/extendedFields',
                filters: 'guestIndex/filters',
                nominativeCompanions: 'guestIndex/nominativeCompanions',
                sessions: 'guestIndex/sessions',
                surveyFields: 'guestIndex/surveyFields',
                guestsSelectionActive: 'guestsSelection/selectionActive',
                filtersSelectionLoading: 'guestsSelection/filtersSelectionLoading',
            })
        },
        methods: {
            ...mapActions({
                filterGuests: 'guestIndex/filterGuests',
                showEmailValidityInfoModal: 'guestIndex/showEmailValidityInfoModal',
                removeExtendedField: 'guestIndex/removeExtendedField',
                selectAllGuests: 'guestsSelection/selectAll',
                unSelectAllGuests: 'guestsSelection/unSelectAll',
            }),
            onRemoveExtendedField: function(field) {
                EventBus.$emit('SHOW_CONFIRM_MODAL', {
                    title: this.$t('guest.DoYouConfirmColumnDelete'),
                    message: this.$t('guest.DeleteColumnConfirmMessage', { field: field }),
                    btnCancelLabel: this.$t('shared.Cancel'),
                    btnOKLabel: this.$t('shared.Confirm'),
                    callbackOK: () => {
                        this.removeExtendedField(field)
                    },
                    callbackCancel: () => {
                        // nothing
                    }
                })
            },
            onSelectAllGuests: function(filters) {
                this.selectAllGuests(filters)
            },
            onUnSelectAllGuests: function(filters) {
                this.unSelectAllGuests(filters)
            }
        },
        components: {
            'guest-table-filters': GuestTableFilters
        },
    })
    export default TableFilters
</script>

<style type="scss" scoped>
</style>
