<template>
  <section class="companions-formset">
    <!-- {{ places }} -->
    <load-box :visible="!formLoaded"></load-box>

    <ul class="nav nav-tabs" v-if="formLoaded">
      <li v-for="(companion, i) in companions"
        :key="i"
        :class="i == 0 ? 'active' : ''">
        <a
          data-toggle="tab"
          :href="'#companion_' + i + '_tab'"
          :id="'#companion_' + i + '_head_tab'">
          <span v-if="tabContentDefined(i)">
            <div v-if="companionsData[i].valid">
              <i class="fa fa-fw fa-check text-success"></i>
              <span>
                <strong>{{ companionsData[i].email | truncate(20) }}</strong>
              </span>
              <br>
              <small class="text-muted" style="margin-left: 20px;">
                {{ companionsData[i].firstname | truncate(10) }}
                {{ companionsData[i].lastname | truncate(10) }}
              </small>
            </div>
            <div v-else>
              <i class="fa fa-fw fa-times text-danger"></i>
              <small class="text-muted">{{ companionsData[i].email | truncate(20) }}</small>
            </div>
          </span>
          <span v-else>
            <span class="text-muted">{{ $t('guest.Companion') }} {{ parseInt(i) + 1 }}</span>
            <br/>
            <span>&nbsp;</span>
          </span>
        </a>
      </li>
    </ul>

    <div class="tab-content" v-if="formLoaded">
      <companion-form
        v-for="(companion, i) in companions"
        :key="i"
        :id="'companion_' + i + '_tab'"
        :class="i == 0 ? 'tab-pane fade active in' : 'tab-pane fade'"
        :form-index="i"
        :companion="companion"
        :subscribeForm="subscribeForm"
        @onCompanionFormUpdate="updateCompanionData">
      </companion-form>
    </div>
    <hr>
  </section>
</template>

<script>
import i18n from "../../tools/i18n"

import CompanionService from "../../services/CompanionService"
import EventBus from "../../tools/EventBus"
import CompanionForm from "./CompanionForm"
import LoadBox from '../../components/LoadBox'

import { CompanionFormModel } from '../../models/CompanionFormModel'

const CompanionsTabsForm = Vue.extend({
  data() {
    return {
      locale: i18n.getLocale(),
      companionsData: {},       // Contains all current companions data, used for validation
      companionsExisting: [], // Contains existing companions data if there are some
      formLoaded: false,
      validateErrors: []
    };
  },
  computed : {
    companions: function() {
      let cs = []
      for(let i=0; i<this.places; i++) {
        cs.push(this.companionsExisting[i] == null ? {} : this.companionsExisting[i])
      }
      return cs
    }
  },
  updated() {
    this.adjustCompanionsData() // Removing last index(es) if places are decremented
  },
  /*
  * When component is created, if guestId is defined,
  * we fetch its companions and if there are some we prefill 
  * array of data to then pre-fill the form fields.
  */
  created() {
    if (this.guestId != null && this.guestHash != null) {
      CompanionService.retrieveAll(this.eventId, this.guestId, this.guestHash).then((response) => {
        if(response.data.length > 0){
          this.companionsExisting = response.data
          // Pre-filling companionsData array used for component logic and validation
          this.companionsExisting.forEach((element, index) => {
            this.companionsData[index] = new CompanionFormModel(element.id, index, element.firstname, 
              element.lastname, element.email, element.company, 
              this.subscribeForm.companion_firstname_required, 
              this.subscribeForm.companion_lastname_required, 
              this.subscribeForm.companion_company_required)
          });
          this.formLoaded = true
        } else {
          this.formLoaded = true
        }
      }).catch((error) => {
        console.error(error)
        EventBus.$emit('SHOW_ERROR', error)
      })
    } else{
      this.formLoaded = true
    }
  },
  methods: {
    /*
     * Simply returns true if the mail is
     * defined for this companion. It is used to trigger
     * the dynamic tab content (either "Companion X" or companion infos)
     */
    tabContentDefined: function(index) {
      if (this.companionsData[index] != null) {
        return this.companionsData[index].email != null
      }
      return false
    },
    /*
     * Removing last index(es) of companion data if places are
     * decremented to avoid sending unwanted data. Triggered on
     * component 'update' event
     */
    adjustCompanionsData: function() {
      console.log("adjustCompanionsData")
      if (Object.keys(this.companionsData).length > this.places) {
        let diff = Object.keys(this.companionsData).length - this.places
        // Deleting overflowing elements
        for (let index = 0; index < diff + 1; index++) {
          let toDelIndex = Object.keys(this.companionsData).length - index
          delete this.companionsData[toDelIndex]
        }
        console.log(this.companionsData)
      }

      this.adjustErrorsData()

      this.$emit("onCompanionsInfosChange", {
        companionsData: Object.values(this.companionsData) // Emit companion data to parent component (SubscribeFormSurveyJs)
      })
    },
    adjustErrorsData: function(){
      // Deleting error if exists
      if(this.validateErrors.includes(this.places.toString())){
        this.validateErrors.splice(this.validateErrors.findIndex(() => {this.places}), 1) 
      }

      console.log(this.validateErrors)
    },
    /*
    * Method called when companion data is updated AND/OR
    * a new companion data is incoming from child components (CompanionForm).
    * This updates the companionsData array with updated values
    * and create new index if new companion is defined.
    *
    */
    updateCompanionData: function({ companionData }) {

      let companionIndex = companionData.index

      // This companion already exists in the array (index is defined)
      if (this.companionsData[companionIndex]) {
        
        // Mapping incoming data and local companionData informations
        Object.keys(companionData).forEach(key => {
          this.companionsData[companionIndex][key] = companionData[key];
        })
      } 
      // This index is not yet defined so it's a new companion definition
      else {
        this.companionsData[companionIndex] = new CompanionFormModel(null, companionIndex, null, null, null, null,
          this.subscribeForm.companion_firstname_required, 
          this.subscribeForm.companion_lastname_required, 
          this.subscribeForm.companion_company_required
        )
        Object.keys(companionData).forEach(key => {
          this.companionsData[companionIndex][key] = companionData[key];
        })
      }

      // Re render component and emit signal of data updated
      this.$emit("onCompanionsInfosChange", {
        companionsData: Object.values(this.companionsData) // Emit companion data to parent component (SubscribeFormSurveyJs)
      })

      this.$forceUpdate()
    },
    spreadErrors: function(errors){
      this.validateErrors = errors
      this.adjustErrorsData()

      EventBus.$emit('SHOW_ERROR', i18n.getLocalTranslations().guest.CheckCompanions)
    }
  },
  props: {
    places: {
      required: true
    },
    eventId: {},
    guestId: {},
    guestHash: {},
    subscribeForm: {
      required: true
    }
  },
  components: {
    'load-box': LoadBox,
    'companion-form': CompanionForm
  },
  filters: {
    /*
     * Truncate strings in template (used to display name and/or email addresses)
     */
    truncate: function(text, stop, clamp) {
      if (text == null) {
        return ""
      }
      return text.slice(0, stop) + (stop < text.length ? clamp || "..." : "")
    }
  }
});
export default CompanionsTabsForm;
</script>

<style type="scss" scoped>
</style>
