<template>
  <section class="session-box">
    <div class="session-content">

      <h1>{{ $t('companionSelect.Choice') }}</h1>
      <p>
        {{ $t('companionSelect.Limit') }} {{ maxPlaces }}
      </p>
    </div>

    <div class="session-ctrl session-ctrl-multiple">
      <div class="session-ctrl-group">
        <button class="session-action-top" @click="onInc()" :disabled="!canInc" data-test="companions-plus-btn">+</button>
        <div class="session-ctrl-middle" data-test="companions-number">
          {{ places }}
        </div>
        <button class="session-action-bottom" @click="onDec()" :disabled="!canDec" data-test="companions-minus-btn">-</button>
      </div>
    </div>
  </section>
</template>

<script>

import { mapMutations, mapGetters } from "vuex";

/**
* companionss selectable element
*/
const CompanionSelect = Vue.extend({
  computed: {   
    placesRemaining: function () {
      return this.maxPlaces - this.places
    },
    canInc: function () {
      // Test max companions for this event
      // Empty places check removed to authorize update
      return this.places + 1 <= this.maxPlaces
    },
    canDec: function () {
      return this.places - 1 >= 0
    }
  },
  methods: {
     ...mapMutations("sessions", [
      'resetCompanionsSelected'
    ]),
    onSelect: function () {
      this.$emit('onSelect', {
        nbCompanions: this.places > 0 ? 0 : 1
      })
    },
    onInc: function () {
      if (this.canInc) {
        this.$emit('onSelect', {
          nbCompanions: this.places + 1
        })
      }
    },
    onDec: function () {
      if (this.canDec) {
        if(this.eventNominativeCompanion)
          this.resetCompanionsSelected({companions: this.places - 1});

        this.$emit('onSelect', {
          nbCompanions: this.places - 1
        })
      }
    }
  },
  props: {
    'maxPlaces': {
      required: true
    },
    'emptyPlaces': {
      required: true
    },
    'places': {
      required: true
    },
    'multiple-subscribe': {
      default: false,
      type: Boolean
    },
    'eventNominativeCompanion': {
      default: 0
    }
  }
})
export default CompanionSelect
</script>
