<template>
  <section class="companions-form">
        <div class="form-group">
          <label :for="'companion_' + formIndex + '_firstname'">
            <template v-if="subscribeForm.companion_firstname_required"> * </template>{{ $t('guest.Firstname') }}</label>
          <input
            type="text"
            class="form-control"
            v-model="firstname"
            :id="'companion_' + formIndex + '_firstname'"
            :placeholder="$t('guest.FirsnamePlaceHolder')"
            @change="companionInfoUpdated">
        </div>
        <div class="form-group">
          <label :for="'companion_' + formIndex + '_lastname'">
            <template v-if="subscribeForm.companion_lastname_required"> * </template>{{ $t('guest.Lastname') }}</label>
          <input
            type="text"
            :id="'companion_' + formIndex + '_lastname'"
            class="form-control"
            :placeholder="$t('guest.LastnamePlaceHolder')"
            @change="companionInfoUpdated"
            v-model="lastname">
        </div>
        <div class="form-group">
          <label :for="'companion_' + formIndex + '_email'"> * {{ $t('guest.Email') }}</label>
          <input
            type="email"
            :id="'companion_' + formIndex + '_email'"
            class="form-control"
            :placeholder="$t('guest.EmailPlaceHolder')"
            @change="companionInfoUpdated"
            v-model="email">
        </div>
        <div class="form-group">
          <label :for="'companion_' + formIndex + '_company'">
            <template v-if="subscribeForm.companion_company_required"> * </template>{{ $t('guest.Company') }}
          </label>
          <input
            type="text"
            :id="'companion_' + formIndex + '_company'"
            class="form-control"
            :placeholder="$t('guest.CompanyPlaceHolder')"
            @change="companionInfoUpdated"
            v-model="company">
        </div>

        <input
          type="hidden"
          v-if="this.$props.guest"
          :id="'companion_' + formIndex + '_id'"
          class="form-control"
          v-model="id">

  </section>
</template>

<script>

import i18n from "../../tools/i18n";

import GuestService from '../../services/GuestService'
import EventBus from '../../tools/EventBus'

const CompanionForm = Vue.extend({
  data() {
    return {
      locale: i18n.getLocale(),
      firstname: null,
      lastname: null,
      email: null,
      company: null,
      id: null
    };
  },
  created(){
    // Pre filling properties
    var i = this.formIndex 
    this.firstname = this.companion.firstname
    this.lastname = this.companion.lastname
    this.email = this.companion.email
    this.company = this.companion.company != '' ? this.companion.company : ''
    this.id = this.companion.id
    this.companionInfoUpdated() // Necessary to validate the pre-existing companions in local list
  },
  methods: {
    /*
    * Creates an array of data for this companion
    * and emits it to the parent component by mapping
    * values to properties of this component companion.
    */
    companionInfoUpdated: function(event){
      this.$emit('onCompanionFormUpdate', { // Send this companion data to parent component CompanionFormSet
          companionData: {
            'id': this.id, // id is defined only if the form is pre-filled (existing companion)
            'index': this.formIndex,
            'firstname': this.firstname, 
            'lastname': this.lastname,
            'email': this.email,
            'company': this.company
          }
      })
    }
  },
  props: {
    formIndex: {
      required: true
    },
    companion: {
      required: true
    },
    subscribeForm: {
      required: true
    }
  }
});
export default CompanionForm;
</script>

<style type="scss" scoped>
</style>
