<template>
  <td :colspan="colspan">
    <div class="flex-element">
      <span>{{ group.name }}<span v-if="group.mandatory">*</span></span>       
      <span
        v-if="group.mandatory && !has_selected_sessions"
        class="error"
      >{{ $t("MandatoryGroupHeader.mandatory_session_group") }}</span>
      <span class="badge badge-light " v-if="group.allowed_sessions > 0">{{selected_sessions_amount}}/{{allowed_subscriptions}}</span>
    </div>
  </td>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

const MandatoryGroupHeader = Vue.extend({
  props: {
    group: {
      require: true
    },
    companions: {
      require: true
    }
  },
  computed: {
    ...mapGetters("sessions", ["nominativeSessionsCounterByGroup"]),
    has_selected_sessions: function() {
      return this.selected_sessions_amount > 0;
    },
    selected_sessions_amount: function() {
      if (!this.nominativeSessionsCounterByGroup[this.group.id]) return 0;
      return this.nominativeSessionsCounterByGroup[this.group.id];
    },
    allowed_subscriptions: function() {
      if (!this.group.allowed_sessions) return 0;

      return this.group.allowed_sessions * (this.companions + 1);
    },
    colspan: function() {
      return this.companions + 2;
    }
  }
});

export default MandatoryGroupHeader;
</script>

<style>
.error {
  color: #a94442;
  background-color: #f2dede;
  padding: 2px 3px;
  border-color: #ebccd1;
}

.flex-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge{
  height: 20px;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
</style>