<template>
  <input
    type="checkbox"
    class="big-checkbox"
    :data-test="'guest-session-' + session.id"
    :checked="selected"
    :disabled="maximumSubscriptionsReached"
    @click="clickSession()"
  />
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

const NominativeCheck = Vue.extend({
  props: {
    session: {
      required: true
    },
    isGuest: {
      required: true
    },
    companion_id: null,
    maximumCategoriesSubscriptions: false,
  },
  computed: {
    ...mapGetters("sessions", [
      "companionsSessions",
      "mandatorySessions",
      "maxSubscriptions",
      "groups",
      'nominativeCounterBySessions',
      'nominativeGroupsSelected'
    ]),
    selected: function() {
      if (!this.companionsSessions[this.identifier]) return false;

      if (this.companionsSessions[this.identifier].sessions.length === 0)
        return false;

      return (
        this.companionsSessions[this.identifier].sessions.find(
          s => s.id === this.session.id
        ) != undefined
      );
    },
    identifier: function() {
      return this.companion_id != "guest" ? this.companion_id : "guest";
    },
    payload: function() {
      return { session: this.session, id: this.identifier };
    },
    places: function () {
      if(!this.nominativeCounterBySessions[this.session.id]) return 0

      return this.nominativeCounterBySessions[this.session.id];
    },
    maximumSubscriptionsReached: function() {
      if (this.selected) return false;

      if(this.session.isFullWithWantedPlaces(this.places)) return true;

      if (this.groups.length > 0){
        if (this.session.sessionGroup){          
          if(this.maximumCategoriesSubscriptions)
             if(this.maximumCategoriesSubscriptions <= this.currentGroupsSelectedByIdentifier
             && this.selectedSessionsByGroup < 1) return true;

          if(this.session.sessionGroup.allowed_sessions)
            return this.selectedSessionsByGroup >= this.session.sessionGroup.allowed_sessions;
        }

        return false;
      }

        return (
          this.maxSubscriptions &&
          this.selectedSessionsByPerson >= this.maxSubscriptions
        );
    },
    selectedSessionsByPerson: function() {
      if (!this.companionsSessions[this.identifier]) return 0;
      return this.companionsSessions[this.identifier].sessions.length;
    },
    selectedSessionsByGroup: function() {
      if (!(this.selectedSessionsByPerson > 0 && this.session.sessionGroup))
        return 0;

      return this.companionsSessions[this.identifier].sessions.filter(
        session => {
          if (!session.sessionGroup) return false;
          return session.sessionGroup.id === this.session.sessionGroup.id;
        }
      ).length;
    },
    currentGroupsSelectedByIdentifier(){
      if (!(this.selectedSessionsByPerson > 0 && this.session.sessionGroup))
        return 0;

      let sessionsWithGroups = this.companionsSessions[this.identifier].sessions.filter(session => session.sessionGroup);

      let unique = [];
      let distinct = [];
      for( let i = 0; i < sessionsWithGroups.length; i++ ){
        if(!unique[sessionsWithGroups[i].sessionGroup.id]){
          distinct.push(sessionsWithGroups[i].sessionGroup.id);
          unique[sessionsWithGroups[i].sessionGroup.id] = 1;
        }
      }

      return distinct.length;
    }
  },
  methods: {
    ...mapMutations("sessions", [
      "addSessionsWithNominativeCompanions",
      "removeSessionsWithNominativeCompanions"
    ]),
    clickSession() {
      if (this.selected) {
        this.removeSessionsWithNominativeCompanions(this.payload);
      } else {
        this.addSessionsWithNominativeCompanions(this.payload);
      }
    }
  }
});

export default NominativeCheck;
</script>

<style>
</style>