<template>
    <section class="nominative-session-form">
        <load-box :visible="loading"></load-box>
        <div
                v-if="groups.length == 0 && mandatorySessions && nomitativeSessionsSelected < 1"
                class="alert alert-danger margin-tb-5"
            >{{ $t("sessionForm.mandatory_subscription") }}
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-nominative-sessions" v-if="!loading && sessions.length > 0">
                <thead>
                    <tr>
                        <th scope="col">       
                            <span v-if="groups.length == 0 && maxSubscriptions" class="badge badge-light" >
                                {{ nomitativeSessionsSelected}} / {{ maxSubscriptions * (nbCompanions  + 1)}}
                            </span>
                        </th>
                        <th scope="col" class="text-center" 
                                data-test="guest-name">
                            {{ guestFullName }}
                        </th>
                        <th scope="col" v-for="companion in companions" :key="companion.index" class="text-center" 
                                :data-test="'companion-' + companion.index + '-name'">
                            {{ shortGuestName(companion) }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="session in sessionsWithoutGroups" :key="session.id">
                        <th scope="row">
                                <span class="label label-primary">{{ counterBySession(session.id) }}</span> {{ session.name }}
                            <span class="label label-danger" 
                                v-if="session.isFullWithWantedPlaces(counterBySession(session.id))">
                                {{ $t('sessionSelect.Full') }}
                            </span>
                        </th>
                        <td class="text-center">
                                <nominative-check :isGuest="true" :session="session" :companion_id="'guest'">
                                </nominative-check>
                        </td>
                        <td v-for="companion in companions" :key="companion.index" class="text-center">
                                <nominative-check :isGuest="false" :session="session" :companion_id="companion.index">
                                </nominative-check>
                        </td>
                    </tr>

                    <template v-for="(sessionGroup) in sessionGroups">
                        <tr  class="session-group-title" :key="sessionGroup.id">
                            <mandatory-group-header :group="sessionGroup" :companions="nbCompanions" ></mandatory-group-header>
                        </tr>
                        <tr class="session-group-line" v-for="session in sessionGroup.sessions" :key="sessionGroup.id + '-' + session.id">
                            <th scope="row">
                                <span class="label label-primary">{{ counterBySession(session.id) }}</span> {{ session.name }}
                                <span class="label label-danger"
                                    v-if="session.isFullWithWantedPlaces( counterBySession(session.id))">
                                    {{ $t('sessionSelect.Full') }}
                                </span>
                            </th>
                            <td class="text-center session-group-element">
                                    <nominative-check :isGuest="true" :maximumCategoriesSubscriptions="event.maximum_categories_subscriptions"
                                    :session="session" :companion_id="'guest'">
                                    </nominative-check>
                            </td>
                            <td v-for="companion in companions" :key="session.id + '-' + companion.index" class="text-center session-group-element">
                                    <nominative-check :isGuest="false" :maximumCategoriesSubscriptions="event.maximum_categories_subscriptions"
                                    :session="session" :companion_id="companion.index">
                                    </nominative-check>
                            </td>
                        </tr>
                        <tr class="session-group-foot" :key="'foot-' + sessionGroup.id">
                            <td :colspan="nbCompanions + 2">
                                &nbsp;
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </section>
</template>

<script>
import SessionService from '../../services/SessionService'
import EventBus from '../../tools/EventBus'

import { Session } from '../../models/Session'

import LoadBox from '../../components/LoadBox'
import  NominativeCheck  from "./NominativeCheck";
import  MandatoryGroupHeader  from "./MandatoryGroupHeader";
import {mapMutations, mapGetters} from 'vuex'

/**
* Nominative Sessions Form display
* The user can subscribe to a session from here
*/
const NominativeSessionsForm = Vue.extend({
  data () {
    return {
        loading: true,
        sessions: [],
        guestSessions: [],
        guestSessionsSelected: {}, // Object of sessions Ids and boolean
        guestSessionsGroupsSelected: {}, // Object of selected session Id by sessionGroup Id
        guestSessionsGroupsPreviousSelected: {}, // Necessary to uncheck radio buttons
        companionsSessionsSelected: {},  // Object of sessions Ids and boolean by companion Index
        companionsSessionsGroupsSelected: {}, // Object of selected session Id by sessionGroup Id grouped by companion Index
        companionsSessionsGroupsPreviousSelected: {}, // Necessary to uncheck radio buttons
    }
  },
  computed: {
      ...mapGetters('sessions', [
          'nominativeCounterBySessions',
          'nomitativeSessionsSelected',
          'groups',
          'maxSubscriptions',
          'mandatorySessions',
      ]),
    nbCompanions: function () {
        return this.companions != null ? this.companions.length : 0
    },
    sessionsWithoutGroups: function () {
        return this.sessions.filter(s => s.sessionGroup == null)
    },
    sessionGroups: function() {
        return SessionService.regroupBySessionGroup(this.sessions)
    },
    guestFullName: function () {
        if (this.guest.firstname != null && this.guest.lastname != null) {
            return this.shortGuestName(this.guest)
        }
        else {
            return this.$t('subscribe.NominativeSessionsForm.GuestWithoutName')
        }
    },
    
  },
  watch: {
    /**
     * Define missing indexes in companions sessions lists
     */
    companions: {
        handler: function(newVal, oldVal) {
            for (let companion of newVal) {
                if(this.companionsSessionsSelected[companion.index] == null) {
                    this.companionsSessionsSelected[companion.index] = {}
                }
                if(this.companionsSessionsGroupsSelected[companion.index] == null) {
                    this.companionsSessionsGroupsSelected[companion.index] = {}
                }
            }

            // remove removed companions
            for (let companionIndex in this.companionsSessionsSelected) {
                if (newVal.find(c => c.index == companionIndex) == null) {
                    delete this.companionsSessionsSelected[companionIndex]
                    this.onSelectionChange()
                }
            }

            for (let companionIndex in this.companionsSessionsGroupsSelected) {
                if (newVal.find(c => c.index == companionIndex) == null) {
                    delete this.companionsSessionsGroupsSelected[companionIndex]
                    this.onSelectionChange()
                }
            }
        },
        deep: true
    }
  },
  mounted() {
    this.retrieveSessions()

    EventBus.$on('REFRESH_SESSIONS', () => {
      this.retrieveSessions()
    })
  },
  methods: {
      ...mapMutations('sessions', [
          'addGroup',
          'addMandatoryGroup',
          'addSessionsWithNominativeCompanions',
          'addEventSessions'
      ]),
      counterBySession: function (sessionId) {
          if(!this.nominativeCounterBySessions[sessionId]) return 0;
          return this.nominativeCounterBySessions[sessionId];
      },
    allowSessionSelection: function(session, companion = null) {
        const selectedPlaces = this.sessionWantedPlaces(session.id)

        // Always allow if session is already selected
        if (selectedPlaces > 0 && companion != null &&
                this.companionsSessionsSelected[companion.index][session.id]) {
            return true
        }
        else if(selectedPlaces > 0 && companion == null &&
                this.guestSessionsSelected[session.id]) {
            return true
        }

        return !session.isFullWithWantedPlaces(selectedPlaces)
    },
    allowSessionSelectionInGroup: function(session, sessionGroup, companion = null) {
        const selectedPlaces = this.sessionInGroupWantedPlaces(session.id, sessionGroup.id)

        // Always allow if session is already selected
        if (selectedPlaces > 0 && companion != null &&
                this.companionsSessionsGroupsSelected[companion.index][sessionGroup.id] === session.id) {
            return true
        }
        else if(selectedPlaces > 0 && companion == null &&
                this.guestSessionsGroupsSelected[sessionGroup.id] === session.id) {
            return true
        }

        return !session.isFullWithWantedPlaces(selectedPlaces)
    },
    sessionWantedPlaces: function(sessionId) {
        let places = this.guestSessionsSelected[sessionId] ? 1 : 0
        for(let companionIndex in this.companionsSessionsSelected) {
            places = this.companionsSessionsSelected[companionIndex][sessionId] ? places + 1 : places
        }
        return places
    },
    sessionInGroupWantedPlaces: function(sessionId, sessionGroupId) {
        let places = this.guestSessionsGroupsSelected[sessionGroupId] == sessionId  ? 1 : 0
        for(let companionIndex in this.companionsSessionsGroupsSelected) {
            places = this.companionsSessionsGroupsSelected[companionIndex][sessionGroupId] == sessionId ? places + 1 : places
        }
        return places
    },
    shortGuestName: function(element) {
        if ((element.lastname !== undefined && element.lastname !== '') ||
                (element.firstname !== undefined && element.firstname !== '')) {
            const lastname = element.lastname === undefined ? '' : 
                (element.firstname === undefined || element.firstname === '' ? element.lastname : element.lastname.substring(0, 1))
            return `${element.firstname} ${lastname}.`
        }
        else if(element.email !== undefined) {
            return element.email
        }
        else {
            return `${this.$t('guest.Companion')} ${element.index + 1}`
        }
    },
    retrieveSessions: function() {
        this.loading = true
        let guestAccessHash = this.guest == null ? null : this.guest.accessHash

        SessionService.retrieve(this.event.id, guestAccessHash).then((sessions) => {
            this.sessions = sessions;

            //this.sessions.forEach(session => this.addSession(session));     
            this.addEventSessions(sessions);

            this.sessionGroups.forEach(group => {
                this.addGroup(group);

                if(group.mandatory){
                    this.addMandatoryGroup(group);
                }
            });

            if (this.guest.id != null) {
                SessionService.retrieveOfGuest(this.guest.id, guestAccessHash).then((response) => {
                    this.prefill(response.data)
                    this.onSelectionChange()
                    this.loading = false
                }).catch((error) => {
                    console.error(error)
                    this.loading = false
                    EventBus.$emit('SHOW_ERROR', this.$t('shared.UnknownErrorContactAdmin'))

                    throw error // for sentry loging
                })
            }
            else {
                this.loading = false
            }

        }).catch((error) => {
            console.error(error)
            this.loading = false
            EventBus.$emit('SHOW_ERROR', this.$t('shared.UnknownErrorContactAdmin'))

            throw error // for sentry loging
        })
    },
    /**
     * Prefill form v-model with backend datas
     * Set:
     * * guestSessionsGroupsSelected
     * * companionsSessionsGroupsSelected
     * * guestSessionsSelected
     * * companionsSessionsSelected
     */
    prefill: function(guestSessions) {        
        let indexForCompanionId = {}
        for (let companion of this.companions) {
            if (companion.id != null) {
                indexForCompanionId[companion.id] = companion.index
            }
        }

        for (let guestSession of guestSessions) {

            // fill guest reserved places
            for (let session of this.sessions) {
                if (session.id === guestSession.id) {
                    session.totalGuestPlaces = guestSession.totalGuestPlaces
                }
            }

            if (guestSession.hasGuestPlace) {
                    this.addSessionsWithNominativeCompanions({ session: this.sessions.find(session => session.id == guestSession.id), id: 'guest'});
                }
                
                for(let companionId of guestSession.subscribedCompanions) {
                        this.addSessionsWithNominativeCompanions({ session: this.sessions.find(session => session.id == guestSession.id), id: indexForCompanionId[companionId]});                        
                }
        }

         this.sessions = this.sessions.map(session => {
            if(session.totalGuestPlaces > 0) return session;
            session.totalGuestPlaces = 0;
            return session;
        })
    },
    extractCompanionSessionsIds: function(companion) {
        let companionSessionIds = []

        // Stand alone sessions
        const companionSelectedSessions = this.companionsSessionsSelected[companion.index]
        if (companionSelectedSessions != null) {
            for (let sessionId in companionSelectedSessions) {
                if (companionSelectedSessions[sessionId]) {
                    companionSessionIds.push(parseInt(sessionId))
                }
            }
        }

        // Sessions in groups
        const companionSelectedGroupSessions = this.companionsSessionsGroupsSelected[companion.index]
        if (companionSelectedGroupSessions != null) {
            for (let groupId in companionSelectedGroupSessions) {
                if (companionSelectedGroupSessions[groupId] != null) {
                    companionSessionIds.push(companionSelectedGroupSessions[groupId])
                }
            }
        }

        return companionSessionIds
    },
    extractGuestSessionsIds: function(guest) {
        let guestSessionsIds = []

        if (this.guestSessionsSelected != null) {
            for (let sessionId in this.guestSessionsSelected) {
                if (this.guestSessionsSelected[sessionId]) {
                    guestSessionsIds.push(parseInt(sessionId))
                }
            }
        }

        if (this.guestSessionsGroupsSelected != null) {
            for (let groupId in this.guestSessionsGroupsSelected) {
                if (this.guestSessionsGroupsSelected[groupId] != null) {
                    guestSessionsIds.push(this.guestSessionsGroupsSelected[groupId])
                }
            }
        }

        return guestSessionsIds
    },
    onSelectionChange: function() {
    },
  },
  props: {
    'event': {
        required: true
    },
    'guest': {
        required: true
    },
    'companions': { // Array of CompanionFormModel
        required: false,
        default: []
    }
  },
   components: {
    'load-box': LoadBox,
    'nominative-check': NominativeCheck,
    'mandatory-group-header': MandatoryGroupHeader
  }
})
export default NominativeSessionsForm
</script>

<style type="scss" scoped>
    .session-group-title{
        color: white;
        background-color: #0D2C3D; /** from _variable.scss **/
        
        font-weight: bold;
    }
    .session-group-title td {
        border-color: #0D2C3D !important; /** from _variable.scss **/
        padding: 5px 10px;
        border-top-width: 1px;
        border-top-style: solid;

        background-color: #0D2C3D; /** from _variable.scss **/
    }
    .session-group-line th{
        padding-left: 10px;
        border-left-width: 20px;
        border-left-color: #0D2C3D; /** from _variable.scss **/
    }

    .session-group-foot{
        background-color: #0D2C3D; /** from _variable.scss **/
    }

    .session-group-foot td{
        height: 8px;
        font-size: 1px;
        overflow: hidden;
        border-color: #0D2C3D; /** from _variable.scss **/
        border-left-width: 20px;
        border-right-width: 20px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    .session-group-line td:last-child{
        border-right-width: 20px;
        border-right-color: #0D2C3D; /** from _variable.scss **/
    }

    .table-nominative-sessions {
        overflow: hidden;
        background-color: white;
    }
    .big-checkbox{
        width: 16px;
        height: 16px;
    }
    .session-group-element{
        border-bottom: 1px solid #f2f2f2 !important;
    }

    .badge-light {
        color: #212529;
        background-color: #f8f9fa;
    }

    .margin-tb-5{
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
