<template>
    <section class="session-box">
        <div class="session-content">
            <h1>{{ session.name }}</h1>
            <p>
                {{ $t('sessionSelect.PlacesRemaining') }}: {{ placesRemaining }} / {{ session.places }}
                <span class="label label-danger" v-if="placesRemaining < 1">{{ $t('sessionSelect.Full') }}</span>
            </p>
        </div>

        <div v-if="!multipleSubscribe" class="session-ctrl session-ctrl-clickable" @click="onSelect()">
            <div class="session-ctrl-group">
                <div class="session-ctrl-middle">
                    <i class="session-check fa"
                        :class="{
                            'fa-check-square' : this.places > 0,
                            'fa-square' : this.places <= 0,
                            'disable-check': !canCheck
                        }"
                        :data-test="'session-' + session.id + '-check-btn'"
                    aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <div v-if="multipleSubscribe" class="session-ctrl session-ctrl-multiple">
            <div class="session-ctrl-group">
                <button class="session-action-top" @click="onInc()" :disabled="!canInc" :data-test="'session-' + session.id + '-plus-btn'">+</button>
                <div class="session-ctrl-middle" :data-test="'session-' + session.id + '-number'">
                    {{ this.places }}
                </div>
                <button class="session-action-bottom" @click="onDec()" :disabled="!canDec" :data-test="'session-' + session.id + '-minus-btn'">-</button>
            </div>
        </div>
    </section>
</template>

<script>

    import i18n from '../../tools/i18n'
    import { mapMutations, mapGetters } from 'vuex'

    /**
     * Sessions selectable element
     */
    const SessionSelect = Vue.extend({
        data () {
            return {
                locale: i18n.getLocale(),
                maxReached: false,
            }
        },
        computed: {
            alredySubscribeTo: function () {
                if(!this.subscribedByGuest || !this.subscribedByGuest[this.session.id]) return 0;

                return this.subscribedByGuest[this.session.id];
            },
            places: function () {
                if(!this.selectedSessionObjects[this.session.id]) return 0;
                return this.selectedSessionObjects[this.session.id].counter;
            },
            placesRemaining: function () {
                return this.session.places - this.session.placesReserved + this.alredySubscribeTo  - this.places;
            },
            availablePlaces:  function () {
                if(this.placesRemaining < (this.guestSubscriptions - this.places) ) 
                 return this.placesRemaining > 0
                else
                return  this.guestSubscriptions - this.places > 0;

                //return placeAvailable > 0;
            },
            canInc: function () {
                return !this.maxSubscriptionsReached && this.availablePlaces;
            },
            canDec: function () {
                return this.places - 1 >= 0
            },
            selected: function () {
                return this.places > 0;
            },
            canCheck: function(){
                return (!this.maxSubscriptionsReached && this.availablePlaces) || this.selected;
            },
            maxSubscriptionsReached: function () {
                if(this.groups.length > 0){
                    if(this.session.sessionGroup)
                    {
                        let group = this.session.sessionGroup;
                        
                        if(this.maximumCategoriesSubscriptions){
                            return this.groupsSelected >= this.maximumCategoriesSubscriptions &&
                                  (!this.selectedSessionPerGroup[this.session.sessionGroup.id] ||
                                  this.selectedSessionPerGroup[this.session.sessionGroup.id] < 1);
                        }

                        if(group.allowed_sessions)
                            return (group.allowed_sessions * this.guestSubscriptions) <= this.selectedSessionPerGroup[this.session.sessionGroup.id];
                    }

                    return false;
                }

                return this.maxSubscriptions != null  && this.selectedCounter >= this.maxSubscriptions* this.guestSubscriptions;
            },
            ...mapGetters('sessions', [
            'selectedCounter',
            'maxSubscriptions',
            'selectedSessionPerGroup',
            'selectedSessionObjects',
            'groups',
            'subscribedByGuest',
            'groupsSelected',
            'maximumCategoriesSubscriptions'
            ])
        },
        methods: {
            onSelect: function () {
                if(this.canCheck)
                {
                    if(this.selected){
                        this.removeSelectedSessions(this.session)
                    }else{
                        this.addSelectedSessions(this.session);
                    }
                }                
            },
            onInc: function () {
                if (this.canInc) {
                    this.addSelectedSessions(this.session);
                }
            },
            onDec: function () {
                if (this.canDec) {
                    this.removeSelectedSessions(this.session)
                }
            },
            ...mapMutations('sessions', [
            'addSelectedSessions',
            'removeSelectedSessions',
            ])
        },
        props: {
            'session': {
                required: true
            },
            'max-places': {
                required: true
            },
            'multiple-subscribe': {
                default: false,
                type: Boolean
            },
            'guest-subscriptions': {
                default: 1
            }
        }
    })
    export default SessionSelect
</script>

<style type="scss" scoped>
    .disable-check{
        color: lightgrey
    }
</style>
