<template>
  <section class="sessions-form">
    <load-box :visible="loading"></load-box>

    <div v-if="!loading && sessions.length > 0">
      <h3 class="flex-element"> 
        <span>{{ $t('subscribeForm.Sessions') }} <span v-if="mandatorySessions">*</span></span> 
       <span v-if="!hadGroups && maxSubscriptions" 
       class="badge badge-light pt-5px">{{ selectedCounter}} / {{ maxSubscriptions * maxPlaces}}</span>
      </h3>
      <p v-if="multipleSubscribe" class="text-right text-muted">{{ $t('sessionForm.ReservedPlaces') }}</p>
      <session-select v-for="session in sessionsWithoutGroups"
        class="sessions-select"
        :key="session.id"
        :session="session"
        :places="getPlacesCounterBySession(session.id)"
        :multiple-subscribe="multipleSubscribe"
        :max-places="maxPlaces"
        :guest-subscriptions="maxPlaces">
      </session-select>

      <section class="panel panel-primary"
        v-for="sessionGroup in sessionGroups" :key="sessionGroup.id">

        <div class="panel-heading">
          {{ sessionGroup.name }}
          <span class="badge badge-default pull-right"> 
            {{ selectedSessionPerGroup[sessionGroup.id] != null ?  selectedSessionPerGroup[sessionGroup.id]  : 0 }}
             <template v-if="sessionGroup.allowed_sessions">/ {{ sessionGroup.allowed_sessions * maxPlaces }}</template>  
            </span>
        </div>
        <div class="panel-body">
          <div v-if="sessionGroup.mandatory  && (selectedSessionPerGroup[sessionGroup.id] < 1 || selectedSessionPerGroup[sessionGroup.id] == null)" class="alert alert-danger mt-1">
            {{ $t('sessionForm.mandatory_session_group_alert')}}
          </div>

          <session-select v-for="session in sessionGroup.sessions"
            class="sessions-select"
            :key="session.id"
            :session="session"
            :places="getPlacesCounterBySession(session.id)"
            :multiple-subscribe="multipleSubscribe"
            :max-places="calculatedMaxPlaces(sessionGroup, session)"
            :guest-subscriptions="maxPlaces">
          </session-select>

          <div v-if="!hadGroups && mandatorySessions && selectedCounter < 1" class="alert alert-danger margin-tb-5">
            {{$t('sessionForm.mandatory_subscription')}}
          </div>

          <div v-if="!hadGroups && maxSubscriptionsReached" class="alert alert-warning">
            {{$t('sessionForm.allowed_sessions_reached')}}
          </div>
        </div>
      </section>

    </div>
  </section>
</template>

<script>
import SessionService from '../../services/SessionService'
import EventService from '../../services/EventService'
import GuestService from '../../services/GuestService'
import EventBus from '../../tools/EventBus'
import LoadBox from '../../components/LoadBox'
import SessionSelect from './SessionSelect'

import { mapMutations, mapGetters } from 'vuex'

/**
* Sessions Form display
* The user can subscribe to a session from here
*/
const SessionsForm = Vue.extend({
  data () {
    return {
      sessions: [],
      selectedSessions: {},
      companions: 0,
      emptyPlaces: 0,
      loading: true
    }
  },
  mounted() {
    this.retrieveSessions()

    EventBus.$on('REFRESH_SESSIONS', () => {
      this.retrieveSessions()
    })
  },
  computed: {
    sessionGroups: function() {
      return SessionService.regroupBySessionGroup(this.sessions)
    },
    sessionsWithoutGroups: function() {
      return this.sessions.filter((s) => {
        return s.sessionGroup == null
      })
    },
      maxSubscriptionsReached: function () {
          return this.maxSubscriptions && this.selectedCounter >= this.maxSubscriptions;
      },
    ...mapGetters('sessions', [
      'selectedCounter',
      'mandatorySessions',
      'maxSubscriptions',
      'selectedSessionPerGroup',
      'selectedSessionObjects',
      'groups'
    ]),
    hadGroups: function () {
      return this.groups.length > 0;
    }
  },
  methods: {
    selectedPlacesInSessionGroup: function(group) {
      return this.selectedSessionPerGroup[group.id] != null ?
        this.selectedSessionPerGroup[group.id] : 0;
    },
    getPlacesCounterBySession(sessionId){
      return this.selectedSessionObjects[sessionId] ? this.selectedSessionObjects[sessionId].counter : 0
    },
    retrieveSessions: function() {
      this.loading = true
      SessionService.retrieve(this.eventId, this.guestHash).then((sessions) => {
        this.sessions = sessions

        // set default all to 0
        for (let session of this.sessions) {
          this.$set(this.selectedSessions, session.id, 0)
          this.addSession(session);

          if(session.sessionGroup){
              this.setSelectedSessionGroup({groupId: session.sessionGroup.id, value: 0});
              }
        }

        if (this.guestId != null) {
          SessionService.retrieveOfGuest(this.guestId, this.guestHash).then((response) => {
            for (let session of response.data) {
              this.$set(this.selectedSessions, session.id, session.totalGuestPlaces)
              let loadedSession = this.sessions.find(s => s.id == session.id)
              this.setSelectedSessions({...loadedSession, ...{counter: session.totalGuestPlaces} });
            }
            //this.$emit('onSessionsChange', this.selectedSessions)
            this.loading = false
          }).catch((error) => {
            this.loading = false
            console.log(error)
            EventBus.$emit('SHOW_ERROR', this.$t('shared.UnknownErrorContactAdmin'))

            throw error // for sentry loging
          })
        }
        else {
          //this.$emit('onSessionsChange', this.selectedSessions)
          this.loading = false
        }

        for (let group of  this.sessionGroups) {          
              this.addGroup(group);
              if(group.mandatory)
                this.addMandatoryGroup(group);
        }

      }).catch((error) => {
        this.loading = false
        console.log(error)
        EventBus.$emit('SHOW_ERROR', this.$t('shared.UnknownErrorContactAdmin'))

        throw error // for sentry loging
      })
    },
    calculatedMaxPlaces: function(sessionGroup, session){
      let allowed = sessionGroup.allowed_sessions!=null ? sessionGroup.allowed_sessions : 1
      let max = this.maxPlaces * allowed;
      return max - this.selectedPlacesInSessionGroup(sessionGroup) + this.selectedSessions[session.id];
    },
    ...mapMutations('sessions', [
            'setSelectedSessionGroup',
            'addMandatoryGroup',
            'addGroup',
            'setSelectedSessions',
            'addSession'
            ])
  },
  props: {
    'eventId': {
      required: true
    },
    'guestId': {},
    'guestHash': {},
    'multiple-subscribe': {
      default: false,
      type: Boolean
    },
    'max-places': {
      required: true
    }
  },
  components: {
    'load-box': LoadBox,
    'session-select': SessionSelect
  }
})
export default SessionsForm
</script>

<style type="scss" scoped>
  h3 {
    margin: 0;
  }
  .sessions-select{
    margin-top: 10px;
  }

  .flex-element {
     display: flex;
     justify-content: space-between;
   }

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.margin-tb-5{
  margin-top: 5px;
  margin-bottom: 5px;
}

.pt-5px {
  padding-top: 5px;
}
</style>
