<template>
    <div>
        <h1 class="item-selector-title">{{ $t('checkin.EventSelect.Title') }}</h1>
        <single-item-selector 
            :label="label"
            :editable="adminMode"
            :disabled="freezeScan"
            v-on:edit="showSelectEvents()">
        </single-item-selector>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import SingleItemSelector from '../components/SingleItemSelector.vue'

    const EventSelect = Vue.extend({
        computed: {
            ...mapGetters({
                event: 'checkin/event',
                adminMode: 'checkin/adminMode',
                freezeScan: 'checkin/freezeScan'
            }),
            label: function() {
                return this.event != null ? this.event.name : this.$t('checkin.EventSelect.NoChoosenEvent')
            }
        },
        methods: {
            ...mapActions({
                showSelectEvents: 'checkin/showSelectEvents'
            })
        },
        components: {
            'single-item-selector': SingleItemSelector
        }
    })
    export default EventSelect
</script>

<style type="scss" scoped>
</style>
