<template>
    <item-choose-modal
        :show="showModal"
        :title="$t('checkin.EventSelectModal.Title')"
        :loading="isEventsLoading"
        :items="events"
        v-on:cancel="hideModal()"
        v-on:select="selectEvent">
    </item-choose-modal>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import ItemChooseModal from '../components/ItemChooseModal.vue'

    const EventSelectModal = Vue.extend({
        computed: {
            ...mapGetters({
                showModal: 'checkin/showSelectEvent',
                isEventsLoading: 'checkin/isEventsLoading',
                events: 'checkin/events',
                freezeScan: 'checkin/freezeScan'
            })
        },
        mounted() {
            this.getEvents()
        },
        methods: {
            ...mapActions({
                hideModal: 'checkin/hideSelectEvents',
                selectEvent: 'checkin/selectEvent',
                getEvents: 'checkin/getEvents',
                getSessions: 'checkin/getSessions'
            })
        },
        components: {
            'item-choose-modal': ItemChooseModal
        }
    })
    export default EventSelectModal
</script>

<style type="scss" scoped>
</style>
