<template>
    <transition name="fade">
      <div v-if="checkin" class="alert-unobsctructive-box toast">
          <div class="alert alert-unobstructive alert-info">
            <p class="text-center">
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </p>
          </div>
      </div>
    </transition>
</template>

<script>
    import { mapGetters } from 'vuex'

    const GuestCheckinLoadingToast = Vue.extend({
        computed: {
            ...mapGetters({
                checkin: 'checkin/isCheckinGuest'
            })
        }
    })

    export default GuestCheckinLoadingToast
</script>

<style type="scss" scoped>
</style>
