<template>
    <toast :message="message" :type="type"></toast>
</template>

<script>
    import Toast from '../components/Toast'

    import { mapGetters, mapActions } from 'vuex'

    import ErrorParser from '../../tools/ErrorParser'

    const GuestCheckinToast = Vue.extend({
        data () {
            return {
                successGuest: null,
                error: null,
                messageTimer: null
            }
        },
        components: {
            'toast': Toast
        },
        computed: {
            ...mapGetters({
                checkinStatusSuccess: 'checkin/checkinStatusSuccess',
                checkinStatusError: 'checkin/checkinStatusError',
                freezeScan: 'checkin/freezeScan'
            }),
            message: function() {
              if (this.error != null) {
                return this.error
              }
              return this.successGuest
            },
            type: function () {
              if (this.error != null) {
                return 'danger'
              }
              return 'success'
            }
        },
        watch: {
          freezeScan (newVal, old) {
            if (!newVal) {
              this.error = null
            }
          },
          checkinStatusError (nError, old) {
            if (nError != null) {
              let alwaysDisplay = false;
              if(ErrorParser.is409(nError)) {
                this.error = this.$t('checkin.GuestCheckinToast.AllreadyChecked')
              }
              else if(ErrorParser.is404(nError) && nError.response.data != null && nError.response.data.data != null) {
                this.error = this.$t('checkin.GuestCheckinToast.NoPlaceReserved')
              }
              else if(ErrorParser.is404(nError)) {
                this.error = this.$t('checkin.GuestCheckinToast.TicketNotValid')
                alwaysDisplay = true
              }
              else {
                this.error = this.$t('checkin.GuestCheckinToast.UnknownError')
                alwaysDisplay = true

                throw nError // for sentry loging
              }

              clearTimeout(this.messageTimer)

              if (!alwaysDisplay) {
                this.messageTimer = setTimeout(() => {
                  this.error = null
                }, 5000)
              }
            }
            else {
              this.error = null
            }
          },
          checkinStatusSuccess (n, old) {
            if (n != null) {
              this.error = null
              this.successGuest = this.$t('checkin.GuestCheckinToast.ValidatedEntry')
              clearTimeout(this.messageTimer)
              this.messageTimer = setTimeout(() => {
                this.successGuest = null
              }, 5000)
            }
            else {
              this.successGuest = null
            }
          }
        },
        methods: {
            ...mapActions({
                checkinGuest: 'checkin/checkinGuest'
            })
        }
    })

    export default GuestCheckinToast
</script>

<style type="scss" scoped>
</style>
