<template>
    <section>
      <div v-if="event == null">
        <p class="text-center">{{ $t('checkin.GuestLastCheckin.PleaseSelectEvent') }}</p>
      </div>

      <div v-if="lastCheckin == null && event != null">
        <p class="text-center">{{ $t('checkin.GuestLastCheckin.PleasePlaceQrCodeInScanningArea') }}</p>
      </div>
      
      <div v-if="lastCheckin != null && event != null">
        <guest-quick-infos-table :data="lastCheckin" :type="lastCheckinType"></guest-quick-infos-table>
      </div>
    </section>
</template>

<script>
    import GuestQuickInfosTable from '../components/GuestQuickInfosTable.vue'
    import { mapGetters, mapActions } from 'vuex'

    const GuestLastCheckin = Vue.extend({
        components: {
          'guest-quick-infos-table': GuestQuickInfosTable
        },
        computed: {
            ...mapGetters({
                lastCheckin: 'checkin/lastCheckin',
                lastCheckinType: 'checkin/lastCheckinType',
                event: 'checkin/event'
            })
        },
        methods: {
            ...mapActions({
                cancelCheckinGuest: 'checkin/cancelCheckinGuest'
            })
        }
    })

    export default GuestLastCheckin
</script>

<style type="scss" scoped>
</style>
