<template>
    <button class="btn btn-primary btn-block"
      v-if="freezeScan"
      @click="unfreezeScan()">
      {{ $t('checkin.GuestUnFreezeScanning.RestartScanning') }}
    </button>
</template>

<script>
    import EventBus from '../../tools/EventBus'
    import { mapGetters, mapActions } from 'vuex'

    const GuestUnFreezeScanning = Vue.extend({
        computed: {
            ...mapGetters({
                freezeScan: 'checkin/freezeScan'
            })
        },
        methods: {
            ...mapActions({
                unfreezeScan: 'checkin/unfreezeScan'
            })
        }
    })

    export default GuestUnFreezeScanning
</script>

<style type="scss" scoped>
</style>
