<template>
    <div class="qr-code-scanner-container">
        <qr-code-stream class="qr-scanner" :class="{ 'qr-scanner-flicker': freezeScan || isCheckinGuest }" 
            @decode="onDecode"
            @init="onInit"
            :paused="freezeScan || stopScan"></qr-code-stream>
    </div>
</template>

<script>
    import { QrcodeStream } from 'vue-qrcode-reader'

    import { mapGetters, mapActions } from 'vuex'

    import ServerConfig from '../../config/server'

    const GuestQrCodeScanner = Vue.extend({
        computed: {
            ...mapGetters({
                isCheckinGuest: 'checkin/isCheckinGuest',
                freezeScan: 'checkin/freezeScan'
            })
        },
        data() {
            return {
                stopScan: false,
                inited: false
            }
        },
        watch: {
            isCheckinGuest: function(value) {
                if(!value) {
                    this.stopScan = false
                }
            },
            inited: function(value) {
                if(value) {
                    this.initScan()
                }
            }
        },
        methods: {
            ...mapActions({
                checkinGuest: 'checkin/checkinGuest',
                cameraError: 'checkin/cameraError',
                initScan: 'checkin/initScan',
                detectUnValidQrCode: 'checkin/detectUnValidQrCode',
            }),
            onDecode: function (decodedString) {
                if (decodedString.includes(ServerConfig.url)) { // only valid qr code
                    // this.emitPeep()
                    if(!this.isCheckinGuest) {
                        const splited = decodedString.split('/')
                        let hash = splited[splited.length-1]
                        console.log(hash)
                        console.log(splited)

                        this.checkinGuest(hash)
                    }
                    else {
                        this.stopScan = true // stop scanning to avoid multiple unsync api calls
                    }
                }
                else {
                    this.detectUnValidQrCode()
                }
            },
            onInit: function (promise) {

                promise.then(res => {
                    this.inited = true
                }).catch((error) => {
                    console.error(error)
                    this.cameraError(error)
                })
                
            }
        },
        components: {
            'qr-code-stream': QrcodeStream
        }
    })

    export default GuestQrCodeScanner
</script>

<style type="scss" scoped>
    .qr-scanner {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .qr-code-scanner-container{
        height: 100%;
        width: 100%;
        position: relative;
        vertical-align: middle;
        text-align: center;
        display: table;
    }
    .qr-scanner-flicker {
        opacity: 0.5;
    }
</style>
