<template>
    <button class="btn btn-danger btn-block"
      v-if="lastCheckin != null && !freezeScan"
      @click="onCancelLastCheckin">
      {{ $t('checkin.GuestCancelLastCheckin.CancelCheckin') }}
    </button>
</template>

<script>
    import EventBus from '../../tools/EventBus'
    import { mapGetters, mapActions } from 'vuex'

    const GuestCancelLastCheckin = Vue.extend({
        computed: {
            ...mapGetters({
                lastCheckin: 'checkin/lastCheckin',
                freezeScan: 'checkin/freezeScan'
            })
        },
        methods: {
            ...mapActions({
                cancelCheckinGuest: 'checkin/cancelCheckinGuest'
            }),
            onCancelLastCheckin: function() {
              EventBus.$emit('SHOW_CONFIRM_MODAL', {
                  title: this.$t('checkin.GuestCancelLastCheckin.ConfirmModalTitle'),
                  message: this.$t('checkin.GuestCancelLastCheckin.ConfirmModalMessage'),
                  btnCancelLabel: this.$t('shared.Cancel'),
                  btnOKLabel: this.$t('shared.Confirm'),
                  callbackOK: () => {
                      console.log('OK')
                      this.cancelCheckinGuest()
                  }, 
                  callbackCancel: () => {
                      console.log('CANCEL')
                  }
              })
            }
        }
    })

    export default GuestCancelLastCheckin
</script>

<style type="scss" scoped>
</style>
