<template>
    <div class="no-camera-lock" v-if="noCamera">
        <p><i class="fa fa-exclamation-triangle fa-fw"></i> {{ $t('checkin.NoCameraLock.NoCameraFound') }}</p>
    </div>
</template>

<script>
    import { mapGetters} from 'vuex'

    const NoCameraLock = Vue.extend({
        computed: {
            ...mapGetters({
                noCamera: 'checkin/hasNoCamera',
            })
        }
    })
    export default NoCameraLock
</script>

<style type="scss" scoped>
    .no-camera-lock{
        background-color: rgba(13, 44, 61, 0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10000;
    }

    .no-camera-lock p{
        color: white;
        margin: 50px;
    }
</style>
