<template>
    <div class="scan-status">
        <template v-if="!freezeScan && !isCheckinGuest && inited">
            <p v-if="!unValidQrCode"><i class="fa fa-circle" aria-hidden="true"></i> {{ $t('checkin.GuestQrCodeScanner.ScanActive') }}</p>
            <p v-else><i class="fa fa-circle" aria-hidden="true"></i> {{ $t('checkin.GuestQrCodeScanner.ScanActivePresentValid') }}</p>
        </template>
        <template v-else>
            <p v-if="!unValidQrCode"><i class="fa fa-pause" aria-hidden="true"></i> {{ $t('checkin.GuestQrCodeScanner.ScanFreezed') }}</p>
        </template>
    </div>
</template>

<script>
    import { QrcodeStream } from 'vue-qrcode-reader'

    import { mapGetters, mapActions } from 'vuex'

    import ServerConfig from '../../config/server'

    const ScanStatusBadge = Vue.extend({
        computed: {
            ...mapGetters({
                isCheckinGuest: 'checkin/isCheckinGuest',
                freezeScan: 'checkin/freezeScan',
                inited: 'checkin/scanInited',
                unValidQrCode: 'checkin/unValidQrCode'
            })
        }
    })

    export default ScanStatusBadge
</script>

<style type="scss" scoped>
    .scan-status {
        padding: 5px;
        color: white;
        text-shadow: 0px 0px 1px rgba(0,0,0,1);
    }

    @keyframes flickerAnimation {
        0%   { opacity:1; }
        50%  { opacity:0.2; }
        100% { opacity:1; }
    }
    @-o-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.2; }
        100% { opacity:1; }
    }
    @-moz-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.2; }
        100% { opacity:1; }
    }
    @-webkit-keyframes flickerAnimation{
        0%   { opacity:1; }
        50%  { opacity:0.2; }
        100% { opacity:1; }
    }

    .fa-circle{
        color: red;
        -webkit-animation: flickerAnimation 2s infinite;
        -moz-animation: flickerAnimation 2s infinite;
        -o-animation: flickerAnimation 2s infinite;
        animation: flickerAnimation 2s infinite;
    }

    .qr-scanner-flicker {
        opacity: 0.5;
    }
</style>
