<template>
    <div>
        <h1 class="item-selector-title">{{ $t('checkin.SessionSelect.Title') }}</h1>
        <single-item-selector 
            :label="label"
            :editable="true"
            :disabled="!isEventSelected || freezeScan"
            v-on:edit="showSelectSessions()">
        </single-item-selector>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import SingleItemSelector from '../components/SingleItemSelector.vue'

    const SessionSelect = Vue.extend({
        computed: {
            ...mapGetters({
                session: 'checkin/session',
                isEventSelected: 'checkin/isEventSelected',
                freezeScan: 'checkin/freezeScan'
            }),
            label: function() {
                return this.session != null ? this.session.name : this.$t('checkin.SessionSelect.MainDoor')
            }
        },
        methods: {
            ...mapActions({
                showSelectSessions: 'checkin/showSelectSessions'
            })
        },
        components: {
            'single-item-selector': SingleItemSelector
        }
    })
    export default SessionSelect
</script>

<style type="scss" scoped>
</style>
