<template>
    <item-choose-modal
        :show="showModal"
        :title="$t('checkin.SessionSelectModal.Title')"
        :loading="isSessionsLoading"
        :items="allSessions"
        v-on:cancel="hideModal()"
        v-on:select="chooseSession">
    </item-choose-modal>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    import ItemChooseModal from '../components/ItemChooseModal.vue'

    const SessionSelectModal = Vue.extend({
        computed: {
            ...mapGetters({
                showModal: 'checkin/showSelectSession',
                isSessionsLoading: 'checkin/isSessionsLoading',
                sessions: 'checkin/sessions'
            }),
            allSessions: function() {
                return [{
                    id: -1,
                    name: this.$t('checkin.SessionSelect.MainDoor')
                }].concat(this.sessions)
            }
        },
        methods: {
            ...mapActions({
                hideModal: 'checkin/hideSelectSessions',
                selectSession: 'checkin/selectSession'
            }),
            chooseSession: function(session) {
                if (session.id === -1) {
                    this.selectSession(null)
                }
                else {
                    this.selectSession(session)
                }
            }
        },
        components: {
            'item-choose-modal': ItemChooseModal
        }
    })
    export default SessionSelectModal
</script>

<style type="scss" scoped>
</style>
