<template>
    <section>
        <div class="text-center">
            <i v-if="isLoading" class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <p v-if="!isLoading && !noForm && questions.length == 0">{{ $t('surveyFormResult.NoResponsesToShow') }}</p>
            <p v-if="noForm">{{ $t('surveyFormResult.MissingForm') }}</p>
        </div>
        <div class="row" v-for="cQuestions in questions" :key="cQuestions">
            <div class="col-md-3" v-for="question in cQuestions" :key="question.id">
                
                <div class="panel panel-default">
                    <div class="panel-heading">{{ question.label }}</div>

                    <table class="table">
                        <tbody>
                            <tr v-for="(value, key) in question.responses" :key="key">
                                <th>{{ key }}</th>
                                <td>{{ value }}</td>
                                <td>{{ percentValue(question, value) }}%</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel-body">
                        <span class="badge">{{ question.type }}</span>
                        <survey-result-pie :question="question"></survey-result-pie>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
import SurveyFormService from '../../services/SurveyFormService'
import EventBus from '../../tools/EventBus'

import SurveyResultPie from './SurveyResultPie'

const SurveyFormResults = Vue.extend({
    data () {
        return {
            event: null,
            questions: null,
            isLoading: true,
            noForm: null
        }
    },
    methods: {
        percentValue: function(question, value){
            console.log(question.responses)

            let sum = 0
            for(let key in question.responses){
                sum += question.responses[key]
            }
            return Math.round((value / sum) * 100)
        }
    },
    beforeCreate: function() {
    },
    created: function() {
        this.event = JSON.parse($('#json-event-infos').html())
        console.log(this.event)

        SurveyFormService.results(this.event.id).then((response) => {
            this.questions = chunk(response.data, 4) // 4 by 4
            this.isLoading = false
            console.log( this.questions)
        }).catch((error) => {
            this.noForm = true
            this.questions = []
            this.isLoading = false
        })
    },
    components: {
        'survey-result-pie': SurveyResultPie
    }

})
export default SurveyFormResults
</script>

<style type="scss" scoped>
    .question{
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0px;
    }
</style>
