@mixin round-borders() {
    border-radius: 4px;
    border: 1px solid #e6e5e5;
    padding: 15px;
}

@mixin box-shadows() {
    webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}