@import "variables";

.item-selector-title{
    background-color: $color_1_primary;
    color: white;
    text-align: center;
    font-size: 1.2rem !important;
    margin: 0;
    padding: 5px;
}

.alert-unobsctructive-box.toast{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 0 10px;
}

.qrcode-stream__inner-wrapper video{
    margin-left: auto;
    margin-right: auto;
}