
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// for minisite & TinyMCE
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import "variables";

// Mixins
@import "mixins";

// Extends
@import "extends";

// Stand alone apps
@import "app-checkin";

// Plugin cusomization
@import "plugins/jsplus-tinymce";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";

.table-responsive > .table > tbody > .session-group-line {
    font-size: 0.8em;
}
.table-nominative-sessions {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;
}

.cell-nowrap{
    white-space:nowrap;
}


.table-fixed-height{
    height: 70vh !important;
}

.brand-logo{
    float: left;
}

// Maintenance message
.maintenance-message-title{
    font-size: 5em; font-weight: 800; position: relative; margin-top: 20%;
}


// Fix lang menu on mobile display
.dropdown-menu{
    min-width: auto;
    position: absolute !important;
    background-color: white !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;

    a{
        padding: 10px 25px 10px 25px !important;
    }
}

.dropdown-lang{
    .dropdown-menu {
        float: left !important;
        right: 0;
        left: auto;
    }
}

.big-icon{
    font-size: 18px;
}

.ticket-description{
    margin-top: 15px;
    width: 100% !important;
}

// Companions form tabs background
.tab-content{
    background: white;
    padding: 20px;
}

.radio label{
  margin-left: 15px;
}

.pagination{
    margin: 10px 0 !important;
}

.btn-secondary.active{
    background-color: #3a3a3a;
    color: white;
}

.control-label {
    padding-top: 0px !important;
}

.mb-2{
  margin-bottom: 150px;
}

.sv_row div .sv_qstn:first-child() div, .sv_row div .sv_qstn:first-child() div h5{
    padding-left: 0px !important;
}


// Forms (subscribe + survey)
// Forms space when two inputs on "same line"
.sv_row div .sv_qstn div, .sv_row div .sv_qstn div h5{
    padding-left: 15px !important;
}

// Form Editor
// Hide unwanted blocs in translation tab
.svd-translation-tab .svd_custom_select{
    display:none !important;
}

.svd-translation-tab .svd-language-select > div:nth-child(2){
    margin-left: 0 !important;
}

// Hide export buttons
/* .svd-translation-tab button{
    display:none !important;
}  */



//jobs style


//end jobs

.label-companion {
    background-color: $companion-color;
    color: white;
}

.label-guest {
    background-color: $guest-color;
    color: white;
}

#app-guest{
    .mobile-template-view .block-grid { // beefree
        width: auto !important;
    }
}

.input-group-inline {
    .form-control {
        display: inline-block;
        width: auto;
    }
    span {
        margin-left: 5px;
    }
}

.hidden-field-fishing-hook{ // for autocomplete issue
    opacity: 0;
    overflow: hidden;
    position: fixed;
    left: -1000px;
    top: -1000px;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0;
}

.btn-group-tabs{

}

.btn-right-divid{
    margin-right: 10px;
}

.alert-margin{
    margin: 10px;
}

.btn-primary:disabled, .btn-primary[disabled]{
    color: black !important;
    background-color: #a2a2a2 !important;
    cursor: not-allowed !important;

    &:hover {
        background-color: #a2a2a2 !important;
    }
}

.panel-body {
    .table {
        margin-bottom: 0px;
    }
}

.panel-collapsible{
    overflow: hidden;
    height: 0; // default value
}

.panel-config-collapsible{
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;

    h1 {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        font-size: 20px;

        border-color: #a2a2a2;
        border-width: 1px;
        border-bottom-style: solid;
    }

    .btn-collapsible-close{
        position: absolute;
        right: 15px;
        top: 10px;
        background-color:transparent;
    }
}

.panel-config-collapsible-minisite-templates{
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;

    h1 {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        font-size: 20px;

        border-color: #a2a2a2;
        border-width: 1px;
        border-bottom-style: solid;
    }

    .btn-collapsible-close{
        position: absolute;
        right: 15px;
        top: 10px;
        background-color:transparent;
    }
}

.edit-inline-template-form{
    margin-top: 10px;
}

.big-checkbox{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
}

.radio-inline{
    padding-left: 0px;
    padding-right: 26px;
}

.alert .fa{
  // margin-top: 15%;
}

.alert {
    .alert-icon{
        margin-top: -3px;
    }

    .adjusted-message{
        padding-left: 50px;
        margin-top: 0;

        p {
            margin: 0;
        }
    }

    .btn {
        margin-top: 10px;
    }
}

// Color picker
.vc-chrome{
    font-family: "Raleway", sans-serif !important;
}

// Survey JS
.svd_container .modal {
    z-index: 2000 !important;
}
.modal-tabs{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
td.form-group {
    display: table-cell !important;
}
#survey-container{
    .panel-body {
        padding: 0 !important;
    }
    .sv_qstn{
        padding: 0px 0px 7px 0px !important;

        .alert {
            padding: 5px 15px;
            margin: 0px 0px 10px 0px;
        }
    }
}

// FormBuilder hidden elements
.icon-hidden.input-control.input-control-2.ui-sortable-handle{
    display: none;
}

.className-wrap label, .className-wrap div{
    visibility: hidden !important;
}

.text-warning{
    color: #f1c40f !important;
}

.text-muted{
    color: #888 !important;
}


.minisite{
    margin-top: 50px;

    .minisite-footer-img{
        margin-bottom: 25px;
    }
}

.logo-full-top{
    margin: 30px 0 20px 0;
}


// Success and error messages box
.fixed-message-box{
    z-index: 9999;
}

.list-error-centered{
    list-style-type: none;
}


// Template
html{
    height: 100%;
}
#body-template-app{
    height: 100%;
    /*overflow-y: hidden;*/

    #app{
        height: 100%;
    }
}
.link-default{
    color: white;
    text-decoration: underline;

    &:hover{
        color: white;
    }
}

.alert-stack{
    margin-bottom: 0px !important;
}

.fixed-message-box {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.fixed-message-box#compatibility-box{
    .alert{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.alert-box{
    display: none;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.warning-on-company{
    text-align: center;
    background-color: $color_1_primary;
    color:white;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000;
}

.hidden-values{
    visibility: hidden;
    display: none;
}

.login-site-title{
    text-align: center;
    font-size: 5rem;
    margin: 50px 0;
}

.btn-ctrl-div{
    margin-top: 3px;
}

#site-header {
    border-color: $color_1_primary !important;
    padding-right: 20px;
    margin-bottom: 0;

    .active{
        background-color: $color_1_primary;
        color: white
    }
}

.navbar-brand{
    color: $color_1_primary !important;
    margin-left: 5px;
}

.nav-group {
    border-width: 1px;
    border-color: $color_2_accent_darker;
    border-top-style: solid;

    margin-top: 15px;
}

.checkbox-group{
    margin: 15px 0;

    .checkbox-group-title {
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: bold;
    }
}

.container-subscribe-form{
    max-width: 500px;
    min-width: 320px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

.companion-subscribe-form-page{
    margin-top: 50px;
}

.mobile-app-container{
    padding-bottom: 50px;
}

// Subscribe Form
.session-box {
    background-color: white;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #ccd0d2;
    padding: 20px;
    margin: 10px 0;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    h1 {
        font-size: 2rem;
        line-height: 2rem;
        padding: 0;
        margin: 0;
    }
}

.session-content {
    padding-right: 85px;

    p {
        margin: 0 !important;
    }
    h1 {
        margin-bottom: 10px !important;
    }
}

.session-ctrl {
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;

    background-color: #efefef;
}
.session-ctrl-clickable {
    cursor: pointer;

    &:hover {
        background-color: #cfcfcf;
    }
}

.session-ctrl-multiple {
    font-weight: bold;
}

.session-action-top, .session-action-bottom{
    border: none;
    position: absolute;
    width: 100%;
    height: 25px;
    left: 0;
    background-color: #0D2C3D;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.session-action-top:hover, .session-action-bottom:hover {
    background-color: rgb(8, 28, 39);
}
.session-action-top:disabled, .session-action-top[disabled],
.session-action-bottom:disabled, .session-action-bottom[disabled]{
    background-color: #cfcfcf !important;
    cursor: not-allowed;
}
.session-action-top {
    top: 0;
}
.session-action-bottom{
    bottom: 0;
}

.session-ctrl-group {
    height: 100%;
    display: table;
    width: 80px;
}
.session-ctrl-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.session-check{
    font-size: 3rem;
}

.container-full {
    padding: 0px;
    position: relative;

    height: 100%;

    &>.row{
        margin-right: 0px;
        margin-left: 0px;
        height: 100%;
    }

    .page-content-wrap {
        overflow: hidden;
    }
}

.head-bar-nav-info {
    background-color: $color_2_accent;
    border-bottom-color: $color_2_accent_darker;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 15px 20px;
    margin-left: 0;
    margin-right: 0;

    h1{
        color: $color_1_primary;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
    }
}

.left-sidebar{
    background-color: $color_2_accent;
    border-right-color: $color_2_accent_darker;
    border-right-width: 1px;
    border-right-style: solid;

    i{
        margin-right: 10px;
    }

    .active{
        background-color: $color_2_accent_darker_bg;
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: $color_1_primary;
        padding-left: 15px !important;
    }

    .panel{
        border-radius: none;
        border: none;
        background-color: $color_2_accent;

        margin: 0;
        .panel-body{
            padding: 0 !important;
            margin: 0;

            ul li{
                border-width: 1px;
                border-color: $color_2_accent_darker;
                border-bottom-style: solid;
            }

            ul li a{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        box-shadow: none;
    }

    padding: 0;
    margin: 0;
}

.page-content{
    padding-top: 10px;
    overflow-y: scroll;
    height: 100%;

    &>.panel{
        border: none;
        box-shadow: none;

        .panel-heading{
            font-size: 1.6rem;
        }
    }
}

.page-content-full-width{
    padding: 0 !important;
    position: relative;
}

.column-form-label{
    margin-top: 10px;
}

.inline-badge-card{
    @extend %panel;
    display: inline-block;
    h1 {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 1.5rem;
    }
    .inline-badge-card-actions{
        display: inline-block;
        margin-left: 2rem;
    }
}

.alert-icon-title{
    display: table;
    .icon-left{
        width: 20px;
        display: table-cell;
        vertical-align: top;
    }
    .content-title{
        width: 100%;
        padding-left: 10px;
        vertical-align: middle;
        display: table-cell;
        font-weight: bold;
    }
    margin-bottom: 5px;
}


.btn-default.active{
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
}

.filter-row{
    background-color: $color_2_accent;
}

ul.alert li {
    list-style-type: none;
}

.btn-title-head {
    margin: 0 2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-top: 5px;
    height: 30px !important;
    margin: 0 2px;
    font-size: 0.75em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.fa-iconed{
    height: 34px;
    padding: 5px 15px;
}

.navbar-toggle{
    float: left;
    margin-left: 10px;
    margin-right: 0px;;
}


// Emails
.email-card{
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    display: inline-block;
    width: 350px;

    .email-icon{
        font-size:3em;
        text-align: center;
        color: white;

    }
    .email-icon-section{
        /*background-color: #efefef;*/
    }
    .email-content-section{
        padding: 10px;

        .btn, .btn-group{
            margin: 2px 0;
        }
    }

    h1{
        font-size: 1.2em;
        padding: 0 10px;
        font-weight: bold;
        margin: 0;
    }
}

.table-clickable{
    tbody tr:hover{
        cursor: pointer !important;
    }
}


// Minisite
.pages-table{
    margin-top: 10px;
}

// Controller Checkin
.panel-sessions-small{
    max-width: 400px;
    margin: 20px auto;
}

.navbar-checkin{
    margin: 0;

    .active a {
        background-color: $color_1_primary !important;
        color: white !important;
    }
}

.checkin-form-counter{
    margin: 10px 0 20px 0;
    input {
        max-width: 60px;
        display: inline-block;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.guest-places-reservations{
    max-width: 500px;
    margin: 20px auto;

    .guest-places{
        background-color: #efefef;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        p{
            margin: 0;
        }
        h1{
            margin: 5px 0 0 0;
        }
    }
}

.table-input-number {
    width: 50px;
    font-size: 12px;
    padding: 0;
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

// Modals
.custom-modal{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 60px;
    z-index: 1000;

    overflow-y: scroll;

    background-color: rgba(0,0,0, 0.5);
}

// Tablet
@media screen and (max-width: $screen-md) {
    .left-sidebar{
        //display: none;
        height: auto;
        overflow: hidden;
    }

    .text-link{
        display: none;
    }

    .icon-navbar{
        .navbar-header {
            float: right;
            margin-right: 10px;
        }
        .navbar-nav {
            float: right;
            margin: 0;
        }
        .nav>li {
            float: right;
        }
        a{
            padding-top: 13px !important;
            height: 50px;
        }
    }

    .navbar-header {
        float: left;
    }

    .only-desktop{
        display:none !important;
    }
}

// Template rendering
.mobile-template-view{
    width: 380px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 100px 15px;
    border-color: #3f3f3f;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    margin-bottom: 50px;

    iframe{
        border-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

// Desktop
@media screen and (min-width: $screen-md) {
    .left-sidebar.col-md-2{
        width: 16.66666667% !important;
    }

    #app-left-sidebar{
        height: 100% !important;
    }

    .only-mobile{
        display: none !important;
    }
}

@media screen and (max-width: $screen-md) {
    .navbar-toggle {
        display: block !important;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .collapse.in {
  		display: block !important;
    }
    #site-header {
        padding: 0 !important;
    }
    .nav > li > a {
        padding: 13px 12px !important;
    }
    #compatibility-box{
        opacity: 0.9;
    }
}

@media (max-width: 990px) {
    .text-sm-center {
        text-align: center;
    } 
}

// VueJS Animations

.fade-enter-active {
    transition: all .2s ease;
}
.fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}
