<template>
  <div id="survey-container">
    <section v-if="!alreadyFilledSurvey">

      <load-box :visible="!surveyLoaded || loading"></load-box>

      <div v-if="canFillSurvey || demoSurvey">

        <div v-if="surveyLoaded" v-show="!loading">
          <div v-if="survey">
            <survey :survey="survey"></survey>
          </div>
          <button class="btn btn-primary btn-block" v-if="!filledSurvey" @click="onSubmit">
            <i v-if="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            <span v-else>{{ submitText }}</span>
          </button>
        </div>
      </div>

      <div v-if="!canFillSurvey && !demoSurvey && !loading">
        <div class="alert alert-info">
          <div class="pull-left alert-icon"><i class="fa fa-info-circle fa-fw fa-2x"></i>
        </div>
        <div class="adjusted-message">
          {{ $t('surveyForm.PleaseAuthToAnswearSurvey') }}
          </div>
        </div>
      </div>
    </section>

    <div v-if="canFillSurvey && alreadyFilledSurvey">
      <div class="alert alert-info">
        <div class="pull-left alert-icon"><i class="fa fa-info-circle fa-fw fa-2x"></i>
      </div>
      <div class="adjusted-message">
        {{ $t('surveyForm.AlreadyFilled') }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import LoadBox from '../components/LoadBox'

import SurveyFormService from "../services/SurveyFormService"
import GuestService from "../services/GuestService"

import EventService from "../services/EventService"

import * as SurveyVue from "survey-vue"

import Tools from "../standalone-pages-tools"
import i18n from "../tools/i18n"
import SurveyJsUtils from '../tools/SurveyJsUtils'
import UrlUtils from '../tools/UrlUtils'

export default {
  name: "advanced-subscribe-form",
  data() {
    return {
      eventId: null,
      canFillSurvey: null,
      demoSurvey: null,
      alreadyFilledSurvey: null,
      event: null, // API called
      guest: null, // from DOM value
      survey: null, // API called
      locale: null, // from DOM value
      loading: false,
      surveyLoaded: false,
      filledSurvey: false,
      submitText: "",
      surveyOptions: {
        showNavigationButtons: false,
        showQuestionNumbers: "off"
      }
    }
  },
  computed: {
    guestId: function() {
      if (this.guest == null) {
        return null
      } else {
        return this.guest.id
      }
    },
    guestHash: function() {
      let hash = this.guest == null ? null : this.guest.accessHash
      if (hash == null) {
        hash = UrlUtils.retrieveMinisiteHash()
      }
      return hash
    }
  },
  mounted() {
    // Getting informations from DOM
    this.submitText = $('#json-survey-form-submit-text').html()
    this.eventId = parseInt($("#json-event-id").html())
    this.guest = $("#json-guest-infos").length > 0 ? JSON.parse($("#json-guest-infos").html()) : null
    this.locale = $('#json-language').html()

    // Define if we can send the form or not
    this.canFillSurvey = this.guest != null ? true : false
    this.alreadyFilledSurvey = this.canFillSurvey && this.guest.survey.length > 0 ? true : false
    this.loading = true

    EventService.retrieve(this.eventId, this.guestHash)
      .then(response => {
        this.loading = false
        this.event = response.data
        this.demoSurvey = document.URL.indexOf(this.event.survey_form_url) !== -1 // Comparing event demo survey URL and actual URL to know if demo
      })
      .catch(error => {
        EventBus.$emit("SHOW_ERROR", error)
        this.loading = false
      })

    // Getting existing survey template
    SurveyFormService.get(this.eventId, this.guestHash)
      .then(response => {
        SurveyVue.surveyLocalization.defaultLocale = response.data.advancedFormTemplate.locale
        // Setup surveyJS base properties
        SurveyVue.StylesManager.applyTheme("bootstrap") // Uses bootstrap theme
        this.survey = new SurveyVue.Model(response.data.advancedFormTemplate, this.surveyOptions) // Setup data
        this.survey.showNavigationButtons = false

        this.survey.onComplete.add((sender, options) => {
          this.onFormSave(sender.data) // Calling the method onFormSave from component
        })

        // Formatting HTML blocs to get titles as wanted
        SurveyJsUtils.translateHtmlBlocks(this.survey, this.locale, JSON.parse(response.data.advancedFormTemplate))

        this.survey.locale = this.locale
        this.surveyLoaded = true
      })
      .catch(error => {
        console.log("Error loading form. Error is " + error)
      })
  },
  methods: {
    onFormSave: function(data) {
      if (this.demoSurvey) {
        return
      }

      this.loading = true
      SurveyFormService.reply(
        this.eventId,
        this.guest.id,
        this.guestHash,
        this.formatJsonDataForUpdate(data)
      )
        .then(response => {
          this.loading = false
          Tools.displaySucess(i18n.getLocalTranslations().shared.ResponseSaved)
        })
        .catch(error => {
          this.loading = false
          if (error.response.status === 422) {
            let errors = "<ul>"

            for (let err in error.response.data) {
              errors += "<li>" + error.response.data[err] + "</li>"
            }

            errors += "</ul>"
            Tools.displayError(errors)
          } else {
            Tools.displayError(error.response.data.error)
          }
        })
    },
    formatJsonDataForUpdate: function(data) {
      let formattedData = {}
      formattedData.surveyFields = {}

      let surveyKeys = Object.keys(data)
      surveyKeys.forEach((key) => {
        var q = this.survey.getQuestionByName(key)
        var type = q.getType()
        var question = q.title
        formattedData.surveyFields[key] = this.generateInput(key, data[key], question, type)
      })

      return formattedData
    },
    generateInput(name, value, question, type) {
      return { name: name, value: value, label: question, type: type }
    },
    onSubmit: function() {
      this.filledSurvey = true
      this.survey.doComplete() // SurveyJS form completing managed by this.onFormSave method
    }
  },
  components: {
    'load-box': LoadBox
  }
}
</script>

<style scoped>
</style>
