.jsplus_ui_button {
    padding: 0.5rem 1rem;
}

.jsplus_bootstrap_editor_save {
    &:hover {
        background-color: $color_1_primary !important;
    }
}
.jsplus_bootstrap_editor_cancel {
    &:hover {
        background-color: $brand-danger !important;
    }
}

.jsplus_bootstrap_button_last[title="Row properties"],
.jsplus_ui_button_icon_color_color {
    display: none !important;
}

.jsplus_ui_button_icon_color_color[title="Fast upload an image"],
.jsplus_ui_button_icon_color_color[title="Change type of the column"],
.jsplus_ui_button_icon_color_color[title="Move the column left"],
.jsplus_ui_button_icon_color_color[title="Move the column right"],
.jsplus_ui_button_icon_color_color[title="Edit header"] {
    display: inline-block !important;
}

.jsplus_ui_button_icon_color_color[title="Move the row up"],
.jsplus_ui_button_icon_color_color[title="Move the row down"],
.jsplus_ui_button_icon_color_color[title="Delete the row"] {
    display: block !important;
}

#body-template-app[style="overflow:inherit !important;overflow-x:hidden !important;overflow-y:auto !important"] {
    .mce-floatpanel {
        .mce-menubar,
        .mce-btn[aria-label="Add a column"],
        .mce-btn[aria-label="Delete the column"],
        .mce-btn[aria-label="Move the column left"],
        .mce-btn[aria-label="Move the column right"],
        .mce-btn[aria-label="Move the column left"],
        .mce-btn[aria-label="Change type of the column"],
        .mce-btn[aria-label="Configure the column"],
        .mce-btn[aria-label="Insert/edit image"],
        {
            display: none !important;
        }
    }

    // Right click menu
    .mce-contextmenu.mce-container.mce-panel.mce-floatpanel.mce-menu.mce-menu-has-icons.mce-menu-align {
        display: none !important;
    }
}