<template>
    <div class="alert alert-info guests-list-remove">
      <div class="pull-left alert-icon">
        <i class="fa fa-info-circle fa-fw fa-2x"></i>
      </div>
      <div class="adjusted-message">
        <strong>{{ $t('jobs.JobVerificationAlreadyRunning') }}</strong><br/>
        {{ $t('jobs.JobVerificationAlreadyRunningMessage') }}<br/>
      </div>
    </div>
</template>

<script>
const GuestEmailVerificationJobRunning = Vue.extend({
})
export default GuestEmailVerificationJobRunning
</script>

<style type="scss" scoped>
</style>
