<template>
    <div class="custom-modal" v-if="show">
        <div class="modal-box" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="onClose">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="favoritesModalLabel">
                            {{ $t('guest.emailValidity.title') }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ $t('guest.emailValidity.icon') }}</th>
                                <th>{{ $t('guest.emailValidity.validity') }}</th>
                                <th>{{ $t('guest.emailValidity.description') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-warning text-center"><i class="fa fa-exclamation-triangle fa-fw"></i></td>
                                <td class="text-nowrap">{{ $t('guest.emailValidity.unverifiable.name') }}</td>
                                <td>{{ $t('guest.emailValidity.unverifiable.description') }}</td>
                            </tr>
                            <tr>
                                <td class="text-success text-center"><i class="fa fa-check-square fa-fw"></i></td>
                                <td class="text-nowrap">{{ $t('guest.emailValidity.valid.name') }}</td>
                                <td>{{ $t('guest.emailValidity.valid.description') }}</td>
                            </tr>
                            <tr>
                                <td class="text-danger text-center"><i class="fa fa-exclamation-triangle fa-fw"></i></td>
                                <td class="text-nowrap">{{ $t('guest.emailValidity.unvalid.name') }}</td>
                                <td>{{ $t('guest.emailValidity.unvalid.description') }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted text-center"><i class="text-muted fa fa-question-circle fa-fw"></i></td>
                                <td class="text-nowrap">{{ $t('guest.emailValidity.unverified.name') }}</td>
                                <td>{{ $t('guest.emailValidity.unverified.description') }}</td>
                            </tr>
                            <tr>
                                <td class="text-center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></td>
                                <td class="text-nowrap">{{ $t('guest.emailValidity.underAudit.name') }}</td>
                                <td>{{ $t('guest.emailValidity.underAudit.description') }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            v-on:click="onClose">{{ $t('shared.Close') }}
                        </button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
const GuestEmailValidityInfoModal = Vue.extend({
  props: {
    'show': {
      required: true,
      type: Boolean
    }
  },
  methods: {
      onClose() {
          this.$emit('close')
      }
  }
})
export default GuestEmailValidityInfoModal
</script>

<style type="scss" scoped>

</style>
