<template>
  <div class="btn-group">
      <button  type="button" class="btn btn-default btn-xs dropdown-toggle" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ $t('shared.Actions') }} <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li v-if="canUpdate">
          <a v-on:click="onEdit" href="#">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span> {{ $t('shared.Edit') }}</span>
          </a>
        </li>

        <li v-if="canDelete">
          <a v-on:click="onDelete" href="#">
            <span>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span> {{ $t('shared.Delete') }}</span>
            </span>
          </a>
        </li>

        <li role="separator" class="divider"></li>

        <template v-if="!isCompanion">
          <!-- guest specifics actions -->
          <li>
            <a v-bind:href="`/events/${event.id}/ticket/download/guest/${item.id}`" target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              <span> {{ $t('tickets.DownloadPDF') }}</span>
            </a>
          </li>
          <li v-if="item.subscribeFormUrl != null">
            <a v-bind:href="item.subscribeFormUrl" target="_blank">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <span target="_blank"> {{ $t('guest.subscribeFormAccess') }} </span>
            </a>
          </li>
          <li v-else class="disabled">
            <a href="#" data-toggle="tooltip" :title="$t('guest.subscribeFormAccessNotAvailable')">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <span target="_blank"> {{ $t('guest.subscribeFormAccessNotAvailable') }} </span>
            </a>
          </li>

        </template>

        <template v-else>
          <!-- companion specifics actions -->
          <li>
            <a v-bind:href="`/events/${event.id}/ticket/download/companion/${item.id}`" target="_blank">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              <span> {{ $t('tickets.DownloadPDF') }}</span>
            </a>
          </li>
          <li v-if="item.subscribeFormUrl != null">
            <a v-bind:href="item.subscribeFormUrl" target="_blank">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <span target="_blank"> {{ $t('companion.formAccess') }} </span>
            </a>
          </li>
          <li v-else class="disabled">
            <a href="#" data-toggle="tooltip" :title="$t('companion.formAccessNotAvailable')">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <span target="_blank"> {{ $t('companion.formAccessNotAvailable') }} </span>
            </a>
          </li>

        </template>
      </ul>
  </div>
</template>

<script>

const GuestTableRowActions = Vue.extend({
  props: {
    'item': {
      default: [],
      type: Object
    },
    'event': {
      required: true,
      type: Object
    },
    'isCompanion': { // not the same actions for companion and guest
      default: false,
      type: Boolean
    },
    'canUpdate': { // TODO
      default: true,
      type: Boolean
    },
    'canDelete': { // TODO
      default: true,
      type: Boolean
    }
  },
  methods: {
    onDelete: function () {
      this.$emit('delete')
    },
    onEdit: function() {
      this.$emit('edit')
    }
  }
})
export default GuestTableRowActions
</script>

<style type="scss" scoped>
  .guest-actions{
    padding-right: 25px !important;
  }
</style>
