<template>
    <thead>
        <tr>
            <th rowspan="2">
                <template v-if="selectionMode">
                    {{ $t('email.Send') }}
                </template>
                <template v-else>
                    &nbsp;
                </template>
            </th>

            <th rowspan="2" class="email-validity-head">
                {{ $t('guest.ValideMailAdress') }}
                <a href="#info-validity" @click="onAskEmailValidity">(?)</a>
            </th>
            <th rowspan="2" v-if="nominativeCompanions">{{ $t('guest.Type') }}</th>
            <th rowspan="2">{{ $t('guest.Invited') }}</th>
            <th rowspan="2">{{ $t('guest.Subscribed') }}</th>
            <th rowspan="2" v-if="!nominativeCompanions">{{ $t('guest.NbCompanions') }}</th>
            <th rowspan="2">{{ $t('guest.Checkin') }}</th>
            <th rowspan="2">{{ $t('guest.Declined') }}</th>

            <th colspan="5"
                class="table-header-group table-header-guest-group">{{ $t('guestIndex.columnHeaders.GuestComp') }}</th>
            <th colspan="4" v-if="nominativeCompanions"
                class="table-header-group table-header-main-guest-group">{{ $t('guestIndex.columnHeaders.MainGuest') }}</th>

            <th :colspan="extendedFields.length" v-if="extendedFields.length > 0"
                class="table-header-group table-header-extended-fields-group">{{ $t('guestIndex.columnHeaders.ExtendedFields') }}</th>
            <th :colspan="surveyFields.length" v-if="surveyFields.length > 0"
                class="table-header-group table-header-survey-fields-group">{{ $t('guestIndex.columnHeaders.SurveyFields') }}</th>
            <th :colspan="sessions.length" v-if="sessions.length > 0"
                class="table-header-group table-header-sessions-group">{{ $t('guest.SessionsReserved') }}</th>
            <th :colspan="sessions.length" v-if="sessions.length > 0"
                class="table-header-group table-header-sessions-checkin-group">{{ $t('guest.SessionsCheckin') }}</th>
        </tr>

        <tr>

            <!-- guest columns headers -->
            <th>{{ $t('guest.Firstname') }}</th>
            <th>{{ $t('guest.Lastname') }}</th>
            <th>{{ $t('guest.Email') }}</th>
            <th>{{ $t('guest.Company') }}</th>
            <th><i class="fa fa-language big-icon" aria-hidden="true"></i></th>

            <!-- Main guest columns headers -->
            <template v-if="nominativeCompanions">
                <th>{{ $t('guest.Firstname') }}</th>
                <th>{{ $t('guest.Lastname') }}</th>
                <th>{{ $t('guest.Email') }}</th>
                <th>{{ $t('guest.Company') }}</th>
            </template>

            <!-- Extended fields columns headers -->
            <template v-if="extendedFields != null && extendedFields.length > 0">
                <th v-for="field in extendedFields" :key="field" :data-test="field + '-guest-title-column-extended-field'">
                    <button class="btn btn-xs btn-danger"
                        @click="onRemoveExtField(field)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    {{ field }}
                </th>
            </template>

            <!-- Survey fields -->
            <template v-if="surveyFields != null && surveyFields.length > 0">
                <th v-for="field in surveyFields" :key="field">
                    {{ field }}
                </th>
            </template>

            <!-- Sessions -->
            <template v-if="sessions != null && sessions.length > 0">
                <th v-for="session in sessions" :key="'head-reserved-' + session.id">
                    {{ session.name }}
                </th>
            </template>

            <template v-if="sessions != null && sessions.length > 0">
                <th v-for="session in sessions" :key="'head-checkin-' + session.id">
                    {{ session.name }}
                </th>
            </template>

        </tr>

        <!-- Filters -->
        <tr class="filter-row">
            <th>
                <template v-if="selectionMode">
                    <button class="btn btn-xs btn-primary"
                        :disabled="selectAllLoading"
                        @click="selectAllGuests()">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-xs btn-default"
                        :disabled="selectAllLoading"
                        @click="unSelectAllGuests()">
                            <i class="fa fa-square" aria-hidden="true"></i>
                    </button>
                </template>
                <template v-else>
                    &nbsp;
                </template>
            </th>

            <!-- Guest status filter fields -->
            <th>
                <select :value="filters.valid_email" @change="filter('valid_email', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('guest.Valid') }}</option>
                    <option :value="0">{{ $t('guest.UnValid') }}</option>
                    <option :value="2">{{ $t('guest.Catchall') }}</option>
                    <option :value="3">{{ $t('guest.ToRetest') }}</option>
                </select>
            </th>
            <th v-if="nominativeCompanions">
                <select :value="filters.type" @change="filter('type', $event)">
                    <option :value="null">-</option>
                    <option value="guest">{{ $t('guest.Guest') }}</option>
                    <option value="companion">{{ $t('companion.Companion') }}</option>
                </select>
            </th>
            <th>
                <select :value="filters.invited" @change="filter('invited', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('shared.yes') }}</option>
                    <option :value="0">{{ $t('shared.no') }}</option>
                </select>
            </th>
            <th>
                <select :value="filters.subscribed" @change="filter('subscribed', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('shared.yes') }}</option>
                    <option :value="0">{{ $t('shared.no') }}</option>
                </select>
            </th>
            <th v-if="!nominativeCompanions">
                <select :value="filters.companions" @change="filter('companions', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('shared.yes') }}</option>
                    <option :value="0">{{ $t('shared.no') }}</option>
                </select>
            </th>
            <th>
                <select :value="filters.checkin" @change="filter('checkin', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('shared.yes') }}</option>
                    <option :value="0">{{ $t('shared.no') }}</option>
                </select>
            </th>
            <th>
                <select :value="filters.declined" @change="filter('declined', $event)">
                    <option :value="null">-</option>
                    <option :value="1">{{ $t('shared.yes') }}</option>
                    <option :value="0">{{ $t('shared.no') }}</option>
                </select>
            </th>

            <!-- Guest filter fields -->
            <th>
                <input type="text" :value="filters.firstname" @keyup="filter('firstname', $event)" data-test="firstname-guest-field-search">
            </th>
            <th>
                <input type="text" :value="filters.lastname" @keyup="filter('lastname', $event)" data-test="lastname-guest-field-search">
            </th>
            <th>
                <input type="text" :value="filters.email" @keyup="filter('email', $event)" data-test="email-guest-field-search">
            </th>
            <th>
                <input type="text" :value="filters.company" @keyup="filter('company', $event)" data-test="company-guest-field-search">
            </th>
            <th>
                <select :value="filters.language" @change="filter('language', $event)">
                    <option :value="null">-</option>
                    <option value="fr">{{ $t('shared.lang.fr') }}</option>
                    <option value="en">{{ $t('shared.lang.en') }}</option>
                    <option value="de">{{ $t('shared.lang.de') }}</option>
                </select>
            </th>

            <!-- Main Guest filter fields -->
            <template v-if="nominativeCompanions">
                <th>
                    <input type="text" :value="filters.mainGuest.firstname" @keyup="filterMainGuest('firstname', $event)">
                </th>
                <th>
                    <input type="text" :value="filters.mainGuest.lastname" @keyup="filterMainGuest('lastname', $event)">
                </th>
                <th>
                    <input type="text" :value="filters.mainGuest.email" @keyup="filterMainGuest('email', $event)">
                </th>
                <th>
                    <input type="text" :value="filters.mainGuest.company" @keyup="filterMainGuest('company', $event)">
                </th>
            </template>

            <!-- Extended fields filters -->
            <template v-if="extendedFields.length > 0">
                <th v-for="field in extendedFields" :key="field">
                    <input type="text" :value="filters.extendedFields[field]" @keyup="filterExtendedFields(field, $event)">
                </th>
            </template>

            <!-- Survey fields filters -->
            <template v-if="surveyFields.length > 0">
                <th v-for="field in surveyFields" :key="'survey-fields-' + field">
                    <input type="text" :value="filters.surveyFields[field]" @keyup="filterSurveyFields(field, $event)">
                </th>
            </template>

            <!-- Sessions filters -->
            <template v-if="sessions.length > 0">
                <th v-for="session in sessions" :key="'reserved-' + session.id">
                    <select :value="filters.sessions.subscribed[session.id]" @change="filterSubscribedSessions(session, $event)">
                        <option :value="null">-</option>
                        <option :value="true">{{ $t('shared.yes') }}</option>
                        <option :value="false">{{ $t('shared.no') }}</option>
                    </select>
                </th>
            </template>

            <template v-if="sessions.length > 0">
                <th v-for="session in sessions" :key="'checkin-' + session.id">
                    <select :value="filters.sessions.checkin[session.id]" @change="filterCheckinSessions(session, $event)">
                        <option :value="null">-</option>
                        <option :value="true">{{ $t('shared.yes') }}</option>
                        <option :value="false">{{ $t('shared.no') }}</option>
                    </select>
                </th>
            </template>

            <th class="chrome-messy-hidden-column">
                <input type="text" /> <!-- Workaround for Chrome autocomplete -->
            </th>
        </tr>
    </thead>
</template>

<script>

    /**
     * Guest table head filters
     *
     * @prop filters exemple:
     *      {
                firstname: null,
                lastname: null,
                email: null,
                company: null,
                invited: null,
                subscribed: null,
                declined: null,
                checkin: null,
                valid_email: null,
                language: null,
                pagination: 25,         // Number of results per page
                page: 1,                // Currently displayed results page
                extendedFields: {},     // Dynamically filled in _created_ method
                mainGuest: { // related guest of companion
                    firstname: null,
                    lastname: null,
                    email: null,
                    company: null
                },
                sessions: {} // id: nbPlaces
            },
     *
     */
    const GuestTableFilters = Vue.extend({
        props: {
            filters: { // selected filters
                required: true,
                type: Object
            },
            extendedFields: {
                required: true,
                type: Array
            },
            surveyFields: {
                required: true,
                type: Array
            },
            nominativeCompanions: {
                required: true,
                type: Boolean
            },
            sessions: {
                required: false,
                type: Array,
                default: () => []
            },
            selectionMode: {
                type: Boolean,
                default: false
            },
            selectAllLoading: {
                type: Boolean,
                default: false
            },
        },
        methods: {
            onAskEmailValidity: function() {
                this.$emit('askEmailValidity')
            },
            applyFilter: function(filters) {
                this.$emit('change', filters)
            },
            filter: function(field, event) {
                let changedFilters = {}
                changedFilters[field] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            filterMainGuest: function(field, event) {
                let changedFilters = {
                    mainGuest: this.filters.mainGuest
                }
                changedFilters.mainGuest[field] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            filterExtendedFields: function(field, event) {
                let changedFilters = {
                    extendedFields: this.filters.extendedFields
                }
                changedFilters.extendedFields[field] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            filterSurveyFields: function(field, event) {
                let changedFilters = {
                    surveyFields: this.filters.surveyFields
                }
                changedFilters.surveyFields[field] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            filterSubscribedSessions: function(session, event) {
                let changedFilters = {
                    sessions: {
                        subscribed: this.filters.sessions.subscribed,
                        checkin: this.filters.sessions.checkin
                    }
                }
                changedFilters.sessions.subscribed[session.id] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            filterCheckinSessions: function(session, event) {
                let changedFilters = {
                    sessions: {
                        subscribed: this.filters.sessions.subscribed,
                        checkin: this.filters.sessions.checkin
                    }
                }
                changedFilters.sessions.checkin[session.id] = event.target.value
                let filters = Object.assign({}, this.filters, changedFilters)

                this.applyFilter(filters)
            },
            onRemoveExtField: function (field) {
                this.$emit('removeExtendedField', field)
            },
            selectAllGuests: function() {
                if (!this.selectAllLoading) {
                    this.$emit('selectAllGuests', this.filters)
                }
            },
            unSelectAllGuests: function() {
                if (!this.selectAllLoading) {
                    this.$emit('unSelectAllGuests', this.filters)
                }
            }
        }
    })
    export default GuestTableFilters
</script>

<style type="scss" scoped>
    .table-header-group{
    }
    .table-header-guest-group{
        background-color: rgba(13, 44, 61, 1);
        color: white;
    }
    .table-header-main-guest-group{
        background-color: rgba(13, 44, 61, 0.8);
        color: white;
    }
    .table-header-status-group{
        background-color: rgba(13, 44, 61, 0.6);
        color: white;
    }
    .table-header-status-group{
        background-color: rgba(13, 44, 61, 0.6);
        color: white;
    }
    .table-header-extended-fields-group{
        background-color: rgba(13, 44, 61, 0.4);
        color: white;
    }
    .table-header-survey-fields-group{
        background-color: rgba(13, 44, 61, 0.2);
        color: white;
    }
    .email-validity-head{
        min-width: 100px;
    }

    .chrome-messy-hidden-column{
        opacity: 0;
        overflow: hidden;
        position: fixed;
        left: -1000px;
        top: -1000px;
        width: 0px;
        height: 0px;
        margin: 0;
        padding: 0;
    }
</style>
