<template>
  <tr :key="guest.id" :data-test="isCompanion ? 'companion-row' : 'guest-row'" :class="{ 'companion-row': isCompanion }">
    <td>
      <i v-if="loading" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      <template v-else>

        <template v-if="selectionMode">
          <i class="fa fa-circle-o-notch fa-spin fa-fw" v-if="selectionLoading"></i>
          <input type="checkbox" v-else
            v-model="guestSelected"
            @click="onChangeGuestSelection"/>
        </template>
        <guest-table-row-actions v-else
          :item="guest"
          :isCompanion="isCompanion"
          :event="event"
          @delete="onDelete"
          @edit="onEdit">
        </guest-table-row-actions>
      </template>
    </td>

    <td @click="onEmailValidityAsk">
      <div v-if="verificationJobRunning">
        <i class="validity-icon fa fa-circle-o-notch fa-spin fa-fw"></i>
      </div>
      <div v-else>
        <div class="text-warning"
          v-if="guest.valid_email == 3"
          data-toggle="tooltip" data-placement="top"
          :title="$t('email.tltipUnCheckable')">
          <i class="validity-icon fa fa-exclamation-triangle fa-fw"></i>
        </div>
        <div class="text-warning"
          v-else-if="guest.valid_email == 2"
          data-toggle="tooltip" data-placement="top"
          :title="$t('email.tltipUnCheckable')">
          <i class="validity-icon fa fa-exclamation-triangle fa-fw"></i>
        </div>
        <div class="text-success"
          v-else-if="guest.valid_email == 1" data-toggle="tooltip" data-placement="top"
          :title="$t('email.tltipValidMail')">
          <i class="validity-icon fa fa-check-square fa-fw"></i>
        </div>
        <div class="text-danger"
          v-else-if="guest.valid_email == 0"
          data-toggle="tooltip" data-placement="top"
          :title="$t('email.tltipInvalidMail')">
          <i class="validity-icon fa fa-exclamation-triangle fa-fw"></i>
        </div>
        <div class="text-muted"
          v-else
          data-toggle="tooltip" data-placement="top"
          :title="$t('email.tltipToCheck')">
          <i class="validity-icon fa fa-question-circle fa-fw"></i>
        </div>
      </div>
    </td>

    <td v-if="nominativeCompanions">
      <span v-if="isCompanion" class="label label-info label-companion">
        {{ $t('companion.Companion') }}
      </span>
      <span v-else class="label label-info label-guest">
        {{ $t('guest.Guest') }}
      </span>
    </td>

    <td>
      <input type="checkbox" v-if="!isCompanion"
        :id="'checkbox-invited-' + guest.id"
        v-model="guest.invited"
        @click="onChange('invited')"
        ref="invChecked"
        :disabled="guest.declined == 1">
    </td>
    
    <td class="cell-nowrap">
      <template v-if="!isCompanion">
        <input type="checkbox"
          :id="'checkbox-subscribed-' + guest.id"
          v-model="guest.subscribed"
          @click="onChange('subscribed')"
          ref="subChecked"
          :disabled="guest.declined == 1"
          data-test="guest-checkbox-subscribed">
        <span class="label label-info guest-subscibe-date"
          v-if="guest.subscribed_at != null && guest.subscribed">
          {{ subscribedAtFormated }}
        </span>
      </template>
      <template v-else>
        <i class="fa fa-check"></i>
      </template>
    </td>

    <td v-if="!nominativeCompanions">
      {{ guest.companions }}
    </td>

    <td>
      <template v-if="nominativeCompanions">
        <input type="checkbox"
          :id="'checkbox-checkin-' + guest.id"
          v-model="guest.checkin"
          @click="onChange('checkin')"
          ref="checkChecked"
          :disabled="guest.declined == 1"
          data-test="guest-checkbox-checkin">
      </template>
      <template v-else>
        {{ guest.checkin }}
      </template>
    </td>

    <td>
      <input type="checkbox" v-if="!isCompanion"
        :id="'checkbox-declined-' + guest.id"
        v-model="isDeclined"
        ref="decChecked"
        @click="onChange('declined')">
    </td>

    <td data-test="guest-firstname">{{ guest.firstname }}</td>
    <td data-test="guest-lastname">{{ guest.lastname }}</td>
    <td data-test="guest-email" class="cell-nowrap">{{ guest.email }}</td>
    <td data-test="guest-company">{{ guest.company }}</td>
    <td>
      <small class="badge"
        data-test="guest-lang-badge"
        v-if="guest.language">{{ guest.language }}</small>
      <small class="badge"
        data-test="guest-lang-badge"
        v-else>-</small>
    </td>

    <template v-if="nominativeCompanions">
      <td colspan="4" v-if="guest.guest_id == null">&nbsp;</td>
      <template v-else>
        <td>{{ guest.guest.firstname }}</td>
        <td>{{ guest.guest.lastname }}</td>
        <td>{{ guest.guest.email }}</td>
        <td>{{ guest.guest.company }}</td>
      </template>
    </template>

    <td v-for="extField in extendedFields" :key="guest.id + '-' + extField"
      :data-test="'guest-extended-field-' + extField">
      {{ getExtField(extField) }}
    </td>

    <td v-for="field in surveyFields" :key="guest.id + '-' + field">
      {{ getSurveyField(field) }}
    </td>

    <td v-for="session in sessions" :key="guest.id + '-session-reserved-' + session.id"
      :data-test="'guest-session-reserved-' + session.id">
      {{ getSessionSubscribePlaces(session) }}
    </td>

    <td v-for="session in sessions" :key="guest.id + '-session-checkin-' + session.id"
      :data-test="'guest-session-checkin-' + session.id">
      {{ getSessionCheckinPlaces(session) }}
    </td>

  </tr>

</template>


<script>

import EventBus from '../../tools/EventBus'
import GuestTableRowActions from './GuestTableRowActions'

import GuestService from '../../services/GuestService'
import moment from 'moment'

const GuestTableRow = Vue.extend({
  data: function() {
    return {
      guestSelected: false,
      isDeclined: null
    }
  },
  mounted() {
    this.isDeclined = this.guest.declined
    this.guestSelected = this.selected
  },
  watch: {
    selected: function(value) {
      this.guestSelected = value
    },
    guest: function(value) {
      this.isDeclined = value.declined
    }
  },
  props: {
      guest: {
        required: true,
        type: Object
      },
      event: {
        required: true,
        type: Object
      },
      extendedFields: {
        required: true,
        type: Array
      },
      surveyFields: {
        required: true,
        type: Array
      },
      sessions: {
        required: false,
        type: Array,
        default: () => []
      },
      nominativeCompanions: {
        type: Boolean,
        default: false
      },
      verificationJobRunning: {
        type: Boolean,
        default: false
      },
      loading: { // is an action pending on guest
        type: Boolean,
        default: false
      },
      selectionMode: {
        type: Boolean,
        default: false
      },
      selected: {
        type: Boolean,
        default: false
      },
      selectionLoading: {
        type: Boolean,
        default: false
      }
  },
  components: {
    'guest-table-row-actions': GuestTableRowActions
  },
  computed: {
    subscribedAtFormated: function () {
      let date = moment(this.guest.subscribed_at.date +' Z', 'YYYY-MM-DD HH:mm:ss Z')
      return date.format('DD.MM.YYYY HH:mm')
    },
    isCompanion: function() {
      return this.guest.guest !== null && this.guest.guest != undefined
    }
  },
  methods: {
    onChangeGuestSelection: function () {
      this.$emit('selectionChange', {
        guest: this.guest,
        selected: !this.selected
      })
    },
    onEmailValidityAsk: function () {
      this.$emit('askEmailValidity')
    },
    onDelete: function () {
      if(confirm(this.$t('guest.AreYouSureDeleteGuest'))) {
        this.$emit('delete', this.guest)
      }
    },
    onEdit: function() {
      if (this.guest.guest_id == null) { // guest
        window.location.href = `/events/${this.event.id}/guests/${this.guest.id}/edit`
      }
      else {
        window.location.href = `/events/${this.event.id}/companions/${this.guest.id}/edit`
      }
    },
    onChange: function(attribut) {
      let askItem = Object.assign({}, this.guest)

      askItem.invited = attribut === 'invited' ? this.$refs.invChecked.checked : null
      askItem.subscribed = attribut === 'subscribed' ? this.$refs.subChecked.checked : null
      askItem.declined = attribut === 'declined' ? this.$refs.decChecked.checked : null
      askItem.checkin = attribut === 'checkin' ? this.$refs.checkChecked.checked : null

      if (askItem.declined) {
        EventBus.$emit('SHOW_CONFIRM_MODAL', {
          title: this.$t('guest.SetDeclinedWarningTitle'),
          message: this.$t('guest.SetDeclinedWarningMessage'),
          btnCancelLabel: this.$t('shared.Cancel'),
          btnOKLabel: this.$t('shared.Confirm'),
          callbackOK: () => {
            this.$emit('change', askItem)
          },
          callbackCancel: () => {
            this.isDeclined = false
          }
        })
      }
      else {
      this.$emit('change', askItem)
      }  
    },
    getExtField: function(field) {
      if (this.guest.extended_fields != null) {
        return this.guest.extended_fields[field]
      }
      else {
        return ''
      }
    },
    getSurveyField: function(field) {
      for (let guestField of this.guest.survey) {
        if (guestField.name === field) {
          return String(guestField.value)
        }
      }
      return ''
    },
    getSessionSubscribePlaces: function(session){
      if (this.guest.sessions === null || this.guest.sessions === undefined) {
        return 0
      }
      let guestSession = this.guest.sessions.filter(s => s.id === session.id).shift()
      return guestSession !== undefined ? guestSession.subscribed : 0
    },
    getSessionCheckinPlaces: function(session){
      if (this.guest.sessions === null || this.guest.sessions === undefined) {
        return "-"
      }
      let guestSession = this.guest.sessions.filter(s => s.id === session.id).shift()
      return guestSession !== undefined ? guestSession.checkin : "-"
    }
  }
})
export default GuestTableRow
</script>

<style type="scss" scoped>

  td{
    padding: 5px;
  }

  th{
    padding: 10px;
  }

  .cell-bold{
    font-weight: bold;
  }

  .companion-row{
    background-color: #f6f6f6;
  }
</style>
