<template>
    <div>
        <alert></alert>

        <div class="panel panel-default" >
            <div class="panel-heading">{{ $t('shared.Statistics') }}</div>
            <div class="panel-body" v-if="stats != null">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><small>{{ $t('guest.Guests') }}</small></th>
                                <th><small>{{ $t('guest.Companions') }}</small></th>
                                <th><small>{{ $t('guest.Total') }}</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ $t('guest.GuestsImported') }}</th>
                                <td>{{ stats.imported }}</td>
                                <td>{{ stats.companions }}</td>
                                <td>{{ stats.imported + stats.companions }}</td>
                            </tr>
                            <tr>
                                <th>{{ $t('guest.InvitationsSended') }}</th>
                                <td>{{ stats.invited }}</td>
                                <td>&nbsp;</td>
                                <td>{{ stats.invited }}</td>
                            </tr>
                            <tr>
                                <th>{{ $t('guest.GuestsSubscribed') }}</th>
                                <td>{{ stats.subscribed }}</td>
                                <td>{{ stats.subscribedCompanions }}</td>
                                <td>{{ stats.subscribed + stats.subscribedCompanions }}</td>
                            </tr>
                            <tr>
                                <th>{{ $t('guest.GuestsCheckedIn') }}</th>
                                <td>{{ stats.checkin }}</td>
                                <td>{{ stats.checkinCompanions }}</td>
                                <td>{{ stats.checkin + stats.checkinCompanions }}</td>
                            </tr>
                            <tr>
                                <th>{{ $t('guest.GuestsDeclined') }}</th>
                                <td>{{ stats.declined }}</td>
                                <td>{{ stats.declinedCompanions }}</td>
                                <td>{{ stats.declined + stats.declinedCompanions }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <event-stats-bar
                        :imported="stats.imported"
                        :total-companions="stats.companions"
                        :invited="stats.invited"
                        :subscribed="stats.subscribed"
                        :check-in="stats.checkin"
                        :declined="stats.declined"
                        :declined-companions="stats.declinedCompanions"
                        :subscribed-companions="stats.subscribedCompanions"
                        :checkin-companions="stats.checkinCompanions"
                        :height="168"></event-stats-bar>
                </div>
                <br/>
                <a v-bind:href="surveyFormUrl()" class="btn btn-primary btn-xs" title="edit">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i> {{ $t('event.SurveyResults') }}
                </a>
            </div>
             <div class="panel-body text-center" v-else>
                <i  class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
</template>

<script>
    import EventStatsBar from './EventStatsBar'
    import EventService from '../../services/EventService'
    import Alert from '../Alert'
    import EventBus from '../../tools/EventBus'

    const EventStatsShow = Vue.extend({
        data () {
            return {
                event: null,
                stats: null
            }
        },
        components: {
            'event-stats-bar': EventStatsBar,
            'alert': Alert
        },
        methods: {
           surveyFormUrl: function() {
               return "/events/" + this.event.id + "/surveyForm/results"
           }
        },
        created: function() {
            this.event = JSON.parse($('#json-event-infos').html())

            EventService.stats(this.event.id).then((reponse) => {
                this.stats = reponse.data
            }).catch((error) => {
                EventBus.$emit('SHOW_ERROR', this.$t('shared.ErrorHasProduced'))
            })
        }
    })
    export default EventStatsShow
</script>

<style type="scss" scoped>

</style>
